#addProduct {
    .form-body {
        .form-group {
            .pbm {
                padding-bottom: 0px !important;
                padding-top: 5px;
                .icheckbox_flat-red {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0;
                    padding: 0;
                    width: 20px;
                    height: 20px;
                    background: url('assets/images/red.png') no-repeat;
                    border: none;
                    cursor: pointer;
                    input[type="checkbox"] {
                        position: absolute;
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                        padding: 0;
                        margin: 0;
                    }
                }
                .icheckbox_flat-red.checked {
                    background-position: -22px 0;
                }
            }
            .selectProductType {
                width: 56%;
            }
            .addProductTypeBtn {
                width: 10%;
                padding: 0;
                padding-right: 8px;
                .btn {
                    width: 100%;
                }
            }
            .addCode {
                margin-top: 10px;
            }
            .codesRow {
                margin: 0px;
                .codesDiv {
                    padding: 0px;
                    padding-top: 5px;
                    padding-right: 5px;
                }
            }
            .radioButtonCustom {
                &.clearMargin {
                    label {
                        margin-top: 0px;
                        padding-top: 0px;
                    }
                }
                label {
                    height: 34px;
                    padding-top: 5px;
                    margin-top: 10px;
                }
            }
            .selectCenter {
                padding-right: 0px;
                height: 34px;
            }
        }
    }
    .btn {
        box-shadow: none;
        background-image: none;
        text-shadow: none;
    }
}