<!-- title -->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
  <div class="page-header pull-left">
    <div class="page-title">{{Heading}}</div>
  </div>
  <ol class="breadcrumb page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>&nbsp;
      <a [routerLink]="['/dashboard']">Home</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
      <a [routerLink]="['/product/manage/list']">{{Heading}}</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    </li>
    <li class="active">เพิ่ม{{Heading}}</li>
  </ol>

  <div class="clearfix"></div>
</div>

<!-- content -->
<div class="page-content" id="manageProduct">
  <ul id="manageProductTab" class="nav nav-tabs ul-edit responsive">
    <li class="active"><a href="#addProduct" data-toggle="tab">เพิ่ม{{Heading}}</a></li>
  </ul>
  <div id="manageProductTabContent" class="tab-content">
    <div id="addProduct" class="tab-pane fade in active">
      <form [formGroup]="productForm" class="form-horizontal" (ngSubmit)="sendForm()">
        <div class="form-body pal">
          <div class="form-group">
            <label for="code" class="col-md-3 control-label">code</label>
            <div class="col-md-8">
              <div class="row codesRow">
                <div class="col-md-6 codesDiv" *ngFor="let item of codes; let i = index">
                  <div class="input-group">
                    <input id="code" type="text" placeholder="ID" class="form-control" [(ngModel)]="codes[i].code" [ngModelOptions]="{standalone: true}"
                      [disabled]="autoCodeProduct" />
                    <span class="input-group-addon" (click)=deleteCodes(i)><i class="fa fa-times"></i></span>
                  </div>
                </div>
              </div>
              <div class="row codesRow radioButtonCustom">
                <button class="btn btn-success btn-outlined btn addCode" (click)="addCodes()" type="button" [disabled]="autoCodeProduct">เพิ่ม code</button>
                <label class="btn active">
                  <input type="checkbox" (change)="checkAutoCode()" name="autoCode" formControlName="autoCode" [(ngModel)]="autoCodeProduct"  >
                  <i class="fa fa-square-o notCheck"></i>
                  <i class="fa fa-check-square selected"></i>
                  <span>สร้าง ID อัตโนมัติ</span>
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="col-md-3 control-label">ชื่อ{{Heading}}<span class='require'>*</span></label>
            <div class="col-md-8">
              <div>
                <div class="row">
                  <div class="col-md-2 selectCenter">
                    <select [(ngModel)]="brands_select" class="selectCenter" name="brands" style="width:100%" [ngModelOptions]="{standalone: true}">
                        <option value="">อื่นๆ</option>
                        <option *ngFor="let brand of brands" [value]="brand">{{brand}}</option>
                    </select>
                    <!--<select class="selectCenter ng-pristine ng-valid ng-touched" name="status" style="width:100%">
                      <option value="" ng-reflect-value="1">อื่นๆ</option>
                      <option value="2" ng-reflect-value="2">กำลังเปลี่ยน</option>
                      <option value="3" ng-reflect-value="3">สำเร็จ</option>
                      <option value="4" ng-reflect-value="4">ข้อผิดพลาด</option>
                    </select>-->
                  </div>
                  <div class="col-md-10">
                    <input id="name" type="text" placeholder="ชื่อ{{Heading}}" name="name" class="form-control" formControlName="name" />
                  </div>
                </div>
                <p class="text-danger" *ngIf="name.hasError('required') && name.dirty">กรุณากรอกชื่อสินค้า</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="product_type_id" class="col-md-3 control-label">ประเภทสินค้า<span class='require'>*</span></label>
            <div class="col-md-7 selectProductType">
              <ng-select name="product_type_id" formControlName="product_type_id" [options]="product_type_data" [multiple]="false" highlightColor="#d94e37"
                highlightTextColor="#ffffff" *ngIf="product_type_datas" notFoundMsg="ไม่พบประเภทสินค้า">
              </ng-select>
              <p class="text-danger" *ngIf="product_type_id.hasError('required') && product_type_id.dirty">กรุณาเลือกประเภทสินค้า</p>
            </div>
            <div class="col-md-1 addProductTypeBtn">
              <button class="btn col-md-1 btn-success btn-outlined" (click)="openEditModal()" type="button">เพิ่มประเภท</button>
            </div>
          </div>
          <div class="form-group">
            <label for="cost" class="col-md-3 control-label">ราคาต้นทุน<span class='require'>*</span></label>
            <div class="col-md-8">
              <div>
                <input id="cost" type="text" placeholder="ราคาต้นทุน" name="cost" class="form-control" formControlName="cost" />
                <p class="text-danger" *ngIf="cost.hasError('required') && cost.dirty">กรุณากรอกราคาขายจริง</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="sell_price" class="col-md-3 control-label">ราคาขายจริง<span class='require'>*</span></label>
            <div class="col-md-8">
              <div>
                <input id="sell_price" type="text" placeholder="ราคาขายจริง" name="sell_price" class="form-control" formControlName="sell_price"
                />
                <p class="text-danger" *ngIf="sell_price.hasError('required') && sell_price.dirty">กรุณากรอกราคาขายจริง</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="detail" class="col-md-3 control-label">รายละเอียด</label>
            <div class="col-md-8">
              <div>
                <textarea id="detail" rows="3" class="form-control" name="detail" formControlName="detail"></textarea>
              </div>
            </div>
          </div>
          <div class="form-group"><label for="inputDetail" class="col-md-3 control-label">หมายเหตุ</label>
            <div class="col-md-8">
              <textarea id="inputDetail" rows="3" class="form-control" formControlName="remark"></textarea>
            </div>
          </div>
          <div class="form-group" *ngIf="autoTranIn">
            <div class="col-md-8 radioButtonCustom col-md-offset-3 clearMargin">
              <div>
                <label class="btn active">
                  <input type="checkbox" name="isCreateTranIn" formControlName="isCreateTranIn" [(ngModel)]="isCreateTranIn">
                  <i class="fa fa-square-o notCheck"></i>
                  <i class="fa fa-check-square selected"></i>
                  <span>นำเข้าสินค้าอัตโนมัติ</span>
                </label>
              </div>
            </div>
          </div>
          <div class="form-actions">
            <div class="col-md-12">
              <button type="submit" class="btn btn-success btn-outlined" [disabled]="!productForm.valid">บันทึก</button>              &nbsp;
              <!--<button type="submit" class="btn btn-success btn-outlined">บันทึก</button> &nbsp;-->
              <button type="button" class="btn btn-danger btn-outlined">ยกเลิก</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #editModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modalEditProduct">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">เพิ่มประเภทสินค้า</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="productTypeForm" class="form-horizontal" (ngSubmit)="saveProductType()">
        <div class="modal-body">
          <div class="form-body pal">
            <div class="form-group">
              <label for="name" class="col-md-3 control-label">ชื่อประเภทสินค้า<span class='require'>*</span></label>
              <div class="col-md-5">
                <div class="input-icon right">
                  <input type="text" id="name" name="name" class="form-control" formControlName="name_product_type" />
                  <p class="text-danger" *ngIf="name_product_type.hasError('required') && name_product_type.dirty">กรุณากรอกชื่อ{{Heading}}</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="detail" class="col-md-3 control-label">รายละเอียด<span class='require'>*</span></label>
              <div class="col-md-5">
                <div class="input-icon right">
                  <textarea id="detail" rows="3" class="form-control" name="detail" formControlName="detail_product_type"></textarea>
                  <p class="text-danger" *ngIf="detail_product_type.hasError('required') && detail_product_type.dirty">กรุณากรอกรายละเอียด</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="editModal.hide()">ยกเลิก</button>
          <button type="submit" class="btn btn-success btn-square" [disabled]="!productTypeForm.valid">บันทึก</button>
        </div>
      </form>
    </div>
  </div>
</div>