#manageProduct {
  .page {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #manageProductTabContent {
    .actionWhenSelect {
      position: absolute;
      z-index: 3;
      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        i {
          margin-right: 10px;
        }
      }
    }
    .radioButtonCustom {
      label.btn {
        width: 20px;
        padding: 0px;
        text-align: center;
      }
    }
  }
  .contentLeft{
    text-align: left;
    padding-left: 15px;
  }
}

.modalEditProduct {
  .addProductTypeBtn {
    width: 16%;
    padding: 0;
    padding-right: 8px;
    .btn {
      width: 100%;
    }
  }
}
