<!-- title -->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
  <div class="page-header pull-left">
    <div class="page-title">{{Heading}}</div>
  </div>
  <ol class="breadcrumb page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>&nbsp;
      <a [routerLink]="['/dashboard']">Home</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    </li>
    <li class="active">{{Heading}}</li>
  </ol>

  <div class="clearfix"></div>
</div>

<!-- content -->
<div class="page-content" id="manageProduct">
  <ul class="nav nav-tabs ul-edit responsive">
    <li class="active">
      <a href="#listProduct" data-toggle="tab">ค้นหา{{Heading}}</a>
    </li>
  </ul>
  <div class="tab-content">
    <form [formGroup]="productSearchForm" class="form-horizontal" (ngSubmit)="sendSearchForm()">
      <div class="row">
        <div class="form-group  col-md-4">
          <label for="name" class="col-md-5 control-label">คำค้นหา</label>
          <div class="col-md-7">
            <input id="name" type="text" placeholder="ชื่อสินค้าหรือรายละเอียด" name="search_text" class="form-control" formControlName="search_text"
            />
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="search_type" class="col-md-5 control-label">ประเภทสินค้า</label>
          <div class="col-md-7 selectProductType">
            <!-- <ng-select name="search_type" formControlName="search_type" [options]="product_search_type" [multiple]="false" highlightColor="#d94e37"
              highlightTextColor="#ffffff" *ngIf="product_type_datas" notFoundMsg="ไม่พบประเภทสินค้า">
            </ng-select> -->
            <select formControlName="search_type" name="search_type" class="selection">
              <option *ngFor="let item of product_search_type" [attr.value]="item.value" [attr.selected]="item.value == 0 ? true : null">{{item.label}}</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="search_status" class="col-md-5 control-label">สถานะสินค้า</label>
          <div class="col-md-7 selectProductType">
            <!-- <ng-select name="search_status" formControlName="search_status" [options]="product_status_data" [multiple]="false" highlightColor="#d94e37"
              highlightTextColor="#ffffff" *ngIf="product_status_data">
            </ng-select> -->
            <select formControlName="search_status" name="search_status" class="selection">
              <option *ngFor="let item of product_status_data" [attr.value]="item.value" [attr.selected]="item.value == 0 ? true : null">{{item.label}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row" style="text-align:end">
        <div class="col-md-12">
          <button type="submit" class="btn btn-success btn-outlined">ค้นหา</button> &nbsp;
          <button type="reset" class="btn btn-danger btn-outlined">ล้าง</button>
        </div>
      </div>
    </form>
  </div>
  <ul id="manageProductTab" class="nav nav-tabs ul-edit responsive" *ngIf="product_data">
    <li class="active">
      <a href="#listProduct" data-toggle="tab">จัดการ{{Heading}}</a>
    </li>
  </ul>
  <div id="manageProductTabContent" class="tab-content" *ngIf="product_data">
    <app-loading *ngIf="isLoading"></app-loading>
    <div id="listProduct" class="tab-pane fade in active">
      <div class="row" [hidden]="!haveSelected" style="height: 50px;">
        <div class="col-md-8">
          <div class="actionWhenSelect">
            <button class="btn btn-violet btn-outlined" (click)="printBarcode()">
              <i class="fa fa-barcode"></i>&nbsp;พิมพ์ Barcode ({{selectedLength}})</button>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="!isLoading">
        <div class="col-lg-12 datatable-simple">
          <table datatable class="table table-bordered" [dtOptions]="dtOptions" *ngIf="product_data">
            <thead>
              <tr>
                <th></th>
                <th>barcode</th>
                <th>ชื่อสินค้า</th>
                <th>ประเภท</th>
                <th>ต้นทุน</th>
                <th>ราคา</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of product_data">
                <td class="radioButtonCustom">
                  <label class="btn active">
                    <input type="checkbox" class="form-control" (change)="checkProduct()" name="checkProduct" />
                    <i class="fa fa-square-o notCheck"></i>
                    <i class="fa fa-check-square selected"></i>
                  </label>
                </td>
                <td>{{item.code}}</td>
                <td class="contentLeft">{{item.name}}</td>
                <td>{{item.product_type && item.product_type.name}}</td>
                <td>{{item.cost}}</td>
                <td>{{item.sell_price}}</td>
                <td>
                  <div class="actionsBtn">
                    <a class="btn btn-yellow btn-outlined" (click)="showDetail(item.id)">
                      <i class="fa fa-info"></i>
                    </a>
                    <a class="btn btn-violet btn-outlined" (click)="printBarcode(item.id)" target="_blank">
                      <i class="fa fa-barcode"></i>
                    </a>
                    <a class="btn btn-info btn-outlined" (click)="openEditModal(item.id)">
                      <i class="fa fa-edit"></i>
                    </a>
                    <a class="btn btn-danger btn-outlined" (click)="openDeleteModal(item.id)">
                      <i class="fa fa-trash"></i>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #editModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modalEditProduct">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">แก้ไข{{Heading}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="productForm" class="form-horizontal" (ngSubmit)="saveChange()">
        <div class="modal-body" *ngIf="selectedItem">
          <div class="form-body pal">
            <div class="form-group">
              <label for="code" class="col-md-3 control-label">code</label>
              <div class="col-md-8 radioButtonCustom">
                <div>
                  <input id="code" type="text" placeholder="ID" class="form-control" formControlName="code" [(ngModel)]="selectedItem.code"
                  />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="name" class="col-md-3 control-label">ชื่อ{{Heading}}
                <span class='require'>*</span>
              </label>
              <div class="col-md-8">
                <div>
                  <input id="name" type="text" placeholder="ชื่อ{{Heading}}" name="name" class="form-control" formControlName="name" [(ngModel)]="selectedItem.name"
                  />
                  <p class="text-danger" *ngIf="name.hasError('required') && name.dirty">กรุณากรอกชื่อสินค้า</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="product_type_id" class="col-md-3 control-label">ประเภทสินค้า
                <span class='require'>*</span>
              </label>
              <div class="col-md-8 selectProductType">
                <!--<ng-select name="product_type_id" formControlName="product_type_id" [options]="product_type_data" [multiple]="false" highlightColor="#d94e37"
                  highlightTextColor="#ffffff" *ngIf="product_type_datas" notFoundMsg="ไม่พบประเภทสินค้า">
                </ng-select>-->
                <select [(ngModel)]="selectedItem.product_type_id" formControlName="product_type_id" name="Select name" class="selection">
                  <option *ngFor="let item of product_type_datas" [attr.value]="item.id" [attr.selected]="item.id == selectedItem.product_type_id ? true : null">{{item.name}}</option>
                </select>
                <p class="text-danger" *ngIf="product_type_id.hasError('required') && product_type_id.dirty">กรุณาเลือกประเภทสินค้า</p>
              </div>
            </div>
            <div class="form-group">
              <label for="cost" class="col-md-3 control-label">ราคาต้นทุน</label>
              <div class="col-md-8">
                <div>
                  <input id="cost" type="text" placeholder="ราคาต้นทุน" name="cost" class="form-control" formControlName="cost" [(ngModel)]="selectedItem.cost"
                  />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="sell_price" class="col-md-3 control-label">ราคาขายจริง
                <span class='require'>*</span>
              </label>
              <div class="col-md-8">
                <div>
                  <input id="sell_price" type="text" placeholder="ราคาขายจริง" name="sell_price" class="form-control" formControlName="sell_price"
                    [(ngModel)]="selectedItem.sell_price" />
                  <p class="text-danger" *ngIf="sell_price.hasError('required') && sell_price.dirty">กรุณากรอกราคาขายจริง</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="detail" class="col-md-3 control-label">รายละเอียด</label>
              <div class="col-md-8">
                <div>
                  <textarea id="detail" rows="3" class="form-control" name="detail" formControlName="detail" [(ngModel)]="selectedItem.detail"></textarea>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="inputDetail" class="col-md-3 control-label">หมายเหตุ</label>
              <div class="col-md-8">
                <textarea id="inputDetail" rows="3" class="form-control" formControlName="remark" [(ngModel)]="selectedItem.remark"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="editModal.hide()">ยกเลิก</button>
          <button type="submit" class="btn btn-success btn-square">บันทึก</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #deleteModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modalEditProduct">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">ยืนยันการลบ{{Heading}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedItem">
        <p>คุณแน่ใจที่ต้องการจะลบ "{{selectedItem.name}}"</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="deleteModal.hide()">ยกเลิก</button>
        <button type="button" class="btn btn-success btn-square" (click)="deleteItem()">แน่ใจ</button>
      </div>
    </div>
  </div>
</div>