<div>
  <app-loading *ngIf="isLoading"></app-loading>
  <div class="row">
    <div class="col-md-6">
      <div class="portlet box">
        <div class="portlet-header">
          <div class="caption">เลือกช่วงเดือน</div>
        </div>
        <div class="portlet-body">
          <div class="row btnGroupSelect">
            <div class="btn-group">
              <button type="button" class="btn btn-grey btn-outlined" (click)="getReport('thisMonth')">เดือนนี้</button>
              <button type="button" class="btn btn-grey btn-outlined" (click)="getReport('lastMonth')">เดือนที่แล้ว</button>
              <button type="button" class="btn btn-grey btn-outlined" (click)="getReport('twoMonthAgo')">ย้อนหลัง 2 เดือน</button>
            </div>
          </div>
          <!--<div class="row">
            <form class="form-horizontal" [formGroup]="reportDateForm">
              <div class="form-group">
                <label for="" class="col-md-offset-3 col-md-2 control-label">วันที่รับซ่อม<span class='require'>*</span></label>
                <div class="col-md-4">
                  <div class="input-group">
                    <input type="text" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" class="datepicker-default form-control" ngbDatepicker
                      #d="ngbDatepicker" (click)="d.toggle()" formControlName="date_start_form" [(ngModel)]="date_start" />
                    <div class="input-group-addon" (click)="d.toggle()"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-md-offset-3 col-md-2 control-label">วันที่รับซ่อม<span class='require'>*</span></label>
                <div class="col-md-4">
                  <div class="input-group">
                    <input type="text" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" class="datepicker-default form-control" ngbDatepicker
                      #d1="ngbDatepicker" (click)="d1.toggle()" formControlName="date_end_form" [(ngModel)]="date_end" />
                    <div class="input-group-addon" (click)="d1.toggle()"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4 col-md-offset-4 btnAction">
                  <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="reportDateForm.reset">ล้าง</button>
                  <button type="submit" class="btn btn-success btn-outlined btn-square" (click)="getReport('selectDate')">ดูรายงาน</button>
                </div>
              </div>
            </form>
          </div>-->
        </div>
      </div>
      <div class="portlet box">
        <div class="portlet-header">
          <div class="caption">สรุปยอดรายการ</div>
        </div>
        <div class="portlet-body totalCost">
          <div class="col-md-12 detail">
            <div class="col-md-12 totalCost">
              <table *ngIf="data">
                <tr>
                  <td class="title">
                    <h4>รายการขายได้</h4>
                  </td>
                  <td>{{data.count_sell}}</td>
                  <td>
                    <h4>รายการ</h4>
                  </td>
                </tr>
                <tr>
                  <td class="title">
                    <h4>รวมรายการขายหน้าร้าน</h4>
                  </td>
                  <td>{{data.sum_retail_price}}</td>
                  <td>
                    <h4>บาท</h4>
                  </td>
                </tr>
                <tr>
                  <td class="title">
                    <h4>รวมรายการขายส่ง</h4>
                  </td>
                  <td>{{data.sum_wholesale_price}}</td>
                  <td>
                    <h4>บาท</h4>
                  </td>
                </tr>
                <tr>
                  <td class="title">
                    <h4>รวมรายการขายทั้งหมด</h4>
                  </td>
                  <td>{{data.sum_price_sell}}</td>
                  <td>
                    <h4>บาท</h4>
                  </td>
                </tr>
                <tr>
                  <td class="title">
                    <h4>รายการหัก</h4>
                  </td>
                  <td>{{data.sum_general_expense_price}}</td>
                  <td>
                    <h4>บาท</h4>
                  </td>
                </tr>
                <tr>
                  <td class="title">
                    <h3>ยอดคงเหลือ</h3>
                  </td>
                  <td>
                    <h3>{{data.balance}}</h3>
                  </td>
                  <td>
                    <h3>บาท</h3>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="portlet box">
        <div class="portlet-header">
          <div class="caption">รายการหัก</div>
        </div>
        <div class="portlet-body general_expenses">
          <div class="row">
            <div class="col-md-12 detail">
              <table class="table table-hover" *ngIf="data">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>รายการ</th>
                    <th>จำนวน</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of data.general_expenses; let i = index;">
                    <td>{{i + 1}}</td>
                    <td>{{item.detail}}</td>
                    <td>{{item.amount}}</td>
                  </tr>
                </tbody>
              </table>
              <p class="noContent" *ngIf="data.product_transection_wholesales.length === 0">ไม่มีข้อมูล</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 general_expenses">
      <div class="portlet box ">
        <div class="portlet-header">
          <div class="caption">รายการขายหน้าร้าน</div>
        </div>
        <div class="portlet-body general_expenses">
          <div class="row">
            <div class="col-md-12 detail">
              <table class="table table-hover" *ngIf="data">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>วันที่</th>
                    <th>สินค้า</th>
                    <th>จำนวน</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of data.product_transection_retails; let i = index;">
                    <td>{{i + 1}}</td>
                    <td>{{item.created_at | date:"yyyy-MM-dd"}}</td>
                    <td>{{item.product_id}}</td>
                    <td>{{item.sell_price}}</td>
                  </tr>
                </tbody>
              </table>
              <p class="noContent" *ngIf="data.product_transection_wholesales.length === 0">ไม่มีข้อมูล</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 general_expenses">
      <div class="portlet box ">
        <div class="portlet-header">
          <div class="caption">รายการขายส่ง</div>
        </div>
        <div class="portlet-body general_expenses">
          <div class="row">
            <div class="col-md-12 detail">
              <table class="table table-hover" *ngIf="data">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>วันที่</th>
                    <th>สินค้า</th>
                    <th>จำนวน</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of data.product_transection_wholesales; let i = index;">
                    <td>{{i + 1}}</td>
                    <td>{{item.created_at | date:"yyyy-MM-dd"}}</td>
                    <td>{{item.product_id}}</td>
                    <td>{{item.sell_price}}</td>
                  </tr>
                </tbody>
                <!--<tfoot>
                  <tr>
                    <td colspan="2">
                      ราคาขายส่งรวม
                    </td>
                    <td>
                      {{data.sum_wholesale_price}}
                    </td>
                  </tr>
                </tfoot>-->
              </table>
              <p class="noContent" *ngIf="data.product_transection_wholesales.length === 0">ไม่มีข้อมูล</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>