<!-- title -->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
  <div class="page-header pull-left">
    <div class="page-title" *ngIf="!shop_name">{{Heading}}</div>
    <div class="page-title" *ngIf="shop_name">{{Heading}}ประจำร้าน {{shop_name}}</div>
  </div>
  <ol class="breadcrumb page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>&nbsp;
      <a [routerLink]="['/dashboard']">Home</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    </li>
    <li class="active">{{Heading}}</li>
  </ol>
  <div class="btn btn-blue reportrange hide">
    <i class="fa fa-calendar"></i>&nbsp;
    <span></span>&nbsp;report&nbsp;
    <i class="fa fa-angle-down"></i>
    <input type="hidden" name="datestart" />
    <input type="hidden" name="endstart" />
  </div>
  <div class="clearfix"></div>
</div>

<!-- content -->
<div class="page-content" id="report">
  <ul id="reportTab" class="nav nav-tabs ul-edit responsive">
    <li class="active"><a href="#reportDay" data-toggle="tab">รายวัน</a></li>
    <li (click)="getReportMonth('thisMonth')"><a href="#reportMonth" data-toggle="tab">รายเดือน</a></li>
  </ul>
  <div id="reportTabContent" class="tab-content">
    <div id="reportDay" class="tab-pane fade in active">
      <div>
        <app-loading *ngIf="isLoading"></app-loading>
        <div class="row">
          <div class="col-md-6">
            <div class="portlet box">
              <div class="portlet-header">
                <div class="caption">เลือกช่วงวัน</div>
              </div>
              <div class="portlet-body">
                <div class="row btnGroupSelect">
                  <div class="btn-group">
                    <button type="button" class="btn btn-grey btn-outlined" (click)="getReportDay('today')">วันนี้</button>
                    <button type="button" class="btn btn-grey btn-outlined" (click)="getReportDay('yesterday')">เมื่อวานนี้</button>
                    <button type="button" class="btn btn-grey btn-outlined" (click)="getReportDay('ago',7)">ย้อนหลัง 7 วัน</button>
                    <button type="button" class="btn btn-grey btn-outlined" (click)="getReportDay('ago',15)">ย้อนหลัง 15 วัน</button>
                    <button type="button" class="btn btn-grey btn-outlined" (click)="getReportDay('ago',30)">ย้อนหลัง 30 วัน</button>
                  </div>
                </div>
                <div class="row form-horizontal">
                  <label class="col-md-4 control-label">เลือกช่วงวัน</label>
                  <div class="col-md-4">
                    <my-date-range-picker [options]="myDateRangePickerOptions" (dateRangeChanged)="onDateRangeChanged($event)" [(ngModel)]="date_form"></my-date-range-picker>
                  </div>
                </div>
              </div>
            </div>
            <div class="portlet box">
              <div class="portlet-header">
                <div class="caption">สรุปยอดรายการ</div>
              </div>
              <div class="portlet-body totalCost">
                <div class="detail">
                  <table *ngIf="dataDay">
                    <tr>
                      <td class="title">
                        <h4>รายการขายได้</h4>
                      </td>
                      <td>{{dataDay.count_sell || 0}}</td>
                      <td>
                        <h4>รายการ</h4>
                      </td>
                    </tr>
                    <tr>
                      <td class="title">
                        <h4>รวมรายการขายหน้าร้าน</h4>
                      </td>
                      <td>{{dataDay.sum_retail_price || 0}}</td>
                      <td>
                        <h4>บาท</h4>
                      </td>
                    </tr>
                    <tr>
                      <td class="title">
                        <h4>รวมรายการขายส่ง</h4>
                      </td>
                      <td>{{dataDay.sum_wholesale_price || 0}}</td>
                      <td>
                        <h4>บาท</h4>
                      </td>
                    </tr>
                    <tr>
                      <td class="title">
                        <h4>รวมรายการขายทั้งหมด</h4>
                      </td>
                      <td>{{dataDay.sum_price_sell || 0}}</td>
                      <td>
                        <h4>บาท</h4>
                      </td>
                    </tr>
                    <tr>
                      <td class="title">
                        <h4>รายการหัก</h4>
                      </td>
                      <td>{{dataDay.sum_general_expense_price || 0}}</td>
                      <td>
                        <h4>บาท</h4>
                      </td>
                    </tr>
                    <tr>
                      <td class="title">
                        <h3>ยอดคงเหลือ</h3>
                      </td>
                      <td>
                        <h3>{{dataDay.balance || 0}}</h3>
                      </td>
                      <td>
                        <h3>บาท</h3>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portlet box">
              <div class="portlet-header">
                <div class="caption">รายการหัก</div>
              </div>
              <div class="portlet-body general_expenses">
                <div class="row" *ngIf="!isLoading">
                  <div class="col-md-12 detail datatable-simple" *ngIf="dataDay">
                    <table datatable class="table table-hover" [dtOptions]="dtOptions" *ngIf="dataDay">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>วันที่</th>
                          <th>รายการ</th>
                          <th>จำนวน</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of dataDay.general_expenses; let i = index;">
                          <td>{{i + 1}}</td>
                          <td>{{item.created_at | date:"yyyy-MM-dd"}}</td>
                          <td>{{item.detail}}</td>
                          <td>{{item.amount}}</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="3" class="sum_title">
                            รายการหักรวม
                          </td>
                          <td class="sum_value">
                            {{dataDay.sum_general_expense_price}}
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 general_expenses">
            <div class="portlet box ">
              <div class="portlet-header">
                <div class="caption">รายการขายหน้าร้าน</div>
              </div>
              <div class="portlet-body general_expenses">
                <div class="row" *ngIf="!isLoading">
                  <div class="col-md-12 detail datatable-simple" *ngIf="dataDay">
                    <table datatable class="table table-hover" [dtOptions]="dtOptions" *ngIf="dataDay">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>วันที่</th>
                          <th>สินค้า</th>
                          <th>จำนวน</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of dataDay.product_transection_retails; let i = index;">
                          <td>{{i + 1}}</td>
                          <td>{{item.created_at | date:"yyyy-MM-dd"}}</td>
                          <td>{{item.product.name}}</td>
                          <td>{{item.sell_price}} ({{item.amount}})</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="3" class="sum_title">
                            ราคาขายหน้าร้านรวม
                          </td>
                          <td class="sum_value">
                            {{dataDay.sum_retail_price}}
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 general_expenses">
            <div class="portlet box ">
              <div class="portlet-header">
                <div class="caption">รายการขายส่ง</div>
              </div>
              <div class="portlet-body general_expenses">
                <div class="row" *ngIf="!isLoading">
                  <div class="col-md-12 detail datatable-simple" *ngIf="dataDay">
                    <table datatable class="table table-hover" [dtOptions]="dtOptions" *ngIf="dataDay">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>วันที่</th>
                          <th>สินค้า</th>
                          <th>จำนวน</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of dataDay.product_transection_wholesales; let i = index;">
                          <td>{{i + 1}}</td>
                          <td>{{item.created_at | date:"yyyy-MM-dd"}}</td>
                          <td>{{item.product.name}}</td>
                          <td>{{item.sell_price}} ({{item.amount}})</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="3" class="sum_title">
                            ราคาขายส่งรวม
                          </td>
                          <td class="sum_value">
                            {{dataDay.sum_wholesale_price}}
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="reportMonth" class="tab-pane fade">
      <div>
        <app-loading *ngIf="isLoading"></app-loading>
        <div class="row">
          <div class="col-md-6">
            <div class="portlet box">
              <div class="portlet-header">
                <div class="caption">เลือกช่วงเดือน</div>
              </div>
              <div class="portlet-body">
                <div class="row btnGroupSelect">
                  <div class="btn-group">
                    <button type="button" class="btn btn-grey btn-outlined" (click)="getReportMonth('thisMonth')">เดือนนี้</button>
                    <button type="button" class="btn btn-grey btn-outlined" (click)="getReportMonth('lastMonth')">เดือนที่แล้ว</button>
                    <button type="button" class="btn btn-grey btn-outlined" (click)="getReportMonth('twoMonthAgo')">ย้อนหลัง 2 เดือน</button>
                  </div>
                </div>
                <div class="selectMonth">
                  <div class="form-horizontal">
                    <div class="row">
                      <label class="col-md-4 control-label">เริ่มเดือน</label>
                      <month-picker class="col-md-4" (change)="onMonthChange($event.target.value, 'start')"></month-picker>
                      <year-picker class="col-md-3" (change)="onYearChange($event.target.value, 'start')"></year-picker>
                    </div>
                    <div class="row">
                      <label class="col-md-4 control-label">ถึงเดือน</label>
                      <month-picker class="col-md-4" (change)="onMonthChange($event.target.value, 'end')"></month-picker>
                      <year-picker class="col-md-3" (change)="onYearChange($event.target.value, 'end')"></year-picker>
                    </div>
                    <div class="btnAction">
                      <button type="button" class="btn btn-success btn-outlined" (click)="setMonthSelect()">ค้นหา</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="portlet box">
              <div class="portlet-header">
                <div class="caption">สรุปยอดรายการ</div>
              </div>
              <div class="portlet-body totalCost">
                <div class="col-md-12 detail">
                  <div class="totalCost">
                    <div *ngIf="dataMonth">
                      <table>
                        <tr>
                          <td class="title">
                            <h4>รายการขายได้</h4>
                          </td>
                          <td>{{dataMonth.count_sell}}</td>
                          <td>
                            <h4>รายการ</h4>
                          </td>
                        </tr>
                        <tr>
                          <td class="title">
                            <h4>รวมรายการขายหน้าร้าน</h4>
                          </td>
                          <td>{{dataMonth.sum_retail_price}}</td>
                          <td>
                            <h4>บาท</h4>
                          </td>
                        </tr>
                        <tr>
                          <td class="title">
                            <h4>รวมรายการขายส่ง</h4>
                          </td>
                          <td>{{dataMonth.sum_wholesale_price}}</td>
                          <td>
                            <h4>บาท</h4>
                          </td>
                        </tr>
                        <tr>
                          <td class="title">
                            <h4>รวมรายการขายทั้งหมด</h4>
                          </td>
                          <td>{{dataMonth.sum_price_sell}}</td>
                          <td>
                            <h4>บาท</h4>
                          </td>
                        </tr>
                        <tr>
                          <td class="title">
                            <h4>รายการหัก</h4>
                          </td>
                          <td>{{dataMonth.sum_general_expense_price}}</td>
                          <td>
                            <h4>บาท</h4>
                          </td>
                        </tr>
                        <tr>
                          <td class="title">
                            <h3>ยอดคงเหลือ</h3>
                          </td>
                          <td>
                            <h3>{{dataMonth.balance}}</h3>
                          </td>
                          <td>
                            <h3>บาท</h3>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portlet box">
              <div class="portlet-header">
                <div class="caption">รายการหัก</div>
              </div>
              <div class="portlet-body general_expenses">
                <div class="row" *ngIf="!isLoading">
                  <div class="col-md-12 detail datatable-simple" *ngIf="dataMonth">
                    <table datatable class="table table-hover" [dtOptions]="dtOptions" *ngIf="dataMonth">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>วันที่</th>
                          <th>รายการ</th>
                          <th>จำนวน</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of dataMonth.general_expenses; let i = index;">
                          <td>{{i + 1}}</td>
                          <td>{{item.created_at | date:"yyyy-MM-dd"}}</td>
                          <td>{{item.detail}}</td>
                          <td>{{item.amount}}</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="3" class="sum_title">
                            รายการหักรวม
                          </td>
                          <td class="sum_value">
                            {{dataMonth.sum_general_expense_price}}
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 general_expenses">
            <div class="portlet box ">
              <div class="portlet-header">
                <div class="caption">รายการขายหน้าร้าน</div>
              </div>
              <div class="portlet-body general_expenses">
                <div class="row" *ngIf="!isLoading">
                  <div class="col-md-12 detail datatable-simple" *ngIf="dataMonth">
                    <table datatable class="table table-hover" [dtOptions]="dtOptions" *ngIf="dataMonth">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>วันที่</th>
                          <th>สินค้า</th>
                          <th>จำนวน</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of dataMonth.product_transection_retails; let i = index;">
                          <td>{{i + 1}}</td>
                          <td>{{item.created_at | date:"yyyy-MM-dd"}}</td>
                          <td>{{item.product.name}}</td>
                          <td>{{item.sell_price}} ({{item.amount}})</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="3" class="sum_title">
                            ราคาขายหน้าร้านรวม
                          </td>
                          <td class="sum_value">
                            {{dataMonth.sum_retail_price}}
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 general_expenses">
            <div class="portlet box ">
              <div class="portlet-header">
                <div class="caption">รายการขายส่ง</div>
              </div>
              <div class="portlet-body general_expenses">
                <div class="row" *ngIf="!isLoading">
                  <div class="col-md-12 detail datatable-simple" *ngIf="dataMonth">
                    <table datatable class="table table-hover" [dtOptions]="dtOptions" *ngIf="dataMonth">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>วันที่</th>
                          <th>สินค้า</th>
                          <th>จำนวน</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of dataMonth.product_transection_wholesales; let i = index;">
                          <td>{{i + 1}}</td>
                          <td>{{item.created_at | date:"yyyy-MM-dd"}}</td>
                          <td>{{item.product.name}}</td>
                          <td>{{item.sell_price}} ({{item.amount}})</td>
                        </tr>
                      </tbody>
                      <tfoot *ngIf="dataMonth">
                        <tr>
                          <td colspan="3" class="sum_title">
                            ราคาขายส่งรวม
                          </td>
                          <td class="sum_value">
                            {{dataMonth.sum_wholesale_price}}
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>