<!-- title -->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
  <div class="page-header pull-left">
    <div class="page-title">{{Heading}}</div>
  </div>
  <ol class="breadcrumb page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>&nbsp;
      <a [routerLink]="['/dashboard']">Home</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    </li>
    <li class="active">{{Heading}}</li>
  </ol>
  <div class="btn btn-blue reportrange hide">
    <i class="fa fa-calendar"></i>&nbsp;
    <span></span>&nbsp;report&nbsp;
    <i class="fa fa-angle-down"></i>
    <input type="hidden" name="datestart" />
    <input type="hidden" name="endstart" />
  </div>
  <div class="clearfix"></div>
</div>

<!-- content -->
<div class="page-content" id="report">
  <ul id="reportTab" class="nav nav-tabs ul-edit responsive">
    <li class="active"><a href="#reportDay" data-toggle="tab">รายงานทุกร้านค้า</a></li>
  </ul>
  <div id="reportTabContent" class="tab-content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div id="manageProductType" class="tab-pane fade in active">
      <div class="row btnGroupSelect">
        <div class="btn-group">
          <button type="button" class="btn btn-grey btn-outlined" (click)="setDataToGet('today')">วันนี้</button>
          <button type="button" class="btn btn-grey btn-outlined" (click)="setDataToGet('yesterday')">เมื่อวานนี้</button>
          <button type="button" class="btn btn-grey btn-outlined" (click)="setDataToGet('threeDayAgo')">ย้อนหลัง 3 วัน</button>
          <button type="button" class="btn btn-grey btn-outlined" (click)="setDataToGet('fiveDayAgo')">ย้อนหลัง 5 วัน</button>
          <button type="button" class="btn btn-grey btn-outlined" (click)="setDataToGet('sevenDayAgo')">ย้อนหลัง 7 วัน</button>
          <button type="button" class="btn btn-grey btn-outlined" (click)="setDataToGet('thisMonth')">เดือนนี้</button>
          <button type="button" class="btn btn-grey btn-outlined" (click)="setDataToGet('lastMonth')">เดือนที่แล้ว</button>
          <button type="button" class="btn btn-grey btn-outlined" (click)="setDataToGet('twoMonthAgo')">ย้อนหลัง 2 เดือน</button>
        </div>
      </div>
      <div class="row form-horizontal">
        <label class="col-md-4 control-label">เลือกช่วงวัน</label>
        <div class="col-md-4">
          <my-date-range-picker [options]="myDateRangePickerOptions" (dateRangeChanged)="onDateRangeChanged($event)" [(ngModel)]="date_form"></my-date-range-picker>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 datatable-simple">
          <table datatable class="table table-bordered" [dtOptions]="dtOptions" *ngIf="data">
            <thead>
              <tr>
                <th>#</th>
                <th>ร้านค้า</th>
                <th>จำนวนการขาย</th>
                <th>ขายหน้าร้าน</th>
                <th>ขายส่ง</th>
                <th>หัก</th>
                <th>คงเหลือ</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data; let i = index;">
                <td>{{i + 1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.summary.count_sell}}</td>
                <td>{{item.summary.sum_retail_price}}</td>
                <td>{{item.summary.sum_wholesale_price}}</td>
                <td>{{item.summary.sum_general_expense_price}}</td>
                <td>{{item.summary.balance}}</td>
                <td>
                  <div class="actionsBtn">
                    <a class="btn btn-info btn-outlined" (click)="goToDetail(item)"><i class="fa fa-edit"></i></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>