.portlet {
    border-color: #777777;
    .portlet-header {
        background: #777777;
        color: #ffffff;
        vertical-align: middle;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .caption {
            line-height: inherit;
            width: 80%;
        }
        .tools {
            width: 20%;
            select {
                float: right;
            }
        }
    }
    .portlet-body {
        border: 1px solid #777777;
        border-top: 0px;
        .datatable-simple {
            float: inherit;
            .contentCenter {
                display: flex;
                align-items: center;
            }
        }
        .form-horizontal {
            .form-body {
                // padding-bottom: 0px !important;
                .form-actions {
                    padding: 0px;
                }
            }
            .btnAction {
                display: flex;
                justify-content: center;
                .btn {
                    &:first-child {
                        margin-right: 10px;
                    }
                }
            }
        }
        .btnGroupSelect {
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
            .btn-group {}
        }
    }
}

.totalCost {
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    table {
        width: 100%;
        tr {
            td {
                // min-width: 20%;
                text-align: end;
                padding: 10px;
                .title {
                    width: 40%;
                }
                &:last-child {
                    text-align: left;
                    width: 35%;
                    padding-left: 10px;
                }
                h3,
                h4 {
                    margin: 0px;
                    padding: 0px;
                }
            }
            &:last-child {
                color: #d94e37;
                td {
                    h3 {
                        font-weight: 500;
                    }
                }
            }
        }
        .title {
            width: auto;
            text-align: end;
            padding-right: 10px;
        }
    }
}

.general_expenses {
    .title {
        margin: 0px;
    }
    // .detail {
    //     .row {
    //         align-items: flex-start;
    //         display: flex;
    //         &:last-child {
    //             padding-top: 15px;
    //             text-align: center;
    //             justify-content: center;
    //             .btn {
    //                 text-shadow: none;
    //                 &:first-child {
    //                     margin-right: 10px;
    //                 }
    //             }
    //         }
    //     }
    //     .nameDatail {
    //         text-align: right;
    //         color: #d94e37;
    //     }
    //     .contentDetail {
    //         text-align: left;
    //         margin: 0px;
    //         margin-top: 10px;
    //         font-size: 15px;
    //     }
        .table {
            th {
                text-align: center;
            }
            tbody {
                tr {
                    td {
                        text-align: center;
                    }
                }
            }
        }
    // }
}