#report {
    #reportTabContent {
        .portlet {
            border-color: #777777;
            .portlet-header {
                background: #777777;
                color: #ffffff;
                vertical-align: middle;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .caption {
                    line-height: inherit;
                    width: 80%;
                }
                .tools {
                    width: 20%;
                    select {
                        float: right;
                    }
                }
            }
            .portlet-body {
                border: 1px solid #777777;
                border-top: 0px;
                .datatable-simple {
                    float: inherit;
                    .contentCenter {
                        display: flex;
                        align-items: center;
                    }
                }
                .form-horizontal {
                    .form-body {
                        .form-actions {
                            padding: 0px;
                        }
                    }
                    .btnAction {
                        display: flex;
                        justify-content: center;
                        .btn {
                            &:first-child {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
        .totalCost {
            display: flex;
            vertical-align: middle;
            align-items: center;
            justify-content: center;
            .detail {
                width: 100%;
            }
            table {
                width: 100%;
                tr {
                    .title {
                        min-width: 30%;
                        padding-left: 0px;
                    }
                    td {
                        // min-width: 20%;
                        text-align: end;
                        padding: 10px;
                        &:last-child {
                            text-align: left;
                            // width: 35%;
                            padding-left: 10px;
                        }
                        h3,
                        h4 {
                            margin: 0px;
                            padding: 0px;
                        }
                    }
                    &:last-child {
                        color: #d94e37;
                        td {
                            h3 {
                                font-weight: 500;
                            }
                        }
                    }
                }
                .title {
                    width: auto;
                    text-align: end;
                    padding-right: 10px;
                }
            }
        }
        .general_expenses {
            .title {
                margin: 0px;
            }
            .table {
                margin-bottom: 10px;
                thead {
                    border-bottom: 2px solid #ccc;
                    th {
                        text-align: center;
                    }
                }
                tbody {
                    tr {
                        td {
                            text-align: center;
                        }
                    }
                }
                tfoot {
                    td {
                        border-top: 2px solid #ccc;
                    }
                    .sum_title {
                        text-align: right;
                        font-weight: 600;
                        color: #d94e37;
                        font-size: 20px;
                    }
                    .sum_value {
                        text-align: center;
                        font-weight: 600;
                        color: #d94e37;
                        font-size: 20px;
                    }
                }
            }
        }
        p.noContent {
            text-align: center;
        }
        .btnGroupSelect {
            display: flex;
            justify-content: center;
            margin: 0px 5px 10px 5px;
            .btn-group {}
        }
        .selectMonth {
            .row {
                margin-bottom: 10px;
            }
            .btnAction {
                text-align: center;
            }
        }
    }
}