 @media only screen and (max-width: 768px) {
     #topbar {
         height: auto;
         .navbar-header {
             -webkit-transition: width 200ms linear;
             -moz-transition: width 200ms linear;
             -ms-transition: width 200ms linear;
             -o-transition: width 200ms linear;
             transition: width 200ms linear;
             width: 100%;
             #logo {
                 width: auto;
                 padding-left: 20px;
                 span.logo-text,
                 .logo-text-icon {
                     font-family: 'Oswald', sans-serif;
                 }
                 .logo-text-icon {
                     display: none;
                 }
             }
         }
         .topbar-main {
             line-height: 19px;
             .nav {
                 margin: 0px;
                 .topbar-user {
                     height: 50px;
                     margin-top: -1px;
                     margin: 0px 10px;
                     padding-left: 10px;
                     width: 44%;
                     .dropdown-toggle {
                         display: flex;
                         align-items: center;
                     }
                 }
                 .topbar-logout {
                     text-align: right;
                 }
             }
         }
     }
 }

 @media only screen and (min-width: 768px) {
     #topbar {
         .navbar-header {
             -webkit-transition: width 200ms linear;
             -moz-transition: width 200ms linear;
             -ms-transition: width 200ms linear;
             -o-transition: width 200ms linear;
             transition: width 200ms linear;
             #logo {
                 span.logo-text,
                 .logo-text-icon {
                     font-family: 'Oswald', sans-serif;
                 }
                 .logo-text-icon {
                     display: none;
                 }
             }
         }
         .topbar-main {
             line-height: 19px;
             .nav {
                 margin: 0px;
                 .topbar-user {
                     height: 50px;
                     margin-top: -1px;
                     margin: 0px 10px;
                     .dropdown-toggle {
                         display: flex;
                         align-items: center;
                     }
                 }
             }
         }
     }
 }

 .headerP {
     line-height: 50px;
     margin: 0px;
     color: #fff;
 }