<nav id="topbar" role="navigation" style="margin-bottom: 0;" data-step="1" data-intro="&lt;b&gt;Topbar&lt;/b&gt; has other styles with live demo. Go to &lt;b&gt;Layouts-&gt;Header&amp;Topbar&lt;/b&gt; and check it out."
  class="navbar navbar-default navbar-static-top">
  <div class="navbar-header" [ngClass]="{'hideMenu': isHideMenu}">
    <button type="button" data-toggle="collapse" data-target=".sidebar-collapse" class="navbar-toggle" >
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a id="logo" (click)="goToReport()" class="navbar-brand">
      <span class="fa fa-rocket"></span>
      <span class="logo-text">stock</span>
      <span class="logo-text-icon" [ngClass]="{'iconHideMenu': isHideMenu}">S</span>
    </a>
  </div>
  <div class="topbar-main">
    <a id="menu-toggle" (click)="hideMenu()" class="hidden-xs">
      <i class="fa fa-bars"></i>
    </a>
    <ul class="nav navbar navbar-top-links navbar-right mbn">
      <li class="dropdown topbar-user">
        <p class="headerP" *ngIf="user">{{user.name}}</p>
      </li>
      <li class="dropdown topbar-user topbar-logout" (click)="logout()">
        <p class="headerP"><i class="fa fa-key"></i>Log Out</p>
      </li>
    </ul>
  </div>
</nav>