<!-- title -->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
  <div class="page-header pull-left">
    <div class="page-title">{{Heading}}</div>
  </div>
  <ol class="breadcrumb page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>&nbsp;
      <a [routerLink]="['/dashboard']">Home</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    </li>
    <li class="active">{{Heading}}</li>
  </ol>
  <div class="clearfix"></div>
</div>

<!-- content -->
<div class="page-content" id="store">
  <ul id="storeTab" class="nav nav-tabs ul-edit responsive">
    <li class="active"><a href="#addStore" data-toggle="tab">เพิ่มร้านค้า</a></li>
  </ul>

  <div id="storeTabContent" class="tab-content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div id="addStore" class="tab-pane fade in active">
      <form [formGroup]="storeForm" class="form-horizontal" (ngSubmit)="sendForm()">
        <div class="form-body pal">
          <div class="form-group">
            <label for="name" class="col-md-3 control-label">ชื่อร้าน<span class='require'>*</span></label>
            <div class="col-md-5">
              <div class="input-icon right">
                <input type="text" id="name" name="name" class="form-control" formControlName="name" [(ngModel)]="data.name"
                />
                <p class="text-danger" *ngIf="name.hasError('required') && name.dirty">กรุณากรอกชื่อร้าน</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="tel" class="col-md-3 control-label">เบอร์ติดต่อ<span class='require'>*</span></label>
            <div class="col-md-5">
              <div class="input-icon right">
                <input type="tel" id="tel" name="tel" class="form-control" formControlName="tel" [(ngModel)]="data.tel"
                />
                <p class="text-danger" *ngIf="tel.hasError('required') && tel.dirty">กรุณากรอกเบอร์ติดต่อ</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="address" class="col-md-3 control-label">ที่อยู่<span class='require'>*</span></label>
            <div class="col-md-5">
              <div class="input-icon right">
                <textarea id="address" rows="3" class="form-control" name="address" formControlName="address" [(ngModel)]="data.address"></textarea>
                <p class="text-danger" *ngIf="address.hasError('required') && address.dirty">กรุณากรอกที่อยู่</p>
              </div>
            </div>
          </div>
          <div class="form-actions">
            <div class="col-md-5 col-md-offset-3">
              <button type="submit" class="btn btn-success btn-outlined" [disabled]="!storeForm.valid">บันทึก</button> &nbsp;
              <button type="reset" class="btn btn-danger btn-outlined">ยกเลิก</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
