<!-- title -->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
  <div class="page-header pull-left">
    <div class="page-title">{{Heading}}</div>
  </div>
  <ol class="breadcrumb page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>&nbsp;
      <a [routerLink]="['/dashboard']">Home</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    </li>
    <li class="active">{{Heading}}</li>
  </ol>
  <div class="btn btn-blue reportrange hide">
    <i class="fa fa-calendar"></i>&nbsp;
    <span></span>&nbsp;report&nbsp;
    <i class="fa fa-angle-down"></i>
    <input type="hidden" name="datestart" />
    <input type="hidden" name="endstart" />
  </div>
  <div class="clearfix"></div>
</div>

<!-- content -->
<div class="page-content" id="store">
  <ul id="storeTab" class="nav nav-tabs ul-edit responsive">
    <li class="active"><a href="#manageStore" data-toggle="tab">จัดการร้านค้า</a></li>
  </ul>
  <div id="storeTabContent" class="tab-content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div id="manageStore" class="tab-pane fade in active">
      <div class="row">
        <div class="col-lg-12 datatable-simple" [ngClass]="{'tableWhenHideMenu': !isHideMenu}">
          <table datatable class="table table-bordered" [dtOptions]="dtOptions" *ngIf="data">
            <thead>
              <tr>
                <th>ID</th>
                <th>ชื่อร้านค้า</th>
                <th>เบอร์</th>
                <th>ที่อยู่</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.tel}}</td>
                <td>{{item.address}}</td>
                <td>
                  <div class="actionsBtn">
                    <a class="btn btn-info btn-outlined" (click)="openEditModal(item.id)"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger btn-outlined" (click)="openDeleteModal(item.id)"><i class="fa fa-trash"></i></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" bsModal #editModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modalEditProduct">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">แก้ไข{{Heading}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="storeForm" class="form-horizontal" (ngSubmit)="saveChange()">
        <div class="modal-body" *ngIf="selectedItem">
          <div class="form-body pal">
            <div class="form-group">
              <label for="name" class="col-md-3 control-label">ชื่อร้าน<span class='require'>*</span></label>
              <div class="col-md-5">
                <div class="input-icon right">
                  <input type="text" id="name" name="name" class="form-control" formControlName="name" [(ngModel)]="selectedItem.name" />
                  <p class="text-danger" *ngIf="name.hasError('required') && name.dirty">กรุณากรอกชื่อร้าน</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="tel" class="col-md-3 control-label">เบอร์ติดต่อ<span class='require'>*</span></label>
              <div class="col-md-5">
                <div class="input-icon right">
                  <input type="tel" id="tel" name="tel" class="form-control" formControlName="tel" [(ngModel)]="selectedItem.tel" />
                  <p class="text-danger" *ngIf="tel.hasError('required') && tel.dirty">กรุณากรอกเบอร์ติดต่อ</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="address" class="col-md-3 control-label">ที่อยู่<span class='require'>*</span></label>
              <div class="col-md-5">
                <div class="input-icon right">
                  <textarea id="address" rows="3" class="form-control" name="address" formControlName="address" [(ngModel)]="selectedItem.address"></textarea>
                  <p class="text-danger" *ngIf="address.hasError('required') && address.dirty">กรุณากรอกที่อยู่</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="editModal.hide()">ยกเลิก</button>
          <button type="submit" class="btn btn-success btn-square" [disabled]="!storeForm.valid">บันทึก</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #deleteModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modalEditProduct">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">ยืนยันการลบ{{Heading}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedItem">
        <p>คุณแน่ใจที่ต้องการจะลบ "{{selectedItem.name}}"</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="deleteModal.hide()">ยกเลิก</button>
        <button type="button" class="btn btn-success btn-square" (click)="deleteItem()">แน่ใจ</button>
      </div>
    </div>
  </div>
</div>
