#store {
    .page {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .table {
        thead {
            tr {
                th {
                    text-align: center;
                    font-weight: 600;
                }
            }
        }
        tbody {
            tr {}
            td {
                .btn-group {
                    width: 100%;
                    a {
                        text-shadow: none;
                        width: 49%;
                        &:first-child {
                            margin-right: 2%;
                        }
                    }
                }
                &:first-child {
                    text-align: center;
                }
            }
        }
    }
    #addStore {
        .btn {
            box-shadow: none;
            background-image: none;
            text-shadow: none;
        }
    }
}

@media screen and (min-width: 769px) {
    #modalConfirmDelete {
        width: 598px;
        margin: 0 auto;
        .btn-primary {
            background-image: none;
        }
        .btn {
            box-shadow: none;
            background-image: none;
            text-shadow: none;
        }
    }
}