<!-- title -->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
  <div class="page-header pull-left">
    <div class="page-title">{{Heading}}</div>
  </div>
  <ol class="breadcrumb page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>&nbsp;
      <a [routerLink]="['/dashboard']">Home</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
      <a [routerLink]="['/product/type/list']">{{Heading}}</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    </li>
    <li class="active">เพิ่ม{{Heading}}</li>
  </ol>
</div>

<!-- content -->
<div class="page-content" id="userPermission">
  <ul id="userPermissionTab" class="nav nav-tabs ul-edit responsive">
    <li class="active"><a href="#addUserPermission" data-toggle="tab">เพิ่ม{{Heading}}</a></li>
  </ul>
  <div id="userPermissionTabContent" class="tab-content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div id="addUserPermission" class="tab-pane  fade in active">
      <form [formGroup]="userPermissionForm" class="form-horizontal" (ngSubmit)="sendForm()">
        <div class="form-body pal">
          <div class="form-body pal">
            <div class="form-group">
              <label for="username" class="col-md-3 control-label">ชื่อ{{Heading}}<span class='require'>*</span></label>
              <div class="col-md-8">
                <div>
                  <input type="text" id="username" name="username" formControlName="username" class="form-control" />
                  <p class="text-danger" *ngIf="username.hasError('required') && username.dirty">กรุณากรอกชื่อผู้ใช้</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-md-3 control-label">รหัสผ่าน<span class='require'>*</span></label>
              <div class="col-md-8">
                <div>
                  <input type="password" id="password" name="password" formControlName="password" type="password" class="form-control" />
                  <p class="text-danger" *ngIf="password.hasError('required') && password.dirty">กรุณากรอกรหัสผ่าน</p>
                  <p class="text-danger" *ngIf="password.errors?.rangeLength && password.dirty">รหัสผ่านต้องมีมากกว่า 6 ตัวอักษร</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="repassword" class="col-md-3 control-label">ยืนยันรหัสผ่าน<span class='require'>*</span></label>
              <div class="col-md-8">
                <div>
                  <input type="password" id="repassword" name="repassword" formControlName="repassword" type="password" class="form-control"
                  />
                  <p class="text-danger" *ngIf="repassword.hasError('required') && repassword.dirty">กรุณายืนยันรหัสผ่าน</p>
                  <p class="text-danger" *ngIf="repassword.errors?.equalTo && repassword.dirty">รหัสผ่านไม่ถูกต้อง</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="name" class="col-md-3 control-label">ชื่อ<span class='require'>*</span></label>
              <div class="col-md-8">
                <div>
                  <input type="text" id="name" name="name" formControlName="name" class="form-control" />
                  <p class="text-danger" *ngIf="name.hasError('required') && name.dirty">กรุณากรอกชื่อ</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">สาขา</label>
              <div class="col-md-7 selectStore">
                <ng-select name="shop_id" formControlName="shop_id" [options]="shop_data" [multiple]="false" highlightColor="#d94e37" highlightTextColor="#ffffff"
                  *ngIf="shops" notFoundMsg="ไม่พบร้านค้า">
                </ng-select>
              </div>
              <div class="col-md-1 addStoreBtn">
                <button class="btn col-md-1 btn-success btn-outlined" routerLink="/store/add" type="button">เพิ่มร้าน</button>
              </div>
            </div>
            <div class="form-group">
              <label for="detail" class="col-md-3 control-label">รายละเอียด</label>
              <div class="col-md-8">
                <div>
                  <textarea id="detail" rows="3" class="form-control" name="detail" formControlName="detail"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="form-actions">
            <div class="col-md-12">
              <button type="submit" class="btn btn-success btn-outlined" [disabled]="!userPermissionForm.valid">บันทึก</button>              &nbsp;
              <button type="reset" class="btn btn-danger btn-outlined">ล้าง</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
