<!-- title -->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
  <div class="page-header pull-left">
    <div class="page-title">{{Heading}}</div>
  </div>
  <ol class="breadcrumb page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>&nbsp;
      <a [routerLink]="['/dashboard']">Home</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    </li>
    <li class="active">{{Heading}}</li>
  </ol>
  <div class="btn btn-blue reportrange hide">
    <i class="fa fa-calendar"></i>&nbsp;
    <span></span>&nbsp;report&nbsp;
    <i class="fa fa-angle-down"></i>
    <input type="hidden" name="datestart" />
    <input type="hidden" name="endstart" />
  </div>
  <div class="clearfix"></div>
</div>

<!-- content -->
<div class="page-content" id="userPermistion">
  <ul id="userPermistionTab" class="nav nav-tabs ul-edit responsive">
    <li class="active"><a href="#manageUserPermistion" data-toggle="tab">จัดการ{{Heading}}</a></li>
  </ul>
  <div id="userPermistionTabContent" class="tab-content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div id="manageUserPermistion" class="tab-pane fade in active">
      <div class="row" *ngIf="!isLoading">
        <div class="col-lg-12 datatable-simple">
          <table datatable class="table table-bordered" [dtOptions]="dtOptions" *ngIf="data">
            <thead>
              <tr>
                <th>#</th>
                <th>ชื่อผู้ใช้</th>
                <th>ชื่อ</th>
                <th>ร้านค้า</th>
                <th>รายละเอียด</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data; let i = index">
                <td>{{i+1}}</td>
                <td>{{item.username}}</td>
                <td>{{item.name}}</td>
                <td>{{item.shop && item.shop.name}}</td>
                <td>{{item.detail}}</td>
                <td>
                  <div class="actionsBtn">
                    <a class="btn btn-info btn-outlined" (click)="openEditModal(item)"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger btn-outlined" (click)="openDeleteModal(item)"><i class="fa fa-trash"></i></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" bsModal #editModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modalEditProduct">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">แก้ไข{{Heading}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--<form [formGroup]="userPermissionForm" class="form-horizontal">-->
      <form [formGroup]="userPermissionForm" class="form-horizontal" (ngSubmit)="saveChange()">
        <div class="modal-body" *ngIf="selectedItem">
          <div class="form-body pal">
            <div class="form-body pal">
              <div class="form-group">
                <label for="username" class="col-md-3 control-label">ชื่อผู้ใช้<span class='require'>*</span></label>
                <div class="col-md-8 radioButtonCustom">
                  <div>
                    <input type="text" id="username" name="username" formControlName="username" class="form-control" [(ngModel)]="selectedItem.username"
                      disabled/>
                    <p class="text-danger" *ngIf="username.hasError('required') && username.dirty">กรุณากรอกชื่อผู้ใช้</p>
                  </div>
                  <div>
                    <label class="btn active">
                      <input type="checkbox" name="changePass" formControlName="changePass" [(ngModel)]="changePassword">
                      <i class="fa fa-square-o notCheck"></i>
                      <i class="fa fa-check-square selected"></i>
                      <span>เปลี่ยนรหัสผ่าน</span>
                    </label>
                  </div>
                </div>
              </div>
              <div *ngIf="changePassword">
                <div class="form-group">
                  <label for="password" class="col-md-3 control-label">รหัสผ่าน<span class='require'>*</span></label>
                  <div class="col-md-8">
                    <div>
                      <input type="password" id="password" name="password" formControlName="password" type="password" class="form-control" [(ngModel)]="selectedItem.password"
                      />
                      <p class="text-danger" *ngIf="password.errors?.rangeLength && password.dirty">รหัสผ่านต้องมีมากกว่า 6 ตัวอักษร</p>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="repassword" class="col-md-3 control-label">ยืนยันรหัสผ่าน<span class='require'>*</span></label>
                  <div class="col-md-8">
                    <div>
                      <input type="password" id="repassword" name="repassword" formControlName="repassword" type="password" class="form-control"
                        [(ngModel)]="selectedItem.repassword" />
                      <p class="text-danger" *ngIf="repassword.errors?.equalTo && repassword.dirty">รหัสผ่านไม่ถูกต้อง</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="name" class="col-md-3 control-label">ชื่อ<span class='require'>*</span></label>
                <div class="col-md-8">
                  <div>
                    <input type="text" id="name" name="name" formControlName="name" class="form-control" [(ngModel)]="selectedItem.name" />
                    <p class="text-danger" *ngIf="name.hasError('required') && name.dirty">กรุณากรอกชื่อ</p>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">สาขา<span class='require'>*</span></label>
                <div class="col-md-8">
                  <select [(ngModel)]="selectedItem.shop_id" name="Select name" class="selection" [ngModelOptions]="{standalone: true}"> 
                    <option *ngFor="let item of shop_data"  [attr.value]="item.value" [attr.selected]="item.value == selectedItem.shop_id ? true : null">{{item.label}}</option>
                  </select>
                  <p class="text-danger" *ngIf="selectedItem.shop === ''">กรุณาเลือกสาขา</p>
                </div>
              </div>
              <div class="form-group">
                <label for="detail" class="col-md-3 control-label">รายละเอียด<span class='require'>*</span></label>
                <div class="col-md-8">
                  <div>
                    <textarea id="detail" rows="3" class="form-control" name="detail" formControlName="detail" [(ngModel)]="selectedItem.detail"></textarea>
                    <p class="text-danger" *ngIf="detail.hasError('required') && detail.dirty">กรุณารายละเอียด</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="editModal.hide()">ยกเลิก</button>
          <button type="submit" class="btn btn-success btn-square" [disabled]="!userPermissionForm.valid">บันทึก</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #deleteModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modalEditProduct">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">ยืนยันการลบ{{Heading}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedItem">
        <p>คุณแน่ใจที่ต้องการจะลบ "{{selectedItem.name}}"</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="deleteModal.hide()">ยกเลิก</button>
        <button type="button" class="btn btn-success btn-square" (click)="deleteItem()">แน่ใจ</button>
      </div>
    </div>
  </div>
</div>