.loginBody {
  padding: 5%;
  display: flex;
  justify-content: center;
  background: url('assets/images/bg/1.jpg');
  height: 100vh;
  margin-left: -50px !important;
  .page-form {
    margin: 0px;
    background: none;
    .form {
      background: #eeeeee;
    }
  }
  .load {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 20px;
    left: 15px;
  }
}
