<div class="loginBody">
  <div class="page-form">
    <form [formGroup]="userForm" (ngSubmit)="sendForm()" class="form">
      <div class="header-content">
        <h1>Log In</h1>
      </div>
      <div class="body-content">
        <app-loading *ngIf="isLoading" class="load"></app-loading>
        <div class="alert alert-danger" *ngIf="message" >
         {{message}}
        </div>
        <div class="form-body">
          <div class="form-group">
            <div class="input-icon right">
              <i class="fa fa-user"></i>
              <input type="text" placeholder="Username" name="username" class="form-control" formControlName="username">
              <p class="text-danger" *ngIf="username.hasError('required') && username.dirty">กรุณากรอกชื่อผู้ใช้</p>
            </div>
          </div>
          <div class="form-group">
            <div class="input-icon right">
              <i class="fa fa-key"></i>
              <input type="password" placeholder="Password" name="password" class="form-control" formControlName="password">
              <p class="text-danger" *ngIf="password.hasError('required') && password.dirty">กรุณากรอกรหัสผ่าน</p>
            </div>
          </div>
          <div class="form-group pull-right">
            <button type="submit" class="btn btn-success">Log In&nbsp;<i class="fa fa-chevron-circle-right"></i></button>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </form>
  </div>
</div>
