$color-background: #eaecfa;
$color-loader: #d94e37;
.loader-box {
  background: rgba(77, 77, 77, 0.5);
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  min-width: 100%;
  margin: -20px -15px;
  min-height: 100%;
  z-index: 999;
  align-items: center;
  display: flex;
  justify-content: center;
}

.loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: $color-background;
  letter-spacing: 0.2em;
  &::before,
  &::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: $color-loader;
    position: absolute;
    animation: load .7s infinite alternate ease-in-out;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
}

@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px
  }
  50% {
    height: 8px;
    width: 40px
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px
  }
}
