@media print {
    .panel-body {
        padding: 30px;
    }
    .panel-body .claimPrint-title {
        text-align: center;
    }
    .panel-body .claimPrint-title h2 {
        margin-top: 0;
    }
    .panel-body .logo {
        font-family: 'Oswald';
        font-weight: bold;
        margin-top: 0;
    }
    .panel-body hr {
        margin-bottom: 30px;
    }
    .panel-body .table {
        table-layout: fixed;
    }
    .panel-body .table td {
        border-top: none;
    }
    .panel-body .table.table-claim-info {
        margin: 0px;
        margin-top: 18px;
    }
    .panel-body .table.table-claim-info tr td address {
        margin-bottom: 0px;
    }
    .panel-body .table.table-product tr td {
        padding: 8px 0px;
    }
    .panel-body .table.table-product tr td .imei {
        padding: 3px 6px;
        border: 1px solid #ddd;
        margin-right: 5px;
    }
    .panel-body .table.table-product tr td .nopadding {
        padding: 0px;
    }
    .panel-body .table.table-product tr .table-list p {
        margin: 10px 0px;
    }
    .panel-body .table.table-product tr .cost {
        padding-top: 30px;
        width: 20%;
    }
    .panel-body .table.table-product tr .cost p {
        margin: 10px 0px;
    }
    .panel-body .table.table-product tr .cost .textextra {
        word-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .panel-body .table.table-product tr .table-option thead tr td {
        text-align: center;
    }
    .panel-body .table.table-product tr .table-option tbody tr td {
        width: 33%;
        line-height: 25px;
    }
    .panel-body .table.table-product tr .table-option tbody tr .hasIcon {
        text-align: center;
    }
    .panel-body .table.table-product tr .table-option tbody tr .hasIcon .icon {
        font-size: 25px;
    }
    .panel-body .table.table-signature .signatureHeader {
        text-align: center;
        font-weight: bolder;
    }
    .panel-body .table.table-signature .signature {
        text-align: center;
    }
    .panel-body .table.table-signature .signature td {
        padding: 0px;
    }
    .panel-body .table.table-signature .signature td div {
        background: #ccc;
        height: 1px;
        width: 80%;
        margin-left: 10%;
        margin-top: 25px;
    }
    .panel-body .table.table-signature .signatureDate {
        text-align: center;
    }
}