<div [ngClass]="{'loginPage': !isHideSidebar}">
  <div id="header-topbar-option-demo" class="page-header-topbar" *ngIf="isHideSidebar">
    <app-header></app-header>
  </div>
  <div id="wrapper">
    <app-sidebar id="page-sidebar" *ngIf="isHideSidebar"></app-sidebar>
    <div id="page-wrapper" [ngClass]="{'hideMenuContent': isHideMenu}">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>