.loginPage {
    background: red;
    .page-header-topbar {
        display: none;
    }
    #wrapper {
        #page-sidebar {
            display: none;
            #sidebar {
                display: none;
                width: 0px;
            }
        }
        #page-wrapper {
            margin: 0px;
        }
    }
}