<nav id="sidebar" role="navigation" class="navbar-default navbar-static-side" [ngClass]="{'hideMenu': isHideMenu}">
  <div class="sidebar-collapse menu-scroll">
    <ul id="side-menu" class="nav" aria-multiselectable="true" role="tablist">
      <li></li>
      <!--<li routerLinkActive="active">
        <a [routerLink]="['/dashboard']">
          <i class="fa fa-tachometer fa-fw">
            <div class="icon-bg bg-orange"></div>
          </i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>-->
      <li role="tab" id="headingSellProduct" routerLinkActive="active" *ngIf="permission" >
        <a class="collapsed" data-toggle="collapse" data-parent="#side-menu" href="#collapseSellProduct" aria-expanded="true" aria-controls="collapseSellProduct"
          (click)="checkCollapsed('sell')">
          <i class="fa fa-shopping-basket fa-fw">
            <div class="icon-bg bg-pink"></div>
          </i>
          <span class="menu-title">การขายสินค้า</span>
          <span class="fa icon-collapse fa-angle-down"></span>
          <!--<span class="label label-yellow">v3.0</span>-->
          </a>
          <ul class="nav nav-second-level collapse out" routerLinkActive="in" id="collapseSellProduct" role="tabpanel" aria-labelledby="headingSellProduct">
            <li routerLinkActive="active">
              <a [routerLink]="['/product/sell/list']">
                <i class="fa fa-cogs"></i>
                <span class="submenu-title">แสดงรายการขายสินค้า</span>
              </a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/product/sell/add']">
                <i class="fa fa-plus-circle"></i>
                <span class="submenu-title">เพิ่มการขายสินค้า</span>
              </a>
            </li>
          </ul>
      </li>
      <li role="tab" id="headingTransferProduct" routerLinkActive="active" *ngIf="permission" >
        <a class="collapsed" data-toggle="collapse" data-parent="#side-menu" href="#collapseTransferProduct" aria-expanded="true"
          aria-controls="collapseTransferProduct" (click)="checkCollapsed('transfer')">
          <i class="fa fa-external-link fa-fw">
            <div class="icon-bg bg-pink"></div>
          </i>
          <span class="menu-title">การโอนสินค้า</span>
          <span class="fa icon-collapse fa-angle-down"></span>
          </a>
          <ul class="nav nav-second-level collapse out" routerLinkActive="in" id="collapseTransferProduct" role="tabpanel" aria-labelledby="headingTransferProduct">
            <li routerLinkActive="active">
              <a [routerLink]="['/product/transfer/list']">
                <i class="fa fa-cogs"></i>
                <span class="submenu-title">แสดงรายการโอนสินค้า</span>
              </a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/product/transfer/add']">
                <i class="fa fa-plus-circle"></i>
                <span class="submenu-title">เพิ่มการโอนสินค้า</span>
              </a>
            </li>
          </ul>
      </li>
      <li role="tab" id="headingChange" routerLinkActive="active" *ngIf="permission" >
        <a class="collapsed" data-toggle="collapse" data-parent="#side-menu" href="#collapseChange" aria-expanded="false" aria-controls="collapseChange"
          (click)="checkCollapsed('change')">
          <i class="fa fa-exchange fa-fw">
            <div class="icon-bg bg-pink"></div>
          </i>
          <span class="menu-title">การเปลี่ยนสินค้า</span>
          <span class="fa icon-collapse fa-angle-down"></span>
          <!--<span class="label label-yellow">v3.0</span>-->
          </a>
          <ul class="nav nav-second-level collapse out" routerLinkActive="in" id="collapseChange" role="tabpanel" aria-labelledby="headingChange">
            <li routerLinkActive="active">
              <a [routerLink]="['/claim/change/list']">
                <i class="fa fa-cogs"></i>
                <span class="submenu-title">แสดงรายการเปลี่ยนสินค้า</span>
              </a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/claim/change/add']">
                <i class="fa fa-plus-circle"></i>
                <span class="submenu-title">เพิ่มรายการเปลี่ยนสินค้า</span>
              </a>
            </li>
          </ul>
      </li>
      <li role="tab" id="headingFix" routerLinkActive="active" *ngIf="permission" >
        <a class="collapsed" data-toggle="collapse" data-parent="#side-menu" href="#collapseFix" aria-expanded="false" aria-controls="collapseFix"
          (click)="checkCollapsed('fix')">
          <i class="fa fa-wrench fa-fw">
            <div class="icon-bg bg-pink"></div>
          </i>
          <span class="menu-title">การซ่อมสินค้า</span>
          <span class="fa icon-collapse fa-angle-down"></span>
          <!--<span class="label label-yellow">v3.0</span>-->
          </a>
          <ul class="nav nav-second-level collapse out" routerLinkActive="in" id="collapseFix" role="tabpanel" aria-labelledby="headingFix">
            <li routerLinkActive="active">
              <a [routerLink]="['/claim/fix/list']">
                <i class="fa fa-cogs"></i>
                <span class="submenu-title">แสดงรายการซ่อมสินค้า</span>
              </a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/claim/fix/add']">
                <i class="fa fa-plus-circle"></i>
                <span class="submenu-title">เพิ่มรายการซ่อมสินค้า</span>
              </a>
            </li>
          </ul>
      </li>
      <li role="tab" id="headingAcceptProduct" routerLinkActive="active" *ngIf="permission" >
        <a class="collapsed" data-toggle="collapse" data-parent="#side-menu" href="#collapseAcceptProduct" aria-expanded="false"
          aria-controls="collapseAcceptProduct" (click)="checkCollapsed('accept')">
          <i class="fa fa-sign-in fa-fw">
            <div class="icon-bg bg-pink"></div>
          </i>
          <span class="menu-title">การนำเข้าสินค้า</span>
          <span class="fa icon-collapse fa-angle-down"></span>
          <!--<span class="label label-yellow">v3.0</span>-->
          </a>
          <ul class="nav nav-second-level collapse out" routerLinkActive="in" id="collapseAcceptProduct" role="tabpanel" aria-labelledby="headingAcceptProduct">
            <li routerLinkActive="active">
              <a [routerLink]="['/product/accept/list']">
                <i class="fa fa-cogs"></i>
                <span class="submenu-title">แสดงรายการนำเข้าสินค้า</span>
              </a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/product/accept/add']">
                <i class="fa fa-plus-circle"></i>
                <span class="submenu-title">เพิ่มรายการนำเข้าสินค้า</span>
              </a>
            </li>
          </ul>
      </li>
      <li role="tab" id="headingProduct" routerLinkActive="active">
        <a class="collapsed" data-toggle="collapse" data-parent="#side-menu" href="#collapseProduct" aria-expanded="true" aria-controls="collapseProduct"
          (click)="checkCollapsed('product')">
          <i class="fa fa-cube fa-fw">
            <div class="icon-bg bg-pink"></div>
          </i>
          <span class="menu-title">สินค้า</span>
          <span class="fa icon-collapse fa-angle-down"></span>
          </a>
          <ul class="nav nav-second-level collapse out" routerLinkActive="in" id="collapseProduct" role="tabpanel" aria-labelledby="headingProduct">
            <li routerLinkActive="active">
              <a [routerLink]="['/product/manage/list']">
                <i class="fa fa-cogs"></i>
                <span class="submenu-title">แสดงรายการสินค้า</span>
              </a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/product/manage/add']">
                <i class="fa fa-plus-circle "></i>
                <span class="submenu-title">เพิ่มสินค้า</span>
              </a>
            </li>
          </ul>
      </li>
      <li role="tab" id="headingTypeProduct" routerLinkActive="active">
        <a class="collapsed" data-toggle="collapse" data-parent="#side-menu" href="#collapseTypeProduct" aria-expanded="true" aria-controls="collapseTypeProduct"
          (click)="checkCollapsed('type')">
          <i class="fa fa-archive fa-fw">
            <div class="icon-bg bg-pink"></div>
          </i>
          <span class="menu-title">ประเภทสินค้า</span>
          <span class="fa icon-collapse fa-angle-down"></span>
          <!--<span class="label label-yellow">v3.0</span>-->
          </a>
          <ul class="nav nav-second-level collapse out" routerLinkActive="in" id="collapseTypeProduct" role="tabpanel" aria-labelledby="headingTypeProduct">
            <li routerLinkActive="active">
              <a [routerLink]="['/product/type/list']">
                <i class="fa fa-cogs"></i>
                <span class="submenu-title">แสดงรายการประเภทสินค้า</span>
              </a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/product/type/add']">
                <i class="fa fa-plus-circle"></i>
                <span class="submenu-title">เพิ่มประเภทสินค้า</span>
              </a>
            </li>
          </ul>
      </li>
      <li role="tab" id="headingStore" routerLinkActive="active" *ngIf="!permission">
        <a class="collapsed" data-toggle="collapse" data-parent="#side-menu" href="#collapseStore" aria-expanded="true" aria-controls="collapseStore"
          (click)="checkCollapsed('store')">
          <i class="fa fa-cube fa-fw">
            <div class="icon-bg bg-pink"></div>
          </i>
          <span class="menu-title">ร้านค้า</span>
          <span class="fa icon-collapse fa-angle-down"></span>
          </a>
          <ul class="nav nav-second-level collapse out" routerLinkActive="in" id="collapseStore" role="tabpanel" aria-labelledby="headingStore">
            <li routerLinkActive="active">
              <a [routerLink]="['/store/list']">
                <i class="fa fa-cogs"></i>
                <span class="submenu-title">แสดงรายการร้านค้า</span>
              </a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/store/add']">
                <i class="fa fa-plus-circle"></i>
                <span class="submenu-title">เพิ่มร้านค้า</span>
              </a>
            </li>
          </ul>
      </li>
      <li role="tab" id="headingCustomer" routerLinkActive="active">
        <a class="collapsed" data-toggle="collapse" data-parent="#side-menu" href="#collapseCustomer" aria-expanded="true" aria-controls="collapseCustomer"
          (click)="checkCollapsed('customer')">
          <i class="fa fa-users fa-fw">
            <div class="icon-bg bg-pink"></div>
          </i>
          <span class="menu-title">ลูกค้า</span>
          <span class="fa icon-collapse fa-angle-down"></span>
          <!--<span class="label label-yellow">v3.0</span>-->
          </a>
          <ul class="nav nav-second-level collapse out" routerLinkActive="in" id="collapseCustomer" role="tabpanel" aria-labelledby="headingCustomer">
            <li routerLinkActive="active">
              <a [routerLink]="['/customer/list']">
                <i class="fa fa-cogs"></i>
                <span class="submenu-title">แสดงรายการลูกค้า</span>
              </a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/customer/add']">
                <i class="fa fa-plus-circle"></i>
                <span class="submenu-title">เพิ่มลูกค้า</span>
              </a>
            </li>
          </ul>
      </li>
      <li role="tab" id="headingExpense" routerLinkActive="active" *ngIf="permission">
        <a class="collapsed" data-toggle="collapse" data-parent="#side-menu" href="#collapseExpense" aria-expanded="true" aria-controls="collapseExpense"
          (click)="checkCollapsed('expense')">
          <i class="fa fa-money fa-fw">
            <div class="icon-bg bg-pink"></div>
          </i>
          <span class="menu-title">รายจ่ายจิปาถะ</span>
          <span class="fa icon-collapse fa-angle-down"></span>
          <!--<span class="label label-yellow">v3.0</span>-->
          </a>
          <ul class="nav nav-second-level collapse out" routerLinkActive="in" id="collapseExpense" role="tabpanel" aria-labelledby="headingExpense">
            <li routerLinkActive="active">
              <a [routerLink]="['/expense/list']">
                <i class="fa fa-cogs"></i>
                <span class="submenu-title">แสดงรายการรายจ่าย</span>
              </a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/expense/add']">
                <i class="fa fa-plus-circle"></i>
                <span class="submenu-title">เพิ่มรายจ่าย</span>
              </a>
            </li>
          </ul>
      </li>
      <li role="tab" id="headingReport" routerLinkActive="active">
        <a class="collapsed" data-toggle="collapse" data-parent="#side-menu" href="#collapseReport" aria-expanded="true" aria-controls="collapseReport"
          (click)="checkCollapsed('report')">
          <i class="fa fa-file-text fa-fw">
            <div class="icon-bg bg-pink"></div>
          </i>
          <span class="menu-title">รายงาน</span>
          <span class="fa icon-collapse fa-angle-down"></span>
          </a>
          <ul class="nav nav-second-level collapse out" routerLinkActive="in" id="collapseReport" role="tabpanel" aria-labelledby="headingReport">
            <li routerLinkActive="active" *ngIf="permission">
              <a [routerLink]="['/report/list']">
                <i class="fa fa-cogs"></i>
                <span class="submenu-title">รายงานประจำร้าน</span>
              </a>
            </li>
            <li routerLinkActive="active" *ngIf="!permission">
              <a [routerLink]="['/report/all/list']">
                <i class="fa fa-plus-circle"></i>
                <span class="submenu-title">รายงานทั้งหมด</span>
              </a>
            </li>
          </ul>
      </li>
      <li role="tab" id="headingUser" routerLinkActive="active">
        <a class="collapsed" data-toggle="collapse" data-parent="#side-menu" href="#collapseUser" aria-expanded="true" aria-controls="collapseUser"
          (click)="checkCollapsed('user')">
          <i class="fa fa-user fa-fw">
            <div class="icon-bg bg-pink"></div>
          </i>
          <span class="menu-title">ผู้ใช้</span>
          <span class="fa icon-collapse fa-angle-down"></span>
          </a>
          <ul class="nav nav-second-level collapse out" routerLinkActive="in" id="collapseUser" role="tabpanel" aria-labelledby="headingUser">
            <li routerLinkActive="active">
              <a [routerLink]="['/user/list']">
                <i class="fa fa-cogs"></i>
                <span class="submenu-title">แสดงรายการผู้ใช้</span>
              </a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/user/add']">
                <i class="fa fa-plus-circle"></i>
                <span class="submenu-title">เพิ่มผู้ใช้</span>
              </a>
            </li>
          </ul>
      </li>
    </ul>
  </div>
</nav>