#sidebar {
    height: 100%;
    border-radius: 0px;
    .sidebar-collapse {
        background-color: #322f2b;
        #side-menu {
            li {
                a {
                    .menu-title {
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 200;
                    }
                    .icon-collapse {
                        float: right;
                        margin-top: 3px;
                    }
                }
            }
            >li::first-child {
                border: none;
                height: 0px;
            }
            .rotateIcon {
                transform: rotate(270deg);
            }
        }
        .nav-second-level {
            li {
                a {
                    font-size: 15px;
                    padding-left: 30px;
                }
            }
        }
    }
}