<!-- title -->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
  <div class="page-header pull-left">
    <div class="page-title">{{Heading}}</div>
  </div>
  <ol class="breadcrumb page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>&nbsp;
      <a [routerLink]="['/dashboard']">Home</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
      <a [routerLink]="['/product/manage']">สินค้า</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
      <a [routerLink]="['/product/accept/list']">การขายสินค้า</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    </li>
    <li class="active">{{Heading}}</li>
  </ol>
  <div class="clearfix"></div>
</div>

<!-- content -->
<div class="page-content" id="addSellProduct">
  <ul id="addSellProductTab" class="nav nav-tabs ul-edit responsive">
    <li class="active"><a href="#add" data-toggle="tab">{{Heading}}</a></li>
  </ul>
  <div id="addSellProductTabContent" class="tab-content">
    <div id="add" class="tab-pane fade in active">
      <form [formGroup]="sellProductForm" class="form-horizontal">
        <div class="form-body pal">
          <div class="form-group">
            <label for="productSelected" class="col-md-3 control-label">สินค้า<span class='require'>*</span></label>
            <div class="col-md-6" id="addCustomerInput">
              <input name="productSelected" placeholder="กรุณากรอก barcode" [(ngModel)]="productSelected.name" [typeahead]="products" [typeaheadItemTemplate]="customItemProductTemplate"
                [typeaheadOptionField]="'code'" (typeaheadNoResults)="changeTypeaheadNoResults('product',$event)" (typeaheadOnSelect)="typeaheadOnSelect('product',$event)"
                class="form-control" formControlName="product_id" />
              <div class="no-data" *ngIf="typeaheadNoResults.product">
                <i class="fa fa-remove"></i> ไม่พบสินค้า
              </div>
              <p class="text-danger" *ngIf="product_id.hasError('required') && product_id.dirty">กรุณากรอก barcode สินค้า</p>
            </div>
          </div>
          <div class="form-group">
            <label for="amount" class="col-md-3 control-label">จำนวน<span class='require'>*</span></label>
            <div class="col-md-6">
              <div class="input-icon right">
                <input type="text" id="amount" name="amount" class="form-control" formControlName="amount" (keyup)="multipleValue()" [(ngModel)]="amount_value" />
                <p class="text-danger" *ngIf="amount.hasError('required') && amount.dirty">กรุณากรอกจำนวน</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="sell_price" class="col-md-3 control-label">ราคาขาย<span class='require'>*</span></label>
            <div class="col-md-6">
              <div class="input-icon right">
                <input type="text" id="sell_price" name="sell_price" class="form-control" formControlName="sell_price" [(ngModel)]="price"
                />
                <p class="text-danger" *ngIf="sell_price.hasError('required') && sell_price.dirty">กรุณากรอกจำนวน</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">ชื่อลูกค้า</label>
            <div class="col-md-5" id="addCustomerInput">
              <input name="nameCustomer" placeholder="กรอกชื่อลูกค้า" [(ngModel)]="customerSelected.name" [typeahead]="customers" [typeaheadItemTemplate]="customItemCustomerTemplate"
                [typeaheadOptionField]="'name'" (typeaheadNoResults)="changeTypeaheadNoResults('customer',$event)" (typeaheadOnSelect)="typeaheadOnSelect('customer',$event)"
                class="form-control" formControlName="customer_id" />
              <div class="no-data" *ngIf="typeaheadNoResults.customer">
                <i class="fa fa-remove"></i> ไม่พบข้อมูลลูกค้า
              </div>
            </div>
            <div class="col-md-1 addCustomerBtn">
              <button type="button" class="btn btn-success btn-outlined btn-sm" (click)="openAddCustomerModal()">เพิ่ม</button>
            </div>
          </div>
          <div class="form-group">
            <label for="sell_type" class="col-md-3 control-label">ประเภทการขาย<span class='require'>*</span></label>
            <div class="col-md-6 radioButtonCustom">
              <div>
                <label class="btn active">
                    <input type="radio" name="sell_type" formControlName="sell_type" [value]="1" checked/>     
                    <i class="fa fa-circle-o notCheck"></i>
                    <i class="fa fa-check-circle-o selected"></i>
                    <span> ขายปลีก</span>
                  </label>
                <label class="btn">
                    <input type="radio" name="sell_type" formControlName="sell_type" [value]="0"  />    
                    <i class="fa fa-circle-o notCheck"></i>
                    <i class="fa fa-check-circle-o selected"></i>
                    <span> ขายส่ง</span>
                  </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="remark" class="col-md-3 control-label">หมายเหตุ</label>
            <div class="col-md-6">
              <div class="input-icon right">
                <textarea id="remark" rows="3" class="form-control" name="remark" formControlName="remark" [(ngModel)]="data.remark"></textarea>
              </div>
            </div>
          </div>
          <div class="form-actions">
            <div class="col-md-6 col-md-offset-3">
              <button type="button" class="btn btn-success btn-outlined" [disabled]="!sellProductForm.valid" (click)="sendForm()">บันทึก</button>              &nbsp;
              <button type="reset" class="btn btn-danger btn-outlined">ยกเลิก</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<template #customItemCustomerTemplate let-model="item" let-index="index">
  <div class="nameAutocomplete">
    <h5><strong>ชื่อ :: </strong> {{model.name}}</h5>
    <h5><strong>เบอร์ :: </strong> {{model.tel}}</h5>
  </div>
</template>

<template #customItemProductTemplate let-model="item" let-index="index">
  <div class="nameAutocomplete">
    <h5><strong>barcode :: </strong> {{model.code}}</h5>
    <h5><strong>ชื่อสินค้า :: </strong> {{model.name}}</h5>
    <h5><strong>ประเภท :: </strong> {{model.product_type.name}}</h5>
  </div>
</template>

<div class="modal fade" bsModal #editModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modalEditProduct">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">เพิ่มลูกค้า</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="customerForm" class="form-horizontal" (ngSubmit)="saveCustomer()">
        <div class="modal-body">
          <div class="form-body pal">
            <div class="form-group">
              <label for="name_customer" class="col-md-3 control-label">ชื่อ<span class='require'>*</span></label>
              <div class="col-md-5">
                <div class="input-icon right">
                  <input type="text" id="name_customer" name="name_customer" class="form-control" formControlName="name_customer" />
                  <p class="text-danger" *ngIf="name_customer.hasError('required') && name_customer.dirty">กรุณากรอกชื่อ</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="tel_customer" class="col-md-3 control-label">เบอร์ติดต่อ<span class='require'>*</span></label>
              <div class="col-md-5">
                <div class="input-icon right">
                  <input type="tel" id="tel_customer" name="tel_customer" class="form-control" formControlName="tel_customer" />
                  <p class="text-danger" *ngIf="tel_customer.hasError('required') && tel_customer.dirty">กรุณากรอกเบอร์ติดต่อ</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="editModal.hide()">ยกเลิก</button>
          <button type="submit" class="btn btn-success btn-square" [disabled]="!customerForm.valid">บันทึก</button>
        </div>
      </form>
    </div>
  </div>
</div>