#addSellProduct {
    #addSellProductTabContent {
        .form-group {
            .pbm {
                padding-bottom: 0px !important;
                padding-top: 5px;
                .icheckbox_flat-red {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0;
                    padding: 0;
                    width: 20px;
                    height: 20px;
                    background: url('assets/images/red.png') no-repeat;
                    border: none;
                    cursor: pointer;
                    input[type="checkbox"] {
                        position: absolute;
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                        padding: 0;
                        margin: 0;
                    }
                }
                .icheckbox_flat-red.checked {
                    background-position: -22px 0;
                }
            }
            .addCustomerInput {
                margin-right: 0px;
            }
            .addCustomerBtn {
                padding: 0px;
                padding-right: 5px;
                margin-right: 0px;
                margin-left: -10px;
                .btn {
                    width: 100%;
                }
            }
            .no-data {
                margin-top: 10px;
            }
        }
    }
}

@media screen and (min-width: 769px) {
    #modalConfirmDelete {
        width: 598px;
        margin: 0 auto;
        .btn-primary {
            background-image: none;
        }
        .btn {
            box-shadow: none;
            background-image: none;
            text-shadow: none;
        }
    }
}