<!-- title -->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
  <div class="page-header pull-left">
    <div class="page-title">{{Heading}}</div>
  </div>
  <ol class="breadcrumb page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>&nbsp;
      <a [routerLink]="['/dashboard']">Home</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
      <a [routerLink]="['/product/manage']">สินค้า</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    </li>
    <li class="active">{{Heading}}</li>
  </ol>
  <div class="clearfix"></div>
</div>

<!-- content -->
<div class="page-content" id="sellProduct">
  <ul id="sellProductTab" class="nav nav-tabs ul-edit responsive">
    <li class="active"><a href="#listSellProduct" data-toggle="tab">จัดการ{{Heading}}</a></li>
  </ul>
  <div id="sellProductTabContent" class="tab-content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div id="listSellProduct" class="tab-pane fade in active">
      <div class="row dateSelect">
        <label class="control-label">เลือกช่วงวัน</label>
        <div>
          <my-date-range-picker [options]="myDateRangePickerOptions" (dateRangeChanged)="onDateRangeChanged($event)" [(ngModel)]="dateRange"></my-date-range-picker>
        </div>
      </div>
      <div class="row" *ngIf="!isLoading">
        <div class="col-lg-12 datatable-simple">
          <table datatable class="table table-bordered" [dtOptions]="dtOptions" *ngIf="data">
            <thead>
              <tr>
                <th>#</th>
                <th>วันที่</th>
                <th>Barcode</th>
                <th>จำนวน</th>
                <th>ราคา</th>
                <th>ลูกค้า</th>
                <th>ประเภท</th>
                <th>หมายเหตุ</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data; let i = index">
                <td>{{i + 1}}</td>
                <td>{{item.date}}</td>
                <td>{{item.product.code}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.sell_price}}</td>
                <td>{{item.customer ? item.customer.name : '-'}}</td>
                <td>{{item.sell_type ? 'ขายปลีก' : 'ขายส่ง'}}</td>
                <td class="remark">
                  <p>{{item.remark}}</p>
                </td>
                <td>
                  <div class="actionsBtn">
                    <a class="btn btn-info btn-outlined" (click)="openEditModal(item.id)"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger btn-outlined" (click)="openDeleteModal(item.id)"><i class="fa fa-trash"></i></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" bsModal #editModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modalEditProduct">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">แก้ไข{{Heading}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="sellProductForm" class="form-horizontal">
        <div class="modal-body" *ngIf="selectedItem">
          <div class="form-body pal">
            <div class="form-group">
              <label for="product" class="col-md-3 control-label">สินค้า<span class='require'>*</span></label>
              <div class="col-md-6">
                <div class="input-icon right">
                  <input type="text" id="product" name="product" class="form-control" [(ngModel)]="selectedItem.product.name" [ngModelOptions]="{standalone: true}"
                    readonly/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="amount" class="col-md-3 control-label">จำนวน<span class='require'>*</span></label>
              <div class="col-md-6">
                <div class="input-icon right">
                  <input type="text" id="amount" name="amount" class="form-control" formControlName="amount" (keyup)="multipleValue()" [(ngModel)]="amount_value"
                  />
                  <p class="text-danger" *ngIf="amount.hasError('required') && amount.dirty">กรุณากรอกจำนวน</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="sell_price" class="col-md-3 control-label">ราคาขาย<span class='require'>*</span></label>
              <div class="col-md-6">
                <div class="input-icon right">
                  <input type="text" id="sell_price" name="sell_price" class="form-control" formControlName="sell_price" [(ngModel)]="price"
                  />
                  <p class="text-danger" *ngIf="sell_price.hasError('required') && sell_price.dirty">กรุณากรอกจำนวน</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">ชื่อลูกค้า</label>
              <div class="col-md-6" id="addCustomerInput">
                <input name="nameCustomer" placeholder="กรอกชื่อลูกค้า" [(ngModel)]="customerSelected.name" [typeahead]="customers" [typeaheadItemTemplate]="customItemCustomerTemplate"
                  [typeaheadOptionField]="'name'" (typeaheadNoResults)="changeTypeaheadNoResults('customer',$event)" (typeaheadOnSelect)="typeaheadOnSelect('customer',$event)"
                  class="form-control" formControlName="customer_id" />
                <div class="no-data" *ngIf="typeaheadNoResults.customer">
                  <i class="fa fa-remove"></i> ไม่พบข้อมูลลูกค้า
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="sell_type" class="col-md-3 control-label">ประเภทการขาย<span class='require'>*</span></label>
              <div class="col-md-6 radioButtonCustom">
                <div>
                  <label class="btn active">
                    <input type="radio" name="sell_type" [(ngModel)]="selectedItem.sell_type" [value]="1"  [ngModelOptions]="{standalone: true}"/>     
                    <i class="fa fa-circle-o notCheck"></i>
                    <i class="fa fa-check-circle-o selected"></i>
                    <span> ขายปลีก</span>
                  </label>
                  <label class="btn">
                    <input type="radio" name="sell_type"  [(ngModel)]="selectedItem.sell_type" [value]="0" [ngModelOptions]="{standalone: true}" />    
                    <i class="fa fa-circle-o notCheck"></i>
                    <i class="fa fa-check-circle-o selected"></i>
                    <span> ขายส่ง</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="remark" class="col-md-3 control-label">หมายเหตุ</label>
              <div class="col-md-6">
                <div class="input-icon right">
                  <textarea id="remark" rows="3" class="form-control" name="remark" formControlName="remark" [(ngModel)]="selectedItem.remark"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="editModal.hide()">ยกเลิก</button>
            <button type="button" class="btn btn-success btn-square" (click)="saveChange()" [disabled]="!sellProductForm.valid">บันทึก</button>
          </div>
        </div>
      </form>
      <!--<form [formGroup]="acceptProductTypeForm" class="form-horizontal" (ngSubmit)="saveChange()">
        <div class="modal-body" *ngIf="selectedItem">
          <div class="form-body pal">
            <div class="form-group">
              <label for="productSelected" class="col-md-3 control-label">ค้นหาสินค้า</label>
              <div class="col-md-8" id="addCustomerInput">
                <input name="productSelected" placeholder="กรุณากรอก barcode" [(ngModel)]="productSelected.name" [typeahead]="products" [typeaheadItemTemplate]="customItemProductTemplate"
                  [typeaheadOptionField]="'code'" (typeaheadNoResults)="changeTypeaheadNoResults($event)" (typeaheadOnSelect)="typeaheadOnSelect($event)"
                  class="form-control" formControlName="product_id" />
                <div class="no-data" *ngIf="typeaheadNoResults">
                  <i class="fa fa-remove"></i> ไม่พบสินค้า
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="amount" class="col-md-3 control-label">จำนวน<span class='require'>*</span></label>
              <div class="col-md-8">
                <div class="input-icon right">
                  <input type="text" id="amount" name="amount" class="form-control" formControlName="amount" [(ngModel)]="selectedItem.amount"
                  />
                  <p class="text-danger" *ngIf="amount.hasError('required') && amount.dirty">กรุณากรอกราคารวม</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="remark" class="col-md-3 control-label">หมายเหตุ</label>
              <div class="col-md-8">
                <div class="input-icon right">
                  <textarea id="remark" rows="3" class="form-control" name="remark" formControlName="remark" [(ngModel)]="selectedItem.remark"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success btn-outlined" [disabled]="!acceptProductTypeForm.valid">บันทึก</button>          &nbsp;
          <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="editModal.hide()">ยกเลิก</button>
        </div>
      </form>-->
    </div>
  </div>
</div>

<div class="modal fade" bsModal #deleteModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modalEditProduct">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">ยืนยันการลบ{{Heading}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedItem">
        <p>คุณแน่ใจที่ต้องการจะลบ "{{selectedItem.product.name}}" </p>
        <p>จำนวน {{selectedItem.amount}} ชิ้น</p>
        <p>ราคารวม {{selectedItem.sell_price}} บาท</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="deleteModal.hide()">ยกเลิก</button>
        <button type="button" class="btn btn-success btn-square" (click)="deleteItem()">แน่ใจ</button>
      </div>
    </div>
  </div>
</div>

<template #customItemTemplate let-model="item" let-index="index">
  <h5><strong>ชื่อ :: </strong> {{model.first_name}} {{model.last_name}}</h5>
  <h5><strong>เบอร์ :: </strong> {{model.phone}}</h5>
</template>