<!-- title -->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
  <div class="page-header pull-left">
    <div class="page-title">{{Heading}}</div>
  </div>
  <ol class="breadcrumb page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>&nbsp;
      <a [routerLink]="['/dashboard']">Home</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
      <a [routerLink]="['/product/type/list']">{{Heading}}</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    </li>
    <li class="active">เพิ่ม{{Heading}}</li>
  </ol>
</div>

<!-- content -->
<div class="page-content" id="productType">
  <ul id="productTypeTab" class="nav nav-tabs ul-edit responsive">
    <li class="active"><a href="#addProductType" data-toggle="tab">เพิ่ม{{Heading}}</a></li>
  </ul>
  <div id="productTypeTabContent" class="tab-content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div id="addProductType" class="tab-pane fade in active">
      <form [formGroup]="productTypeForm" class="form-horizontal" (ngSubmit)="sendForm()">
        <div class="form-body pal">
          <div class="form-group">
            <label for="name" class="col-md-3 control-label">ชื่อ{{Heading}}<span class='require'>*</span></label>
            <div class="col-md-8">
              <div class="input-icon right">
                <input type="text" id="name" name="name" class="form-control" formControlName="name" [(ngModel)]="data.name"
                />
                <p class="text-danger" *ngIf="name.hasError('required') && name.dirty">กรุณากรอกชื่อ{{Heading}}</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="detail" class="col-md-3 control-label">รายละเอียด<span class='require'>*</span></label>
            <div class="col-md-8">
              <div class="input-icon right">
                <textarea id="detail" rows="3" class="form-control" name="detail" formControlName="detail" [(ngModel)]="data.detail"></textarea>
                <p class="text-danger" *ngIf="detail.hasError('required') && detail.dirty">กรุณากรอกที่อยู่</p>
              </div>
            </div>
          </div>
          <div class="form-actions">
            <div class="col-md-8 col-md-offset-3">
              <button type="submit" class="btn btn-success btn-outlined" [disabled]="!productTypeForm.valid">บันทึก</button> &nbsp;
              <button type="reset" class="btn btn-danger btn-outlined">ยกเลิก</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
