<div class="text-right">
  <ul class="pagination mtm mbm">
    <li [ngClass]="{'disabled' : selectedIdx === 0}" ><a (click)="selectPage(selectedIdx-1)">&laquo;</a></li>
    <li *ngFor="let item of pages; let i = index" [ngClass]="{'active': selectedIdx === i}"><a (click)="selectPage(i)">{{item}}</a></li>
    <li [ngClass]="{'disabled' : selectedIdx === (pages.length - 1)}" ><a (click)="selectPage(selectedIdx+1)">&raquo;</a></li>
  </ul>
</div>
