#productInfo {
    #sum_box {
        margin-bottom: 15px;
        .panel {
            .panel-body {
                .value {
                    margin-top: 0px;
                    font-size: 20px;
                    margin-bottom: 2px;
                    padding-bottom: 0px;
                    text-align: left;
                    line-height: 30px;
                }
                p {
                    font-size: 16px;
                    line-height: 1;
                    margin: 0;
                }
            }
        }
        .green {
            .icon,
            .value {
                color: #5CB860;
            }
            &:hover {
                background: #5CB860;
                color: #fff;
                .icon,
                .value {
                    color: #fff;
                }
            }
        }
        .blue {
            .icon,
            .value {
                color: #5BC0E7;
            }
            &:hover {
                background: #5BC0E7;
                color: #fff;
                .icon,
                .value {
                    color: #fff;
                }
            }
        }
        .red {
            .icon,
            .value {
                color: #d9534f;
            }
            &:hover {
                background: #d9534f;
                color: #fff;
                .icon,
                .value {
                    color: #fff;
                }
            }
        }
        .yellow {
            .icon,
            .value {
                color: #f08c33;
            }
            &:hover {
                background: #f08c33;
                color: #fff;
                .icon,
                .value {
                    color: #fff;
                }
            }
        }
    }
    #productInfoContent {
        .tab-content {
            .title {
                margin: 0px;
            }
            .detail {
                .row {
                    align-items: flex-start;
                    display: flex;
                    &:last-child {
                        padding-top: 15px;
                        text-align: center;
                        justify-content: center;
                        .btn {
                            text-shadow: none;
                            &:first-child {
                                margin-right: 10px;
                            }
                        }
                    }
                }
                .nameDatail {
                    text-align: right;
                    color: #d94e37;
                }
                .contentDetail {
                    text-align: left;
                    margin: 0px;
                    margin-top: 10px;
                    font-size: 15px;
                }
                .table {
                    thead {
                        tr {
                            th {
                                text-align: center;
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}