<!-- title -->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
  <div class="page-header pull-left">
    <div class="page-title">{{Heading}}</div>
  </div>
  <ol class="breadcrumb page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>&nbsp;
      <a [routerLink]="['/dashboard']">Home</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
      <a [routerLink]="['/product/manage/list']">สินค้า</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    </li>
    <li class="active">{{Heading}}</li>
  </ol>
  <div class="clearfix"></div>
</div>

<!-- content -->
<div class="page-content" id="productInfo" *ngIf="productDetail">
  <app-loading *ngIf="isProductDetailLoading"></app-loading>
  <div class="row" id="sum_box">
    <div class="col-sm-6 col-md-4">
      <div class="panel green db mbm">
        <div class="panel-body">
          <p class="icon"><i class="icon fa fa-cube"></i></p>
          <h4 class="value">{{productDetail.name}}</h4>
          <p class="description">{{productDetail.product_type.name}}</p>
        </div>
      </div>
    </div>
    <!--<div class="col-sm-6 col-md-3">
      <div class="panel yellow db mbm">
        <div class="panel-body">
          <p class="icon"><i class="icon fa fa-shopping-basket"></i></p>
          <h4 class="value"><span>812</span><span> ครั้ง</span></h4>
          <p class="description">จำนวนการซื้อ</p>
        </div>
      </div>
    </div>-->
    <div class="col-sm-6 col-md-4">
      <div class="panel red db mbm">
        <div class="panel-body">
          <p class="icon"><i class="icon fa fa-cubes"></i></p>
          <h4 class="value"><span>{{productDetail.count_in_stores}}</span><span> ชิ้น</span></h4>
          <p class="description">จำนวนในคลัง</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="panel blue db mbm">
        <div class="panel-body">
          <p class="icon"><i class="icon fa fa-money"></i></p>
          <h4 class="value"><span>{{productDetail.sell_price || 0}}</span><span> บาท</span></h4>
          <p class="description">ราคาขาย</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="productInfoContent">
    <div class="col-md-6">
      <ul id="saleHistoryTab" class="nav nav-tabs ul-edit responsive">
        <!--<li class="active"><a href="#manageCustomer" data-toggle="tab">ประวัติการซื้อ</a></li>-->
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade in active">
          <!--<app-loading *ngIf="isProductDetailLoading"></app-loading>-->
          <div class="row" *ngIf="productDetail">
            <div class="col-md-12">
              <h3 class="title">รายละเอียด</h3>
            </div>
            <div class="col-md-12 detail">
              <form [formGroup]="productForm" class="form-horizontal">
                <div class="row">
                  <h4 class="col-md-4 nameDatail">Barcode :</h4>
                  <p class="col-md-8 contentDetail" *ngIf="!edit">{{productDetail.code}}</p>
                  <input id="code" type="text" placeholder="barcode" class="col-md-6 contentDetail" formControlName="code" *ngIf="edit" [(ngModel)]="productDetail.code"
                  />
                </div>
                <div class="row">
                  <h4 class="col-md-4 nameDatail">ชื่อสินค้า :</h4>
                  <p class="col-md-8 contentDetail" *ngIf="!edit">{{productDetail.name}}</p>
                  <input id="name" type="text" placeholder="ชื่อสินค้า" class="col-md-6 contentDetail" formControlName="name" *ngIf="edit"
                    [(ngModel)]="productDetail.name" />
                </div>
                <div class="row">
                  <h4 class="col-md-4 nameDatail">ประเภท :</h4>
                  <p class="col-md-8 contentDetail" *ngIf="!edit">{{productDetail.product_type.name}}</p>
                  <ng-select name="product_type_id" formControlName="product_type_id" [options]="product_type_data" [multiple]="false" highlightColor="#d94e37"
                    highlightTextColor="#ffffff" *ngIf="product_type_datas && edit" notFoundMsg="ไม่พบประเภทสินค้า" class="col-md-6 contentDetail">
                  </ng-select>
                </div>
                <div class="row">
                  <h4 class="col-md-4 nameDatail">ต้นทุน :</h4>
                  <p class="col-md-8 contentDetail" *ngIf="!edit">{{productDetail.cost}}</p>
                  <input id="cost" type="text" placeholder="ต้นทุน" class="col-md-6 contentDetail" formControlName="cost" *ngIf="edit" [(ngModel)]="productDetail.cost"
                  />
                </div>
                <div class="row">
                  <h4 class="col-md-4 nameDatail">ขายจริง :</h4>
                  <p class="col-md-8 contentDetail" *ngIf="!edit">{{productDetail.sell_price}}</p>
                  <input id="sell_price" type="text" placeholder="ชื่อสินค้า" class="col-md-6 contentDetail" name="sell_price" formControlName="sell_price"
                    [(ngModel)]="productDetail.sell_price" *ngIf="edit" />
                </div>
                <div class="row">
                  <h4 class="col-md-4 nameDatail">รายละเอียด :</h4>
                  <p class="col-md-8 contentDetail" *ngIf="!edit">{{productDetail.detail}}</p>
                  <textarea id="detail" rows="3" class="col-md-6 contentDetail" name="detail" formControlName="detail" *ngIf="edit" [(ngModel)]="productDetail.detail"></textarea>
                </div>
                <div class="row">
                  <h4 class="col-md-4 nameDatail">หมายเหตุ :</h4>
                  <p class="col-md-8 contentDetail" *ngIf="!edit">{{productDetail.remark}}</p>
                  <textarea id="remark" rows="3" class="col-md-6 contentDetail" name="remark" formControlName="remark" *ngIf="edit" [(ngModel)]="productDetail.remark"></textarea>
                </div>
                <div class="row" *ngIf="edit">
                  <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="edit = !edit">ยกเลิก</button>
                  <button type="button" class="btn btn-success btn-square" (click)="saveChange()">บันทึก</button>
                </div>
                <div class="row" *ngIf="!edit">
                  <button class="btn btn-info btn-outlined" (click)="edit = !edit"><i class="fa fa-edit"></i>  แก้ไข</button>
                  <button class="btn btn-violet btn-outlined" (click)="printBarcode()"><i class="fa fa-barcode"></i>  barcode</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <ul id="saleHistoryTab" class="nav nav-tabs ul-edit responsive">
        <!--<li class="active"><a href="#manageCustomer" data-toggle="tab">ประวัติการซื้อ</a></li>-->
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade in active">
          <div class="row">
            <div class="col-md-12">
              <h3 class="title">สินค้าในคลัง</h3>
            </div>
            <div class="col-md-12 detail">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th width="10%">#</th>
                    <th width="30%">สาขา</th>
                    <th width="20%">เข้า</th>
                    <th width="20%">ออก</th>
                    <th width="20%">เหลือ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of productDetail.shops; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.transectionIn}}</td>
                    <td>{{item.transectionOut}}</td>
                    <td>
                      <span class="label label-warning" *ngIf="item.amount === 0">{{item.amount}}</span>
                      <span class="label label-success" *ngIf="item.amount > 0">{{item.amount}}</span>
                      <span class="label label-danger" *ngIf="item.amount < 0">{{item.amount}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>