<!-- title -->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
  <div class="page-header pull-left">
    <div class="page-title">{{Heading}}</div>
  </div>
  <ol class="breadcrumb page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>&nbsp;
      <a [routerLink]="['/dashboard']">Home</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
      <a [routerLink]="['/product/manage']">สินค้า</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
      <a [routerLink]="['/product/accept/list']">การโอนสินค้า</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    </li>
    <li class="active">{{Heading}}</li>
  </ol>
  <div class="clearfix"></div>
</div>

<!-- content -->
<div class="page-content" id="addTransferProduct">
  <ul id="addTransferProductTab" class="nav nav-tabs ul-edit responsive">
    <li class="active"><a href="#add" data-toggle="tab">{{Heading}}</a></li>
  </ul>
  <div id="addTransferProductTabContent" class="tab-content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div id="add" class="tab-pane fade in active">
      <form [formGroup]="transferProductForm" class="form-horizontal">
        <div class="form-body pal">
          <div class="form-group">
            <label for="productSelected" class="col-md-3 control-label">สินค้า<span class='require'>*</span></label>
            <div class="col-md-6" id="addCustomerInput">
              <input name="productSelected" placeholder="กรุณากรอก barcode" [(ngModel)]="productSelected.name" [typeahead]="products" [typeaheadItemTemplate]="customItemProductTemplate"
                [typeaheadOptionField]="'code'" (typeaheadNoResults)="changeTypeaheadNoResults('product',$event)" (typeaheadOnSelect)="typeaheadOnSelect('product',$event)"
                class="form-control" formControlName="product_id" />
              <div class="no-data" *ngIf="typeaheadNoResults.product">
                <i class="fa fa-remove"></i> ไม่พบสินค้า
              </div>
              <p class="text-danger" *ngIf="product_id.hasError('required') && product_id.dirty">กรุณากรอก barcode สินค้า</p>
            </div>
          </div>
          <div *ngIf="productSelected.code">
            <div class="form-group">
              <label for="amount" class="col-md-3 control-label">Barcode</label>
              <div class="col-md-6">
                <div class="input-icon right">
                  <input type="text" class="form-control" disabled [(ngModel)]="productSelected.code" [ngModelOptions]="{standalone: true}"
                  />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="amount" class="col-md-3 control-label">ชื่อสินค้า</label>
              <div class="col-md-6">
                <div class="input-icon right">
                  <input type="text" class="form-control" disabled [(ngModel)]="productSelected.name" [ngModelOptions]="{standalone: true}"
                  />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="amount" class="col-md-3 control-label">ต้นทุนสินค้า</label>
              <div class="col-md-6">
                <div class="input-icon right">
                  <input type="text" class="form-control" disabled [(ngModel)]="productSelected.cost" [ngModelOptions]="{standalone: true}"
                  />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="amount" class="col-md-3 control-label">ราคาขาย</label>
              <div class="col-md-6">
                <div class="input-icon right">
                  <input type="text" class="form-control" disabled [(ngModel)]="productSelected.sell_price" [ngModelOptions]="{standalone: true}"
                  />
                </div>
              </div>
            </div>
            <div class="form-group" *ngIf="productSelected.detail">
              <label for="amount" class="col-md-3 control-label">รายละเอียด</label>
              <div class="col-md-6">
                <div class="input-icon right">
                  <textarea type="text" class="form-control" disabled [(ngModel)]="productSelected.detail" [ngModelOptions]="{standalone: true}">
                  </textarea>
                </div>
              </div>
            </div>
            <div class="form-group" *ngIf="productSelected.remark">
              <label for="amount" class="col-md-3 control-label">หมายเหตุ</label>
              <div class="col-md-6">
                <div class="input-icon right">
                  <textarea type="text" class="form-control" disabled [(ngModel)]="productSelected.remark" [ngModelOptions]="{standalone: true}">
                  </textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="amount" class="col-md-3 control-label">จำนวน<span class='require'>*</span></label>
            <div class="col-md-6">
              <div class="input-icon right">
                <input type="text" id="amount" name="amount" class="form-control" formControlName="amount" />
                <p class="text-danger" *ngIf="amount.hasError('required') && amount.dirty">กรุณากรอกจำนวน</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">เลือกร้านค้า</label>
            <div class="col-md-6" id="addCustomerInput">
              <select [(ngModel)]="brands_select" class="selectCenter" name="brands" formControlName="shop_destination_id" style="width:100%">
                  <option value="">อื่นๆ</option>
                  <option *ngFor="let shop of shopDestinations" [value]="shop.id">{{shop.name}}</option>
              </select>
              <!--<input name="shop_destination_id" placeholder="กรอกชื่อร้านค้า" [(ngModel)]="shopDestinationSelected.name" [typeahead]="shopDestinations"
                [typeaheadItemTemplate]="customItemshopDestinationTemplate" [typeaheadOptionField]="'name'" (typeaheadNoResults)="changeTypeaheadNoResults('shopDestination',$event)"
                (typeaheadOnSelect)="typeaheadOnSelect('shopDestination',$event)" class="form-control" formControlName="shop_destination_id"
              />
              <div class="no-data" *ngIf="typeaheadNoResults.shopDestination">
                <i class="fa fa-remove"></i> ไม่พบข้อมูลร้านค้า
              </div>-->
            </div>
          </div>
          <div class="form-group">
            <label for="remark" class="col-md-3 control-label">หมายเหตุ</label>
            <div class="col-md-6">
              <div class="input-icon right">
                <textarea id="remark" rows="3" class="form-control" name="remark" formControlName="remark" [(ngModel)]="data.remark"></textarea>
              </div>
            </div>
          </div>
          <div class="form-actions">
            <div class="col-md-6 col-md-offset-3">
              <button type="button" class="btn btn-success btn-outlined" [disabled]="!transferProductForm.valid" (click)="sendForm()">บันทึก</button>              &nbsp;
              <button type="reset" class="btn btn-danger btn-outlined">ยกเลิก</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<template #customItemProductTemplate let-model="item" let-index="index">
  <div class="nameAutocomplete">
    <h5><strong>barcode :: </strong> {{model.code}}</h5>
    <h5><strong>ชื่อสินค้า :: </strong> {{model.name}}</h5>
    <h5><strong>ประเภท :: </strong> {{model.product_type.name}}</h5>
  </div>
</template>