<!-- title -->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
  <div class="page-header pull-left">
    <div class="page-title">{{Heading}}</div>
  </div>
  <ol class="breadcrumb page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>&nbsp;
      <a [routerLink]="['/dashboard']">Home</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
      <a [routerLink]="['/product/manage']">สินค้า</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    </li>
    <li class="active">{{Heading}}</li>
  </ol>
  <div class="clearfix"></div>
</div>

<!-- content -->
<div class="page-content" id="transferProduct">
  <ul id="transferProductTab" class="nav nav-tabs ul-edit responsive">
    <li class="active"><a href="#listTransferProduct" data-toggle="tab">จัดการ{{Heading}}</a></li>
  </ul>
  <div id="transferProductTabContent" class="tab-content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div id="listTransferProduct" class="tab-pane fade in active">
      <div class="row dateSelect">
        <label class="control-label">เลือกช่วงวัน</label>
        <div>
          <my-date-range-picker [options]="myDateRangePickerOptions" (dateRangeChanged)="onDateRangeChanged($event)" [(ngModel)]="dateRange"></my-date-range-picker>
        </div>
      </div>
      <div class="row" *ngIf="!isLoading">
        <div class="col-lg-12 datatable-simple">
          <table datatable class="table table-bordered" [dtOptions]="dtOptions" *ngIf="data">
            <thead>
              <tr>
                <th>#</th>
                <th>วันที่</th>
                <th>Barcode</th>
                <th>สินค้า</th>
                <th>จำนวน</th>
                <th>ปลายทาง</th>
                <th>หมายเหตุ</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data; let i = index">
                <td>{{i + 1}}</td>
                <td>{{item.date}}</td>
                <td>{{item.product.code}}</td>
                <td>{{item.product.name}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.shop_destination ? item.shop_destination.name : '-'}}</td>
                <td class="remark">
                  <p>{{item.remark}}</p>
                </td>
                <td>
                  <div class="actionsBtn">
                    <a class="btn btn-info btn-outlined" (click)="openEditModal(item.id)"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger btn-outlined" (click)="openDeleteModal(item.id)"><i class="fa fa-trash"></i></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #editModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modalEditProduct">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">แก้ไข{{Heading}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form [formGroup]="transferProductForm" class="form-horizontal">
        <div class="modal-body" *ngIf="selectedItem">
          <div class="form-body pal">
            <div class="form-group">
              <label for="productSelected" class="col-md-3 control-label">สินค้า<span class='require'>*</span></label>
              <div class="col-md-6" id="addCustomerInput">
                <input name="productSelected" placeholder="กรุณากรอก barcode" [(ngModel)]="productSelected.name" [typeahead]="products" [typeaheadItemTemplate]="customItemProductTemplate"
                  [typeaheadOptionField]="'code'" (typeaheadNoResults)="changeTypeaheadNoResults('product',$event)" (typeaheadOnSelect)="typeaheadOnSelect('product',$event)"
                  class="form-control" formControlName="product_id" />
                <div class="no-data" *ngIf="typeaheadNoResults.product">
                  <i class="fa fa-remove"></i> ไม่พบสินค้า
                </div>
                <p class="text-danger" *ngIf="product_id.hasError('required') && product_id.dirty">กรุณากรอก barcode สินค้า</p>
              </div>
            </div>
            <div class="form-group">
              <label for="amount" class="col-md-3 control-label">จำนวน<span class='require'>*</span></label>
              <div class="col-md-6">
                <div class="input-icon right">
                  <input type="text" id="amount" name="amount" class="form-control" formControlName="amount" [(ngModel)]="selectedItem.amount"
                  />
                  <p class="text-danger" *ngIf="amount.hasError('required') && amount.dirty">กรุณากรอกจำนวน</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">เลือกร้านค้า</label>
              <div class="col-md-6" id="addCustomerInput">
                <select [(ngModel)]="selectedItem.shop_destination_id" class="selectCenter" name="brands" style="width:100%" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let shop of shopDestinations" [value]="shop.id">{{shop.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="remark" class="col-md-3 control-label">หมายเหตุ</label>
              <div class="col-md-6">
                <div class="input-icon right">
                  <textarea id="remark" rows="3" class="form-control" name="remark" formControlName="remark" [(ngModel)]="selectedItem.remark"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="editModal.hide()">ยกเลิก</button>
          <button type="button" class="btn btn-success btn-square" (click)="saveChange()" [disabled]="!transferProductForm.valid">บันทึก</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #deleteModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modalEditProduct">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">ยืนยันการลบ{{Heading}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedItem">
        <p>คุณแน่ใจที่ต้องการจะลบ "{{selectedItem.product.name}}" </p>
        <p>จำนวน {{selectedItem.amount}} ชิ้น</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="deleteModal.hide()">ยกเลิก</button>
        <button type="button" class="btn btn-success btn-square" (click)="deleteItem()">แน่ใจ</button>
      </div>
    </div>
  </div>
</div>