#transferProduct {
    #transferProductTabContent {
        .table {
            thead {
                tr {
                    th {
                        text-align: center;
                        font-weight: 600;
                    }
                }
            }
            tbody {
                tr {}
                td {
                    .btn-group {
                        width: 100%;
                        a {
                            text-shadow: none;
                        }
                    }
                    &:first-child {
                        text-align: center;
                    }
                }
            }
        }
    }
}