#addAcceptProduct {
    #addAcceptProductTabContent {
        .form-body {
            .form-group {
                .input-group {
                    padding-left: 15px;
                    padding-right: 15px;
                    .d-inline-block {
                        table {
                            tbody {
                                tr {
                                    td {
                                        .btn {
                                            background-color: transparent;
                                            font-size: 15px;
                                            border: 1px solid red;
                                            margin: 5px 10px;
                                            border-radius: 5px !important;
                                            padding: 5px 10px;
                                        }
                                        .custom-select {
                                            font-size: 15px;
                                            width: auto;
                                            &::first-child {
                                                margin-right: 5px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}