<!-- title -->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
  <div class="page-header pull-left">
    <div class="page-title">{{Heading}}</div>
  </div>
  <ol class="breadcrumb page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>&nbsp;
      <a [routerLink]="['/dashboard']">Home</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
      <a [routerLink]="['/product/manage']">สินค้า</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
      <a [routerLink]="['/product/accept/list']">นำเข้าสินค้า</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    </li>
    <li class="active">{{Heading}}</li>
  </ol>
  <div class="clearfix"></div>
</div>

<!-- content -->
<div class="page-content" id="addAcceptProduct">
  <ul id="addAcceptProductTab" class="nav nav-tabs ul-edit responsive">
    <li class="active"><a href="#add" data-toggle="tab">{{Heading}}</a></li>
  </ul>
  <div id="addAcceptProductTabContent" class="tab-content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div id="add" class="tab-pane fade in active">
      <form [formGroup]="acceptProductTypeForm" class="form-horizontal" (ngSubmit)="sendForm()">
        <div class="form-body pal">
          <div class="form-group">
            <label for="productSelected" class="col-md-3 control-label">ค้นหาสินค้า</label>
            <div class="col-md-8" id="addCustomerInput">
              <input name="productSelected" placeholder="กรุณากรอก barcode" [(ngModel)]="productSelected.name" [typeahead]="products" [typeaheadItemTemplate]="customItemProductTemplate"
                [typeaheadOptionField]="'code'" (typeaheadNoResults)="changeTypeaheadNoResults($event)" (typeaheadOnSelect)="typeaheadOnSelect($event)"
                class="form-control" formControlName="product_id" />
              <div class="no-data" *ngIf="typeaheadNoResults">
                <i class="fa fa-remove"></i> ไม่พบสินค้า
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="amount" class="col-md-3 control-label">จำนวน<span class='require'>*</span></label>
            <div class="col-md-8">
              <div class="input-icon right">
                <input type="text" id="amount" name="amount" class="form-control" formControlName="amount" [(ngModel)]="data.amount" />
                <p class="text-danger" *ngIf="amount.hasError('required') && amount.dirty">กรุณากรอกจำนวน</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="remark" class="col-md-3 control-label">หมายเหตุ</label>
            <div class="col-md-8">
              <div class="input-icon right">
                <textarea id="remark" rows="3" class="form-control" name="remark" formControlName="remark" [(ngModel)]="data.remark"></textarea>
              </div>
            </div>
          </div>
          <div class="form-actions">
            <div class="col-md-8 col-md-offset-3">
              <button type="submit" class="btn btn-success btn-outlined" [disabled]="!acceptProductTypeForm.valid">บันทึก</button>              &nbsp;
              <button type="reset" class="btn btn-danger btn-outlined">ยกเลิก</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<template #customItemProductTemplate let-model="item" let-index="index">
  <div class="nameAutocomplete">
    <h5><strong>barcode :: </strong> {{model.code}}</h5>
    <h5><strong>ชื่อสินค้า :: </strong> {{model.name}}</h5>
    <h5><strong>ประเภท :: </strong> {{model.product_type.name}}</h5>
  </div>
</template>