/* You can add global styles to this file, and also import other style files */

$colorTheme: #d94e37;
$colorThemeDark:#24221f;
$colorText:#1e1e1e;
$textSizeTiny:16px;
$textSizeNormal:18px;
$textSizeHeader:20px;
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span .form-control {
    font-family: 'NunitoSans', 'Trirong', 'FontAwesome' !important;
    letter-spacing: 1px;
}

body {
    font-size: $textSizeTiny;
    font-weight: 200;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
.form-control:focus {
    border-color: #ddd;
    border: 1px solid;
}

#page-wrapper {
    min-height: 100vh;
}

.form-control {
    font-size: $textSizeTiny;
}

.require {
    margin-right: -8px;
}

.page-title-breadcrumb {
    align-items: center;
    display: flex;
    .page-header {
        .page-title {
            color: $colorText;
            font-size: $textSizeHeader;
            font-weight: 500;
            padding: 0px;
        }
    }
    .breadcrumb {
        font-size: $textSizeNormal;
        position: absolute;
        right: 20px;
        padding: 0px;
        margin: 0px;
        li,
        a,
        i {
            color: $colorText;
            font-weight: 400;
        }
        li.active {
            color: $colorTheme;
            font-weight: 500;
        }
    }
}

.btn {
    text-shadow: none !important;
}

.btn-success[disabled] {
    color: #ffffff;
}

.btn-w-icon {
    .fa {
        margin-right: 5px;
    }
}

.hideMenu {
    width: 50px !important;
    -webkit-transition: width, background 200ms linear;
    -moz-transition: width, background 200ms linear;
    -ms-transition: width, background 200ms linear;
    -o-transition: width, background 200ms linear;
    transition: width, background 200ms linear;
    .logo-text,
    .icon-collapse {
        display: none !important;
    }
    .sidebar-collapse {
        ul {
            li {
                height: 50px;
                &:first-child {
                    height: 0px;
                }
                .menu-title {
                    display: none;
                }
                &:hover {
                    .menu-title {
                        display: inherit;
                        position: absolute;
                        left: 50px;
                        top: 0px;
                        background: #322f2b;
                        margin: 0;
                        width: 200px;
                        height: 100%;
                        line-height: 15px;
                        padding: 15px;
                        text-align: center;
                        border-bottom: 5px solid $colorTheme;
                    }
                    .nav-second-level {
                        display: block;
                        position: absolute;
                        left: 50px; // top: 0px;
                        width: 200px;
                        height: 100%;
                        line-height: 12px;
                        li {
                            height: 43px;
                            a {
                                background: #322f2b;
                                padding: 15px;
                                i {
                                    display: none;
                                }
                                .submenu-title {
                                    margin: 0px;
                                }
                            }
                        }
                    }
                    .nav-second-level.collapse.in {
                        display: block;
                    }
                }
                .nav-second-level.collapse.in {
                    display: none;
                }
                a {
                    height: 100%;
                }
            }
        }
    }
}

#page-wrapper.hideMenuContent {
    margin-left: 50px !important;
}

.iconHideMenu {
    display: block !important;
}

.tableWhenHideMenu {
    display: flex;
    justify-content: center;
    z-index: 0;
}

//DATATABLE
#datatable-claim {
    .datatable {
        .datatable-header {
            .datatable-header-inner {
                height: 100%;
                width: 100% !important;
                .datatable-row-center {
                    width: 100% !important;
                    display: flex;
                    align-items: center;
                    background-color: #efefef;
                }
            }
        }
        .datatable-body {
            min-height: inherit !important;
            .datatable-scroll {
                width: 100% !important;
                .datatable-row-wrapper {
                    .datatable-body-row {
                        .datatable-row-center {
                            width: 100% !important;
                            .datatable-body-cell {
                                &:last-child {
                                    .datatable-body-cell-label {
                                        padding: 10px;
                                        width: 100%;
                                        min-height: inherit;
                                        max-height: none;
                                        >div {
                                            width: 100%;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .datatable-row-odd {
                        background-color: #f9f9f9;
                    }
                }
            }
        }
        .sortable {
            .icon-up {
                margin-left: 10px;
                &:before {
                    content: '\f0d7';
                }
            }
            .icon-down {
                margin-left: 10px;
                &:before {
                    content: '\f0d8';
                }
            }
            .undefined {
                margin-left: 10px;
                &:before {
                    content: "\f0dc";
                }
            }
        }
    }
}

.datatable.fullscreen {
    position: relative !important;
    height: auto !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

#rootwizard-custom-circle {
    &:before {
        background: #ccc;
    }
    >.navbar {
        >.navbar-inner {
            >ul {
                padding: 0px;
                >li {
                    background-color: transparent;
                    margin-bottom: 20px;
                    padding-top: 0px;
                    padding-left: 0px;
                    display: flex;
                    list-style: none;
                    text-align: center;
                    position: relative;
                    width: 25%;
                    border: none;
                    justify-content: center;
                    a {
                        background: #fff;
                        border: 3px solid #ccc;
                        height: 40px;
                        width: 40px;
                        border-radius: 20px;
                        -webkit-border-radius: 20px;
                        padding: 0px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        i {
                            color: #ccc;
                        }
                        p.anchor {
                            color: #ccc;
                            font-size: $textSizeNormal;
                            font-weight: 400;
                            left: inherit;
                            width: 100%;
                        }
                    }
                }
                >li.active {
                    a {
                        border-color: $colorTheme;
                        i {
                            color: $colorTheme;
                        }
                        .anchor {
                            color: $colorTheme;
                        }
                    }
                }
            }
        }
    }
    #bar {
        .bar {
            .progress {
                .progress-bar {
                    background-image: none;
                }
            }
        }
    }
    .tab-content {
        padding-bottom: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
        color: $colorText;
        .action {
            padding-bottom: 0px;
            margin-top: 20px;
            padding-right: 15px;
            .btn.disabled {
                color: #777;
                border-color: #777;
                background: none;
            }
            .btn {
                font-size: $textSizeNormal;
                .mrx {}
            }
        }
        .tab-pane {
            .form-body {
                h3 {
                    margin-bottom: 20px;
                    font-weight: 500;
                }
                .form-group {
                    .control-label {
                        font-size: $textSizeNormal;
                    }
                    .form-control {
                        font-size: $textSizeTiny;
                    }
                    .addCustomerBtn {
                        padding-left: 0px;
                        .btn {
                            width: 100%;
                            font-size: $textSizeTiny;
                            height: 34px;
                            line-height: $textSizeTiny;
                        }
                    }
                }
                .broken {
                    .brokenInput {
                        .input-group {
                            width: 100%;
                            .input-group-addon {
                                font-size: $textSizeTiny;
                                width: 40px;
                            }
                            .form-control {
                                width: 100%;
                            }
                        }
                    }
                    .btn {
                        font-size: $textSizeTiny;
                    }
                }
            }
        }
    }
    li {
        background: none;
        border: none;
        margin: 0;
        width: 100%;
        height: auto;
        border-radius: inherit;
        padding: 0;
        text-align: left;
        border-bottom: 1px solid #ccc;
        &:first-child {
            margin: 0px;
        }
        a {
            padding: 0px 10px;
        }
    }
    li.active {
        border: none;
        background-color: #f5f5f5;
        background-image: none;
        border-bottom: 1px solid #ccc;
        a {
            background: none;
        }
    }
    #datatable-claim {
        .datatable {
            .datatable-footer {
                .datatable-pager {
                    .pager {
                        li {
                            margin: 0;
                            border: none;
                            border-radius: 0px;
                            width: auto;
                            height: auto;
                            a {
                                font-size: inherit;
                                i {
                                    color: $colorTheme;
                                }
                            }
                        }
                        li.disabled {
                            a {
                                i {
                                    color: inherit;
                                }
                            }
                        }
                        .pages.active {
                            background: $colorTheme;
                            a {
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
        }
    }
}

.radioButtonCustom {
    padding-top: 7px;
    margin-bottom: 0;
    input[type="radio"],
    input[type="checkbox"] {
        display: none;
    }
    label.btn {
        box-shadow: none;
        padding: 0px;
        width: 100px;
        text-align: left;
        padding-left: 10px;
        font-size: $textSizeNormal;
    }
    label {
        .fa {
            font-size: 20px;
            margin-right: 5px;
        }
        .selected {
            display: none;
        }
        input[type="radio"],
        input[type="checkbox"] {
            &:checked {
                ~ {
                    i.fa.notCheck {
                        display: none;
                    }
                    i.fa.selected {
                        display: inline;
                        color: $colorTheme;
                    }
                }
            }
        }
        &:hover {
            input[type="radio"],
            input[type="checkbox"] {
                ~ {
                    i.fa {
                        color: $colorTheme;
                    }
                }
            }
        }
    }
}

.tab-content {
    position: relative;
    min-height: 80px;
    .tab-pane {
        .form-body {
            .form-group {
                .control-label {
                    font-size: $textSizeNormal;
                    color: $colorText;
                    padding: 0px;
                    height: 34px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
                .form-control {
                    font-size: $textSizeTiny;
                    color: #1e1e1e;
                    font-weight: 400;
                }
                .addCustomerBtn {
                    padding-left: 0px;
                    padding-right: 0px;
                    .btn {
                        width: 100%;
                        font-size: $textSizeTiny;
                    }
                }
            }
            .has-success {
                .form-control {
                    border-color: #5cb85c;
                    color: #5cb85c;
                }
                .form-control:focus {
                    border-color: #5cb85c;
                }
            }
            .has-error {
                .form-control {
                    border-color: $colorTheme;
                    color: $colorTheme;
                }
                .form-control:focus {
                    border-color: $colorTheme;
                }
            }
            .form-actions {
                background: none;
                >div {
                    text-align: center;
                    .btn {
                        width: 80px;
                        font-size: $textSizeNormal;
                    }
                }
            }
        }
    }
}

//FORM INPUT
input:focus {
    border-color: $colorTheme;
}

.text-danger {
    color: $colorTheme;
    font-weight: 400;
}

ngb-datepicker.dropdown-menu,
.showDatepicker {
    width: 220px;
    ngb-datepicker-navigation {
        table {
            width: 100%;
            tbody {
                tr {
                    text-align: center;
                    td {
                        ngb-datepicker-navigation-select {
                            height: 30px;
                            .custom-select {
                                height: 30px;
                                border: none;
                                font-size: inherit;
                                padding: 0px;
                                line-height: 1;
                                width: 48%;
                                &:first-child {
                                    margin-right: 2%;
                                }
                            }
                        }
                    }
                    .text-sm-left,
                    .text-sm-right {
                        .btn {
                            background: rgba(229, 229, 229, 0.49);
                            border-radius: 3px !important;
                        }
                    }
                }
            }
        }
    }
    table {
        width: 100%;
        margin-top: 5px;
        tr {
            td.weekday {
                font-weight: 500;
            }
            td.day {
                .text-muted {
                    color: #ddd;
                }
                .btn-secondary {
                    width: 27px;
                    height: 27px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                }
                .bg-primary.text-white.btn-secondary {
                    border-radius: 50%;
                }
            }
        }
    }
}

.addCustomerInput,
#addCustomerInput {
    typeahead-container.dropdown {
        .dropdown-menu {
            width: 400px;
            li {
                a {
                    border: 5px solid transparent;
                    h5 {
                        // font-size: $textSizeNormal;
                        strong {
                            font-weight: 400;
                        }
                    }
                }
            }
            li.active {
                a {
                    background: #fff;
                    border: 5px solid $colorTheme;
                    color: $colorTheme;
                }
            }
        }
    }
}

.modal {
    .modal-dialog {
        .modal-content {
            .modal-body {
                .form-body {
                    padding: 0px !important;
                }
            }
            .modal-footer {
                .btn {
                    background-image: none;
                }
            }
        }
    }
}

.datatable-simple {
    .dataTables_filter {
        input {
            height: 34px;
        }
    }
}

.mydp,
.mydrp {
    * {
        font-family: inherit;
    }
    .selectiongroup {
        color: #1e1e1e;
        .selection {
            text-align: left;
            padding-left: 10px;
            font-size: 16px !important;
            color: #777;
        }
    }
    .mydrpicon {
        color: #777;
    }
}

.dateSelect {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 15px;
    .control-label {
        margin-right: 15px;
    }
    .mydrp {
        width: 300px !important;
    }
}

select.selection {
    background: transparent;
    border: 1px solid #ddd;
    font-size: 16px;
    height: 30px;
    padding: 5px;
    width: 100%;
    &:after {
        content: "▼";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        font-size: 60%;
        line-height: 30px;
        padding: 0 7px;
        background: #bbb;
        color: white;
        pointer-events: none;
        -webkit-border-radius: 0 6px 6px 0;
        -moz-border-radius: 0 6px 6px 0;
        border-radius: 0 6px 6px 0;
    }
}
