<div id="header-topbar-option-demo" class="page-header-topbar">
  <app-header></app-header>
</div>
<div id="wrapper">
  <app-sidebar></app-sidebar>
  <div id="page-wrapper" [ngClass]="{'hideMenuContent': !isHideMenu}">
    <router-outlet></router-outlet>
  </div>
</div>