<!-- title -->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
  <div class="page-header pull-left">
    <div class="page-title">{{Heading}}</div>
  </div>
  <ol class="breadcrumb page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>&nbsp;
      <a [routerLink]="['/dashboard']">Home</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
      <a [routerLink]="['/product/type/list']">{{Heading}}</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    </li>
    <li class="active">เพิ่ม{{Heading}}</li>
  </ol>
</div>

<!-- content -->
<div class="page-content" id="productType">
  <ul id="productTypeTab" class="nav nav-tabs ul-edit responsive">
    <li class="active"><a href="#addProductType" data-toggle="tab">เพิ่ม{{Heading}}</a></li>
  </ul>
  <div id="productTypeTabContent" class="tab-content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div id="addProductType" class="tab-pane  fade in active">
      <form [formGroup]="expenseForm" class="form-horizontal" (ngSubmit)="sendForm()">
        <div class="form-body pal">
          <div class="form-group">
            <label for="detail" class="col-md-3 control-label">รายการ<span class='require'>*</span></label>
            <div class="col-md-6">
              <div>
                <input type="text" id="detail" name="detail" class="form-control" formControlName="detail" />
                <p class="text-danger" *ngIf="detail.hasError('required') && detail.dirty">กรุณากรอกรายการ</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="date" class="col-md-3 control-label">วันที่<span class='require'>*</span></label>
            <div class="col-md-6">
              <div>
                <my-date-picker [selDate]="selDate" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" formControlName="expense_date" [(ngModel)]="date"></my-date-picker>
              </div>
            </div>
          </div>
          <div class="form-group mbn"><label for="inputDetail" class="col-md-3 control-label">จำนวนเงิน<span class='require'>*</span></label>
            <div class="col-md-6">
              <div>
                <input id="inputNameType" type="number" class="form-control" formControlName="amount" />
                <p class="text-danger" *ngIf="amount.hasError('required') && amount.dirty">กรุณากรอกจำนวนเงิน</p>
              </div>
            </div>
          </div>
          <div class="form-actions">
            <div class="col-md-12">
              <button type="submit" class="btn btn-success btn-outlined" [disabled]="!expenseForm.valid">บันทึก</button>&nbsp;
              <button type="reset" class="btn btn-danger btn-outlined">ยกเลิก</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<template ngbModalContainer></template>

<template #confirmDeleteProducType let-c="close" let-d="dismiss" class="fade">
  <div class="modal-dialog" id="modalConfirmDelete">
    <div class="modal-header modal-header-primary">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 id="modal-header-primary-label" class="modal-title">ยืนยันการลบ{{Heading}}</h4>
    </div>
    <div class="modal-body">
      <p>คุณแน่ใจที่ต้องการจะลบ "{{selectedItem.name}}"</p>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-danger btn-outlined btn-square" (click)="c('Close click')">ยกเลิก</button>
      <button type="button" class="btn btn-primary btn-square" (click)="c('Close click')">แน่ใจ</button>
    </div>
  </div>
</template>

<template #editProductType let-c="close" let-d="dismiss" class="fade">
  <div class="modal-dialog" id="modalConfirmDelete">
    <div class="modal-header modal-header-primary">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 id="modal-header-primary-label" class="modal-title">แก้ไข{{Heading}}</h4>
    </div>
    <div class="modal-body">
      <form action="#" class="form-horizontal">
        <div class="form-body pal">
          <div class="form-group"><label for="inputNameType" class="col-md-3 control-label">ชื่อ{{Heading}}<span class='require'>*</span></label>
            <div class="col-md-8">
              <div>
                <input id="inputNameType" type="text" placeholder="ชื่อ{{Heading}}" class="form-control" [value]="selectedItem.name" />
              </div>
            </div>
          </div>
          <div class="form-group mbn"><label for="inputDetail" class="col-md-3 control-label">รายละเอียด<span class='require'>*</span></label>
            <div class="col-md-8">
              <textarea id="inputDetail" rows="3" class="form-control" [value]="selectedItem.phone"></textarea>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-danger btn-outlined btn-square" (click)="c('Close click')">ยกเลิก</button>
      <button type="button" class="btn btn-success btn-square" (click)="c('Close click')">บันทึก</button>
    </div>
  </div>
</template>