<!-- title -->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
  <div class="page-header pull-left">
    <div class="page-title">{{Heading}}</div>
  </div>
  <ol class="breadcrumb page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>&nbsp;
      <a [routerLink]="['/dashboard']">Home</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    </li>
    <li class="active">{{Heading}}</li>
  </ol>
  <div class="btn btn-blue reportrange hide">
    <i class="fa fa-calendar"></i>&nbsp;
    <span></span>&nbsp;report&nbsp;
    <i class="fa fa-angle-down"></i>
    <input type="hidden" name="datestart" />
    <input type="hidden" name="endstart" />
  </div>
  <div class="clearfix"></div>
</div>

<!-- content -->
<div class="page-content" id="productType">
  <ul id="productTypeTab" class="nav nav-tabs ul-edit responsive">
    <li class="active"><a href="#manageProductType" data-toggle="tab">จัดการ{{Heading}}</a></li>
  </ul>
  <div id="productTypeTabContent" class="tab-content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div id="manageProductType" class="tab-pane fade in active">
      <div class="row dateSelect">
        <label class="control-label">เลือกช่วงวัน</label>
        <div>
          <my-date-range-picker [options]="myDateRangePickerOptions" (dateRangeChanged)="onDateRangeChanged($event)" [(ngModel)]="dateRange"></my-date-range-picker>
        </div>
      </div>
      <div class="row" *ngIf="!isLoading">
        <div class="col-lg-12 datatable-simple">
          <table datatable class="table table-bordered" [dtOptions]="dtOptions" *ngIf="data">
            <thead>
              <tr>
                <th>#</th>
                <th>รายการ</th>
                <th>จำนวนเงิน</th>
                <th>วันที่</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data; let i = index">
                <td>{{i}}</td>
                <td>{{item.detail}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.expense_date}}</td>
                <td>
                  <div class="actionsBtn">
                    <a class="btn btn-info btn-outlined" (click)="openEditModal(item.id)"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger btn-outlined" (click)="openDeleteModal(item.id)"><i class="fa fa-trash"></i></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" bsModal #editModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modalEditProduct">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">แก้ไข{{Heading}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="expenseForm" class="form-horizontal" (ngSubmit)="saveChange()">
        <div class="modal-body" *ngIf="selectedItem">
          <div class="form-body pal">
            <div class="form-group">
              <label for="detail" class="col-md-3 control-label">รายการ<span class='require'>*</span></label>
              <div class="col-md-6">
                <div>
                  <input type="text" id="detail" name="detail" class="form-control" formControlName="detail" [(ngModel)]="selectedItem.detail"
                  />
                  <p class="text-danger" *ngIf="detail.hasError('required') && detail.dirty">กรุณากรอกรายการ</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="date" class="col-md-3 control-label">วันที่<span class='require'>*</span></label>
              <div class="col-md-6">
                <div class="input-group showDatepicker">
                  <ngb-datepicker #dp [(ngModel)]="ex_date" (navigate)="date = $event.next" formControlName="expense_date"></ngb-datepicker>
                  <!--<input type="text" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" class="datepicker-default form-control" ngbDatepicker
                    #d="ngbDatepicker" (click)="d.toggle()" formControlName="expense_date" [(ngModel)]="selectedItem.expense_date" />
                  <div class="input-group-addon" (click)="d.toggle()"><i class="fa fa-calendar"></i></div>-->
                </div>
              </div>
            </div>
            <div class="form-group mbn"><label for="inputDetail" class="col-md-3 control-label">จำนวนเงิน<span class='require'>*</span></label>
              <div class="col-md-6">
                <div>
                  <input id="inputNameType" type="number" class="form-control" formControlName="amount" [(ngModel)]="selectedItem.amount" />
                  <p class="text-danger" *ngIf="amount.hasError('required') && amount.dirty">กรุณากรอกจำนวนเงิน</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="editModal.hide()">ยกเลิก</button>
          <button type="submit" class="btn btn-success btn-square" [disabled]="!expenseForm.valid">บันทึก</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #deleteModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modalEditProduct">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">ยืนยันการลบ{{Heading}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedItem">
        <p>คุณแน่ใจที่ต้องการจะลบ "{{selectedItem.name}}"</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="deleteModal.hide()">ยกเลิก</button>
        <button type="button" class="btn btn-success btn-square" (click)="deleteItem()">แน่ใจ</button>
      </div>
    </div>
  </div>
</div>