<!-- title -->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
  <div class="page-header pull-left">
    <div class="page-title">{{Heading}}</div>
  </div>
  <ol class="breadcrumb page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>&nbsp;
      <a [routerLink]="['/dashboard']">Home</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    </li>
    <li class="active">{{Heading}}</li>
  </ol>
  <div class="btn btn-blue reportrange hide">
    <i class="fa fa-calendar"></i>&nbsp;
    <span></span>&nbsp;report&nbsp;
    <i class="fa fa-angle-down"></i>
    <input type="hidden" name="datestart" />
    <input type="hidden" name="endstart" />
  </div>
  <div class="clearfix"></div>
</div>

<!-- content -->
<div class="page-content" id="claim">
  <ul id="claimTab" class="nav nav-tabs ul-edit responsive">
    <li class="active"><a href="#claimTab" data-toggle="tab">จัดการ{{Heading}}</a></li>
  </ul>
  <div id="claimTabContent" class="tab-content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div id="listClaim" class="tab-pane fade in active">
      <div class="row dateSelect">
        <label class="control-label">เลือกช่วงวัน</label>
        <div>
          <my-date-range-picker [options]="myDateRangePickerOptions" (dateRangeChanged)="onDateRangeChanged($event)" [(ngModel)]="dateRange"></my-date-range-picker>
        </div>
      </div>
      <div class="row" *ngIf="!isLoading">
        <div class="col-lg-12 datatable-simple">
          <table datatable class="table table-bordered" [dtOptions]="dtOptions" *ngIf="data">
            <thead>
              <tr>
                <th>รหัสเปลี่ยน</th>
                <th>วันที่</th>
                <th>สินค้า</th>
                <th>สินค้าที่เปลี่ยน</th>
                <th>ลูกค้า</th>
                <th>สถานะ</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data">
                <td>{{item.code}}</td>
                <td>{{item.exchange_date}}</td>
                <td>{{item.source_product_name}}</td>
                <td>{{item.target_product_name}}</td>
                <td>{{item.customer_name}}</td>
                <td [ngSwitch]="item.status">
                  <span class="label label-blue" *ngSwitchCase="1">รับเรื่อง</span>
                  <span class="label label-yellow" *ngSwitchCase="2">กำลังเปลี่ยน</span>
                  <span class="label label-green" *ngSwitchCase="3">สำเร็จ</span>
                  <span class="label label-red" *ngSwitchCase="4">ผิดพลาด</span>
                </td>
                <td>
                  <div class="actionsBtn">
                    <a class="btn btn-yellow btn-outlined" (click)="showDetail(item)"><i class="fa fa-info"></i></a>
                    <a class="btn btn-danger btn-outlined" (click)="openDeleteModal(item)"><i class="fa fa-trash"></i></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" bsModal #deleteModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modalEditProduct">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">ยืนยันการลบการเปลี่ยนสินค้า</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedItem">
        <p>คุณแน่ใจที่ต้องการจะลบ "{{selectedItem.code}}"</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="deleteModal.hide()">ยกเลิก</button>
        <button type="button" class="btn btn-success btn-square" (click)="deleteItem()">แน่ใจ</button>
      </div>
    </div>
  </div>
</div>