#addClaim {
    #addChangeClaimStore {
        #rootwizard-custom-circle {
            >.navbar {
                >.navbar-inner {
                    >ul {
                        >li {
                            margin: 0px;
                            width: 25%;
                        }
                    }
                }
            }
        }
    }
}