<!-- title -->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
  <div class="page-header pull-left">
    <div class="page-title">{{Heading}}</div>
  </div>
  <ol class="breadcrumb page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>&nbsp;
      <a [routerLink]="['/dashboard']">Home</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
      <a [routerLink]="['/claim/change/list']">รายการเปลี่ยนสินค้า</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    </li>
    <li class="active">{{Heading}}</li>
  </ol>
</div>

<!-- content -->
<div class="page-content" id="change-info">
  <div id="changeInfoContent">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="row" *ngIf="!isLoading">
      <div class="col-md-6">
        <div class="portlet box portlet-primary information">
          <div class="portlet-header">
            <div class="caption">ข้อมูลทั่วไป</div>
            <div class="tools">
              <i class="fa fa-pencil" (click)="edit.info = !edit.info"></i>
            </div>
          </div>
          <div class="portlet-body">
            <div class="row form-horizontal">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="code" class="col-md-3 control-label">
                  รหัสเปลี่ยน <span *ngIf="!edit.info">:</span><span class='require' *ngIf="edit.info">*</span></label>
                  <div class="col-md-8">
                    <input type="text" placeholder="รหัสเปลี่ยน" class="inputUsername form-control" name="code" id="code" [(ngModel)]="data.code"
                      [readonly]="!edit.info" />
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="date" class="col-md-3 control-label">
                  วันที่รับเปลี่ยน <span *ngIf="!edit.info">:</span><span class='require' *ngIf="edit.info">*</span></label>
                  <div class="col-md-8">
                    <div class="input-group" *ngIf="edit.info">
                      <input type="text" name="date" class="datepicker-default form-control" ngbDatepicker #date="ngbDatepicker" (click)="date.toggle()"
                        [(ngModel)]="data.dateFormat" />
                      <div class="input-group-addon" (click)="date.toggle()"><i class="fa fa-calendar"></i></div>
                    </div>
                    <input type="text" class="inputUsername form-control" name="date" id="date" [(ngModel)]="data.exchange_date" [readonly]="!edit.info"
                      *ngIf="!edit.info" />
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="customerName" class="col-md-3 control-label">
                ชื่อลูกค้า <span *ngIf="!edit.info">:</span><span class='require' *ngIf="edit.info">*</span></label>
                  <div *ngIf="edit.info" class="col-md-8 inputTypeahead">
                    <div class="col-md-9 divInputAhead" id="addCustomerInput">
                      <input name="nameCustomer" placeholder="ค้นหาชื่อลูกค้า" [(ngModel)]="customerSelected.name" [typeahead]="customers" [typeaheadItemTemplate]="customItemCustomerTemplate"
                        [typeaheadOptionField]="'first_name'" (typeaheadNoResults)="changeTypeaheadNoResults($event)" (typeaheadOnSelect)="typeaheadOnSelect(0,$event)"
                        class="form-control" />
                      <div *ngIf="typeaheadLoading===true">
                        <i class="fa fa-refresh ng-hide"></i>
                      </div>
                    </div>
                    <div class="col-md-3 addCustomerBtn divButtonAhead">
                      <button type="button" class="btn btn-success btn-outlined btn-sm" (click)="openModal(addCustomer)">เพิ่ม</button>
                    </div>
                  </div>
                  <div class="col-md-8" *ngIf="!edit.info">
                    <input type="text" class="inputUsername form-control" name="customerName" id="customerName" [(ngModel)]="data.customer_id"
                      [readonly]="!edit.info" />
                  </div>
                </div>

                <div class="no-data col-md-8 col-md-offset-3" *ngIf="typeaheadNoResults===true">
                  <i class="fa fa-remove"></i> ไม่พบข้อมูลลูกค้า
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="tel" class="col-md-3 control-label">
                  เบอร์โทร <span *ngIf="!edit.info">:</span><span class='require' *ngIf="edit.info">*</span></label>
                  <div class="col-md-8">
                    <input type="text" placeholder="เบอร์โทร" class="inputUsername form-control" name="tel" id="tel" [(ngModel)]="data.tel" [readonly]="!edit.info"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-12 btnAction" *ngIf="edit.info">
                <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="cancleEdit()">ยกเลิก</button>
                <button type="button" class="btn btn-success btn-square" (click)="editData()">บันทึก</button>
              </div>
            </div>
          </div>
        </div>
        <div class="portlet box portlet-primary broken">
          <div class="portlet-header">
            <div class="caption">อาการ</div>
            <div class="tools">
              <i class="fa fa-pencil" (click)="edit.broken = !edit.broken"></i>
            </div>
          </div>
          <div class="portlet-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group broken">
                  <!--<label for="inputEmail" class="col-md-3 control-label">Email<span class='require'>*</span></label>-->
                  <div class="col-md-10 col-md-offset-1 brokenInput" *ngFor="let item of data.broken; let i = index">
                    <div class="input-group">
                      <span class="input-group-addon">{{i+1}}</span>
                      <input type="text" placeholder="อาการ" class="form-control" [(ngModel)]="data.broken[i].message" [readonly]="!edit.broken"
                      />
                    </div>
                  </div>
                  <div class="col-md-10 col-md-offset-1" *ngIf="edit.broken">
                    <button type="button" class="btn btn-green btn-outlined btn-block brokenAddBtn" (click)="addBrokens()"><i class="fa fa-plus"></i>&nbsp;&nbsp;เพิ่มอาการ</button>
                  </div>
                </div>
              </div>
              <div class="col-md-12 form-horizontal">
                <div class="col-md-12 btnAction" *ngIf="edit.broken">
                  <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="cancleEdit()">ยกเลิก</button>
                  <button type="button" class="btn btn-success btn-square" (click)="editData()">บันทึก</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portlet box portlet-primary remark">
          <div class="portlet-header">
            <div class="caption">หมายเหตุ</div>
            <div class="tools">
              <i class="fa fa-pencil" (click)="edit.remark = !edit.remark"></i>
            </div>
          </div>
          <div class="portlet-body">
            <div class="row form-horizontal">
              <div class="form-group">
                <label for="remark" class="col-md-3 control-label">หมายเหตุ <span *ngIf="!edit.remark">:</span><span class='require' *ngIf="edit.remark">*</span></label>
                <div class="col-md-7">
                  <textarea id="remark" class="form-control" [(ngModel)]="data.remark" name="remark" [readonly]="!edit.remark"></textarea>
                </div>
              </div>
              <div class="col-md-12 btnAction" *ngIf="edit.remark">
                <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="cancleEdit()">ยกเลิก</button>
                <button type="button" class="btn btn-success btn-square" (click)="editData()">บันทึก</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="row">
          <div class="col-md-7">
            <div class="portlet box portlet-primary status">
              <div class="portlet-header">
                <div class="caption">สถานะ</div>
                <div class="tools">
                  <i class="fa fa-pencil" (click)="edit.status = !edit.status"></i>
                </div>
              </div>
              <div class="portlet-body ">
                <div class="statusText" [ngSwitch]="data.status">
                  <h4 class="statusShow text-blue" *ngSwitchCase="1">รับเรื่อง</h4>
                  <h4 class="statusShow text-yellow" *ngSwitchCase="2">กำลังเปลี่ยน</h4>
                  <h4 class="statusShow text-green" *ngSwitchCase="3">สำเร็จ</h4>
                  <h4 class="statusShow text-red" *ngSwitchCase="4">ข้อผิดพลาด</h4>
                </div>
                <div class="statusEdit" *ngIf="edit.status">
                  <div class="row form-horizontal">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="status" class="col-md-3 control-label">
                  สถานะ <span *ngIf="!edit.status">:</span><span class='require' *ngIf="edit.status">*</span></label>
                        <div class="col-md-6">
                          <select [(ngModel)]="data.status" class="selectCenter" name="status" style="width:100%">
                              <option *ngFor="let status of statusText" [value]="status.id">{{status.message}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-12 btnAction">
                        <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="cancleEdit()">ยกเลิก</button>
                        <button type="button" class="btn btn-success btn-square" (click)="editData()">บันทึก</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="portlet box portlet-primary action">
              <div class="portlet-header">
                <div class="caption">Action</div>
              </div>
              <div class="portlet-body">
                <button type="button" class="btn btn-violet btn-outlined" (click)="openPagePrint()"><i class="fa fa-print"></i> พิมพ์ใบเปลี่ยน</button>
                <button type="button" class="btn btn-danger btn-outlined" (click)="openDeleteModal()"><i class="fa fa-trash"></i> ลบใบเปลี่ยน</button>
              </div>
            </div>
          </div>
        </div>
        <div class="portlet box portlet-primary productOriginal">
          <div class="portlet-header">
            <div class="caption">สินค้าที่นำมาเปลี่ยน</div>
            <div class="tools">
              <i class="fa fa-pencil" (click)="edit.source_product = !edit.source_product"></i>
            </div>
          </div>
          <div class="portlet-body">
            <div class="row form-horizontal">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="source_product_id" class="col-md-3 control-label">
                  รหัสสินค้า <span *ngIf="!edit.source_product">:</span><span class='require' *ngIf="edit.source_product">*</span></label>
                  <div class="col-md-8">
                    <input type="text" placeholder="รหัสสินค้า" class="inputUsername form-control" name="source_product_id" id="source_product_id"
                      [(ngModel)]="data.source_product.code" [readonly]="!edit.source_product" />
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="source_product_name" class="col-md-3 control-label">
                  ชื่อสินค้า <span *ngIf="!edit.source_product">:</span><span class='require' *ngIf="edit.source_product">*</span></label>
                  <div class="col-md-8">
                    <input type="text" placeholder="ชื่อสินค้า" class="inputUsername form-control" name="source_product_name" id="source_product_name"
                      [(ngModel)]="data.source_product.name" [readonly]="!edit.source_product" />
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="source_product_price" class="col-md-3 control-label">
                  ราคาซื้อสินค้า <span *ngIf="!edit.source_product">:</span><span class='require' *ngIf="edit.source_product">*</span></label>
                  <div class="col-md-8">
                    <input type="text" placeholder="ราคาซื้อสินค้า" class="inputUsername form-control" name="source_product_price" id="source_product_price"
                      [(ngModel)]="data.source_product.sell_price" [readonly]="!edit.source_product" />
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="source_product_type" class="col-md-3 control-label">
                  ประเภทสินค้า <span *ngIf="!edit.source_product">:</span><span class='require' *ngIf="edit.source_product">*</span></label>
                  <div class="col-md-8">
                    <input type="text" placeholder="ประเภทสินค้า" class="inputUsername form-control" name="source_product_type" id="source_product_type"
                      [(ngModel)]="data.source_product.product_type.name" [readonly]="!edit.source_product" />
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="source_productDateBuy" class="col-md-3 control-label">
                  วันที่ซื้อสินค้า <span *ngIf="!edit.source_product">:</span><span class='require' *ngIf="edit.source_product">*</span></label>
                  <div class="col-md-8">
                    <div class="input-group" *ngIf="edit.source_product">
                      <input type="text" name="source_productDateBuy" class="datepicker-default form-control" ngbDatepicker #source_productDateBuy="ngbDatepicker"
                        (click)="source_productDateBuy.toggle()" [(ngModel)]="data.source_product.dateBuyFormat" />
                      <div class="input-group-addon" (click)="date.toggle()"><i class="fa fa-calendar"></i></div>
                    </div>
                    <input type="text" class="inputUsername form-control" name="source_productDateBuy" id="source_productDateBuy" [(ngModel)]="data.source_product.dateBuy"
                      [readonly]="!edit.info" *ngIf="!edit.source_product" />
                  </div>
                </div>
              </div>
              <div class="col-md-12 btnAction" *ngIf="edit.source_product">
                <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="cancleEdit()">ยกเลิก</button>
                <button type="button" class="btn btn-success btn-square" (click)="editData()">บันทึก</button>
              </div>
            </div>
          </div>
        </div>
        <div class="portlet box portlet-primary productChange">
          <div class="portlet-header">
            <div class="caption">สินค้าที่เปลี่ยน</div>
            <div class="tools">
              <i class="fa fa-pencil" (click)="edit.target_product = !edit.target_product"></i>
            </div>
          </div>
          <div class="portlet-body portlet-product">
            <div class="row form-horizontal">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="target_product_id" class="col-md-3 control-label">
                  รหัสสินค้า <span *ngIf="!edit.target_product">:</span><span class='require' *ngIf="edit.target_product">*</span></label>
                  <div class="col-md-8">
                    <input type="text" placeholder="รหัสสินค้า" class="inputUsername form-control" name="target_product_id" id="target_product_id"
                      [(ngModel)]="data.target_product.code" [readonly]="!edit.target_product" />
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="target_product_name" class="col-md-3 control-label">
                  ชื่อสินค้า <span *ngIf="!edit.target_product">:</span><span class='require' *ngIf="edit.target_product">*</span></label>
                  <div class="col-md-8">
                    <input type="text" placeholder="ชื่อสินค้า" class="inputUsername form-control" name="target_product_name" id="target_product_name"
                      [(ngModel)]="data.target_product.name" [readonly]="!edit.target_product" />
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="target_product_price" class="col-md-3 control-label">
                  ราคาซื้อสินค้า <span *ngIf="!edit.target_product">:</span><span class='require' *ngIf="edit.target_product">*</span></label>
                  <div class="col-md-8">
                    <input type="text" placeholder="ราคาซื้อสินค้า" class="inputUsername form-control" name="target_product_price" id="target_product_price"
                      [(ngModel)]="data.target_product.sell_price" [readonly]="!edit.target_product" />
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="target_product_type" class="col-md-3 control-label">
                  ประเภทสินค้า <span *ngIf="!edit.target_product">:</span><span class='require' *ngIf="edit.target_product">*</span></label>
                  <div class="col-md-8">
                    <input type="text" placeholder="ประเภทสินค้า" class="inputUsername form-control" name="target_product_type" id="target_product_type"
                      [(ngModel)]="data.target_product.product_type.name" [readonly]="!edit.target_product" />
                  </div>
                </div>
              </div>
              <div class="col-md-12 btnAction" *ngIf="edit.target_product">
                <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="cancleEdit()">ยกเลิก</button>
                <button type="button" class="btn btn-success btn-square" (click)="editData()">บันทึก</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<template #customItemCustomerTemplate let-model="item" let-index="index">
  <div class="nameAutocomplete">
    <h5><strong>ชื่อ :: </strong> {{model.name}}</h5>
    <h5><strong>เบอร์ :: </strong> {{model.tel}}</h5>
  </div>
</template>

<template #customItemProductTemplate let-model="item" let-index="index">
  <div class="nameAutocomplete">
    <h5><strong>barcode :: </strong> {{model.code}}</h5>
    <h5><strong>ชื่อสินค้า :: </strong> {{model.name}}</h5>
    <h5><strong>ประเภท :: </strong> {{model.product_type.name}}</h5>
  </div>
</template>

<div class="modal fade" bsModal #deleteModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modalEditProduct">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">ยืนยันการลบการเปลี่ยนสินค้า</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>คุณแน่ใจที่ต้องการจะลบ "{{data.code}}"</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="deleteModal.hide()">ยกเลิก</button>
        <button type="button" class="btn btn-success btn-square" (click)="deleteItem()">แน่ใจ</button>
      </div>
    </div>
  </div>
</div>