<!-- title -->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
  <div class="page-header pull-left">
    <div class="page-title">{{Heading}}</div>
  </div>
  <ol class="breadcrumb page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>&nbsp;
      <a [routerLink]="['/dashboard']">Home</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
      <a [routerLink]="['/claim/change/list']">รายการเปลี่ยนสินค้า</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    </li>
    <li class="active">{{Heading}}</li>
  </ol>

  <div class="clearfix"></div>
</div>

<!-- content -->
<div class="page-content" id="addClaim">
  <div id="claimPrint-page" class="row">
    <div class="col-md-9">
      <div class="panel">
        <app-loading *ngIf="isLoading"></app-loading>
        <div id="print-section" *ngIf="!isLoading && data">
          <div class="panel-body">
            <div class="claimPrint-title">
              <h2>{{store.name}}</h2>
              <p class="mbn text-center">{{store.tel}}</p>
            </div>
            <table class="table table-claim-info">
              <tr>
                <td>
                  <address>
                    <strong>รหัสซ่อม:</strong><br/>{{data.code}}
                  </address>
                </td>
                <td>
                  <address>
                    <strong>วันที่รับซ่อม:</strong><br/>{{data.exchange_date}}
                  </address>
                </td>
                <td>
                  <address><strong>ชื่อ - นามสกุล:</strong><br/>{{data.customer.name}}</address>
                </td>
                <td>
                  <address><strong>เบอร์:</strong><br/>{{data.tel}}</address>
                </td>
              </tr>
            </table>
            <hr/>
            <div class="table-responsive">
              <table class="table table-product">
                <tbody>
                  <tr>
                    <td colspan="6">
                      <h4 class="header">สินค้าที่ต้องการเปลี่ยน</h4>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3"><strong>สินค้า :</strong>&nbsp;&nbsp;{{data.source_product.name}}</td>
                    <td colspan="3"><strong>ประเภท :</strong>&nbsp;&nbsp;{{data.source_product.product_type.name}}</td>
                    <!--<td colspan="2"><strong>สี :</strong>&nbsp;&nbsp;Samsung</td>-->
                  </tr>
                  <tr *ngIf="data.source_product.detail">
                    <td colspan="6"><strong>รายละเอียด :</strong>&nbsp;&nbsp;{{data.source_product.detail}}</td>
                  </tr>
                  <tr>
                    <td colspan="6"><strong>Barcode :</strong>&nbsp;&nbsp;<span class="imei" *ngFor="let item of data.source_product_block">{{item}}</span></td>
                  </tr>
                  <tr>
                    <td colspan="3" class="table-list">
                      <p><strong>อาการ :</strong></p>
                      <ol>
                        <li *ngFor="let item of data.broken">{{item.message || '-'}}</li>
                      </ol>
                    </td>
                    <td colspan="3" class="table-list">
                      <p><strong>หมายเหตุ :</strong>&nbsp;&nbsp;</p>
                      <p class="textextra">{{data.remark}}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <hr class="mbm" />
              <table class="table table-product">
                <tbody>
                  <tr>
                    <td colspan="6">
                      <h4 class="header">สินค้าที่เปลี่ยน</h4>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3"><strong>สินค้า :</strong>&nbsp;&nbsp;{{data.target_product.name}}</td>
                    <td colspan="3"><strong>ประเภท :</strong>&nbsp;&nbsp;{{data.target_product.product_type.name}}</td>
                  </tr>
                  <tr *ngIf="data.target_product.detail">
                    <td colspan="6"><strong>รายละเอียด :</strong>&nbsp;&nbsp;{{data.target_product.detail}}</td>
                  </tr>
                  <tr>
                    <td colspan="6"><strong>Barcode :</strong>&nbsp;&nbsp;<span class="imei" *ngFor="let item of data.target_product_block">{{item}}</span></td>
                  </tr>
                  <!--<tr>
                    <td colspan="6" class="table-list">
                      <p><strong>หมายเหตุ :</strong>&nbsp;&nbsp;</p>
                      <p class="textextra">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper
                        ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla.</p>
                    </td>
                  </tr>-->
                </tbody>
              </table>
              <hr class="mbm" />
              <table class="table table-signature">
                <tbody>
                  <tr class="signatureHeader">
                    <td colspan="6">ลายเซ็นลูกค้า</td>
                    <td colspan="6">ลายเซ็นผู้รับเครื่อง</td>
                    <td colspan="6">ลายเซ็นช่างซ่อม</td>
                  </tr>
                  <tr class="signature">
                    <td></td>
                    <td colspan="4" class="borderShow"></td>
                    <td></td>
                    <td></td>
                    <td colspan="4" class="borderShow"></td>
                    <td></td>
                    <td></td>
                    <td colspan="4" class="borderShow"></td>
                    <td></td>
                  </tr>
                  <tr class="signatureDate">
                    <td colspan="2">
                      <p>วันที่</p>
                    </td>
                    <td colspan="3" class="borderShow"></td>
                    <td></td>
                    <td colspan="2">
                      <p>วันที่</p>
                    </td>
                    <td colspan="3" class="borderShow"></td>
                    <td></td>
                    <td colspan="2">
                      <p>วันที่</p>
                    </td>
                    <td colspan="3" class="borderShow"></td>
                    <td></td>
                  </tr>
                  <tr class="signatureSpace"></tr>
                  <tr class="signatureHeader">
                    <td colspan="6">ลายเซ็นผู้รับเครื่องซ่อม</td>
                    <td colspan="6">ลายเซ็นผู้ส่งเครื่องซ่อม</td>
                    <td colspan="6">วันที่ส่งเครื่องซ่อม</td>
                  </tr>
                  <tr class="signature">
                    <td></td>
                    <td colspan="4" class="borderShow"></td>
                    <td></td>
                    <td></td>
                    <td colspan="4" class="borderShow"></td>
                    <td></td>
                    <td></td>
                    <td colspan="4" class="borderShow"></td>
                    <td></td>
                  </tr>
                  <tr class="signatureDate">
                    <td colspan="2">
                      <p>วันที่</p>
                    </td>
                    <td colspan="3" class="borderShow"></td>
                    <td></td>
                    <td colspan="2">
                      <p>วันที่</p>
                    </td>
                    <td colspan="3" class="borderShow"></td>
                    <td></td>
                    <td colspan="6"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <button class="btn btn-success mrm" (click)="print()"><i class="fa fa-print"></i>&nbsp; Print
                            </button>
    </div>
  </div>
</div>