#customer {
    .page {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .table {
        thead {
            tr {
                th {
                    text-align: center;
                    font-weight: 600;
                }
            }
        }
        tbody {
            tr {
                vertical-align: middle;
            }
            td {
                vertical-align: middle;
                div {
                    text-align: center;
                    a {
                        text-shadow: none;
                        // width: 40px;
                        // height: 34px;
                    }
                }
                &:first-child,
                &:last-child {
                    text-align: center;
                }
            }
        }
    }
    #addCustomer {
        .btn {
            box-shadow: none;
            background-image: none;
            text-shadow: none;
        }
    }
}

@media screen and (min-width: 769px) {
    #modalConfirmDelete {
        width: 598px;
        margin: 0 auto;
        .btn-primary {
            background-image: none;
        }
        .btn {
            box-shadow: none;
            background-image: none;
            text-shadow: none;
        }
    }
}