#claimPrint-page {
    .panel {
        border-radius: 0;
        .panel-body {
            padding: 30px;
            .claimPrint-title {
                text-align: center;
                h2 {
                    margin-top: 0;
                    margin-bottom: 0;
                }
                p {
                    margin: 0px;
                }
            }
            .logo {
                font-family: 'Oswald';
                font-weight: bold;
                margin-top: 0;
            }
            hr {
                margin-bottom: 10px;
                margin-top: 0px;
                margin-left: -20px;
                margin-right: -20px;
            }
            .table {
                table-layout: fixed;
                width: 100%;
                max-width: 100%;
                margin: 0px;
                td {
                    border-top: none;
                    padding: 8px;
                    line-height: 1.42857143;
                    vertical-align: top;
                    .header {
                        margin: 0px;
                        font-weight: 600;
                    }
                }
            }
            .table.table-claim-info {
                margin: 0px;
                margin-top: 18px;
                tr {
                    td {
                        address {
                            margin-bottom: 0px;
                            font-style: normal;
                            line-height: 1.42857143;
                        }
                    }
                }
            }
            .table.table-product {
                tr {
                    td {
                        padding: 8px 0px;
                        .imei {
                            padding: 3px 6px;
                            border: 1px solid #ddd;
                            margin-right: 5px;
                        }
                        .nopadding {
                            padding: 0px;
                        }
                    }
                    .table-list {
                        p {
                            margin: 10px 0px;
                        }
                    }
                    .cost {
                        padding-top: 30px;
                        width: 20%;
                        p {
                            margin: 10px 0px;
                        }
                        .textextra {
                            word-wrap: break-word;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                    .table-option {
                        thead {
                            tr {
                                td {
                                    text-align: center;
                                }
                            }
                        }
                        tbody {
                            tr {
                                td {
                                    width: 33%;
                                    line-height: 25px;
                                }
                                .hasIcon {
                                    text-align: center;
                                    .icon {
                                        font-size: 25px;
                                    }
                                }
                            }
                        }
                    }
                }
                .borderDiv {
                    border-bottom: 1px solid #eee;
                }
            }
            .table.table-signature {
                .signatureHeader {
                    text-align: center;
                    font-weight: bolder;
                }
                .signature {
                    text-align: center;
                    height: 20px;
                    td {
                        padding: 0px;
                    }
                    .borderShow {
                        border-bottom: 1px solid #ddd;
                    }
                }
                .signatureDate {
                    text-align: center;
                    height: 25px;
                    td {
                        padding: 0px;
                        padding-top: 10px;
                        position: relative;
                        p {
                            margin: 0px;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            vertical-align: text-bottom;
                            position: absolute;
                            right: 5px;
                            bottom: -5px;
                        }
                    }
                    .borderShow {
                        border-bottom: 1px solid #ddd;
                    }
                }
                .signatureSpace {
                    height: 25px;
                }
            }
        }
    }
}