#change-info {
    #changeInfoContent {
        .form-horizontal {
            .form-group {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                .control-label {
                    padding: 0px;
                    color: black;
                    span {
                        margin-right: -8px;
                    }
                }
                .form-control[readonly] {
                    background: none;
                    border: none;
                }
                p {
                    margin: 0px;
                    color: #4e4e4e;
                }
            }
            .btnAction {
                display: flex;
                align-items: center;
                justify-content: center;
                .btn-danger {
                    margin-right: 10px;
                }
                .btn-success {
                    background-image: none;
                }
            }
        }
        .action {
            .portlet-body {
                text-align: center;
                .btn {
                    min-width: 120px;
                    &:first-child {
                        margin-bottom: 5px;
                    }
                }
            }
        }
        .productOriginal,
        .productChange {
            // text-align: center;
            .row {
                align-items: center;
                .iconArrow {
                    .fa {
                        font-size: -webkit-xxx-large;
                    }
                }
                p {
                    margin: 0px;
                    padding: 6px 12px
                }
            }
        }
        .inputTypeahead {
            .divInputAhead {
                padding: 0px;
            }
            .divButtonAhead {
                padding-right: 0px;
                .btn {
                    width: 100%;
                    height: 34px;
                    padding: 0px;
                }
            }
        }
        .no-data {
            margin-top: -15px;
            margin-bottom: 10px;
        }
        .status {
            .statusText {
                .statusShow {
                    text-align: center;
                    font-weight: 600;
                }
            }
            .statusEdit {
                .form-horizontal {
                    .form-group {
                        justify-content: center;
                        select.selectCenter {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .broken,
        .fix,
        .agreement {
            .brokenInput {
                .input-group {
                    .form-control {
                        background: none;
                    }
                }
            }
            .extra {
                margin-top: 15px;
            }
        }
        .extra {
            .form-horizontal {
                .form-group {
                    align-items: flex-start;
                }
            }
        }
    }
}