<!-- title -->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
  <div class="page-header pull-left">
    <div class="page-title">{{Heading}}</div>
  </div>
  <ol class="breadcrumb page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>&nbsp;
      <a [routerLink]="['/dashboard']">Home</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
      <a [routerLink]="['/claim/list']">การเคลมสินค้า</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    </li>
    <li class="active">{{Heading}}</li>
  </ol>
  <div class="btn btn-blue reportrange hide">
    <i class="fa fa-calendar"></i>&nbsp;
    <span></span>&nbsp;report&nbsp;
    <i class="fa fa-angle-down"></i>
    <input type="hidden" name="datestart" />
    <input type="hidden" name="endstart" />
  </div>
  <div class="clearfix"></div>
</div>

<!-- content -->
<div class="page-content" id="addClaim">
  <ul id="addClaimTab" class="nav nav-tabs ul-edit responsive">
    <li class="active"><a href="#addFixClaimStore" data-toggle="tab">เพิ่มรายการซ่อมสินค้า</a></li>
  </ul>
  <div id="addClaimTabContent" class="tab-content">
    <div id="addFixClaimStore" class="tab-pane fade in active">
      <div id="rootwizard-custom-circle">
        <div class="navbar">
          <div class="navbar-inner">
            <ul>
              <li [class.active]="i == 0" *ngFor="let formList of formName; let i = index;" [ngClass]="{'active': selectedTab === (i+1)}">
                <a>
                  <i class="fa" [ngClass]="formList.icon"></i>
                  <p class="anchor">{{formList.name}}</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div id="bar" class="progress active">
          <progressbar value="{{progress}}" class="bar progress-bar-primary"></progressbar>
        </div>
        <div class="tab-content form-horizontal">
          <app-loading *ngIf="isLoading"></app-loading>
          <div id="tab-1-info" class="tab-pane fadeIn in" [ngClass]="{'active': selectedTab === 1}">
            <form [formGroup]="infoForm" class="form-horizontal">
              <div class="form-body pal">
                <h3>ข้อมูลทั่วไป</h3>
                <div class="row">
                  <!--<div class="col-md-6">
                    <div class="form-group">
                      <label for="code" class="col-md-4 control-label">รหัสซ่อม<span class='require'>*</span></label>
                      <div class="col-md-8">
                        <input type="text" name="code" placeholder="รหัสซ่อม" class="inputUsername form-control" formControlName="code" />
                        <p class="text-danger" *ngIf="code.hasError('required') && code.dirty">กรุณากรอกรหัสซ่อม</p>
                      </div>
                    </div>
                  </div>-->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="" class="col-md-4 control-label">วันที่รับซ่อม<span class='require'>*</span></label>
                      <div class="col-md-8">
                        <div>
                          <my-date-picker [options]="myDatePickerOptions" [selDate]="selDate" (dateChanged)="onDateChanged($event)" formControlName="repair_date"
                            [(ngModel)]="date"></my-date-picker>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-body pal">
                <h3>ข้อมูลลูกค้า</h3>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group"><label class="col-md-4 control-label">ชื่อลูกค้า</label>
                      <div class="col-md-6" id="addCustomerInput">
                        <input name="nameCustomer" placeholder="กรอกชื่อลูกค้า" [(ngModel)]="customerSelected.name" [typeahead]="customers" [typeaheadItemTemplate]="customItemCustomerTemplate"
                          [typeaheadOptionField]="'name'" (typeaheadNoResults)="changeTypeaheadNoResults(0,$event)" (typeaheadOnSelect)="typeaheadOnSelect(0,$event)"
                          class="form-control" formControlName="customer_id" />
                        <div *ngIf="typeaheadLoading">
                          <i class="fa fa-refresh ng-hide"></i>
                        </div>
                        <div class="no-data" *ngIf="typeaheadNoResults.customer">
                          <i class="fa fa-remove"></i> ไม่พบข้อมูลลูกค้า
                        </div>
                      </div>
                      <div class="col-md-2 addCustomerBtn">
                        <button type="button" class="btn btn-success btn-outlined btn-sm" (click)="openAddCustomerModal()">เพิ่ม</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="tel" class="col-md-4 control-label">เบอร์โทร<span class='require'>*</span></label>
                      <div class="col-md-8">
                        <input type="text" name="tel" placeholder="เบอร์โทร" class="inputUsername form-control" formControlName="tel" [(ngModel)]="customerSelected.tel"
                        />
                        <p class="text-danger" *ngIf="tel.hasError('required') && tel.dirty">กรุณากรอกเบอร์โทรศัพท์</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="action text-right">
                <button type="button" name="previous" value="Previous" class="btn btn-primary btn-outlined button-previous disabled">
                  <i class="fa fa-arrow-circle-o-left mrx"></i>ย้อนกลับ
                </button>
                <button type="button" name="next" value="Next" class="btn btn-primary btn-outlined button-next" *ngIf="!isLastTab" (click)="setTab(0,'next')"
                  [ngClass]="{'disabled': !infoForm.valid}" [disabled]="!infoForm.valid">
                  ถัดไป<i class="fa fa-arrow-circle-o-right mlx"></i>
                </button>
              </div>
            </form>
          </div>
          <div id="tab-2-product" class="tab-pane fadeIn" [ngClass]="{'active': selectedTab === 2}">
            <form [formGroup]="productForm" class="form-horizontal">
              <div class="form-body pal">
                <h3>สินค้าที่ต้องการซ่อม</h3>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="productSelected" class="col-md-4 control-label">ค้นหาสินค้า</label>
                      <div class="col-md-8" id="addCustomerInput">
                        <input name="productSelected" placeholder="กรุณากรอก barcode" [(ngModel)]="productSelected.name" [typeahead]="products" [typeaheadItemTemplate]="customItemProductTemplate"
                          [typeaheadOptionField]="'code'" (typeaheadNoResults)="changeTypeaheadNoResults(1,$event)" (typeaheadOnSelect)="typeaheadOnSelect(1,$event)"
                          class="form-control" formControlName="product_id" />
                        <div *ngIf="typeaheadLoading">
                          <i class="fa fa-refresh ng-hide"></i>
                        </div>
                        <div class="no-data" *ngIf="typeaheadNoResults.product">
                          <i class="fa fa-remove"></i> ไม่พบสินค้า
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-body pal">
                <h3>ข้อมูลสินค้า</h3>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="item_brand" class="col-md-4 control-label">ยี่ห้อ<span class='require'>*</span></label>
                      <div class="col-md-8">
                        <input type="text" placeholder="ยี่ห้อ" class="inputUsername form-control" name="item_brand" formControlName="item_brand"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="item_generation" class="col-md-4 control-label">รุ่น<span class='require'>*</span></label>
                      <div class="col-md-8">
                        <input type="text" placeholder="รุ่น" class="inputUsername form-control" name="item_generation" formControlName="item_generation"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="item_color" class="col-md-4 control-label">สี<span class='require'>*</span></label>
                      <div class="col-md-8">
                        <input type="text" placeholder="สี" class="inputUsername form-control" name="item_color" formControlName="item_color" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="item_imei" class="col-md-4 control-label">IMEI<span class='require'>*</span></label>
                      <div class="col-md-8">
                        <input type="text" placeholder="IMEI" class="inputUsername form-control" name="item_imei" formControlName="item_imei" [(ngModel)]="productSelected.code"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="item_blame" class="col-md-4 control-label">ตำหนิตัวเครื่อง<span class='require'>*</span></label>
                      <div class="col-md-8">
                        <textarea id="inputDetail" rows="5" class="form-control" name="item_blame" formControlName="item_blame"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="inputDetail" class="col-md-4 control-label">Sim card<span class='require'>*</span></label>
                      <div class="col-md-8 radioButtonCustom">
                        <div>
                          <label class="btn active">
                            <input type="radio" name="item_has_sim" [value]="1" formControlName="item_has_sim" checked/>
                            <i class="fa fa-circle-o notCheck"></i>
                            <i class="fa fa-check-circle-o selected"></i>
                            <span> มี</span>
                          </label>
                          <label class="btn">
                            <input type="radio" name="item_has_sim" [value]="0" formControlName="item_has_sim"/>
                            <i class="fa fa-circle-o notCheck"></i>
                            <i class="fa fa-check-circle-o selected"></i>
                            <span> ไม่มี</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputDetail" class="col-md-4 control-label">Memory card<span class='require'>*</span></label>
                      <div class="col-md-8 radioButtonCustom">
                        <div>
                          <label class="btn active">
                          <input type="radio" name="item_has_mem" [value]="1" formControlName="item_has_mem" checked />
                          <i class="fa fa-circle-o notCheck"></i>
                          <i class="fa fa-check-circle-o selected"></i>
                          <span> มี</span>
                        </label>
                          <label class="btn">
                          <input type="radio" name="item_has_mem" [value]="0" formControlName="item_has_mem" />
                          <i class="fa fa-circle-o notCheck"></i>
                          <i class="fa fa-check-circle-o selected"></i>
                          <span> ไม่มี</span>
                        </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputDetail" class="col-md-4 control-label">Battery<span class='require'>*</span></label>
                      <div class="col-md-8 radioButtonCustom">
                        <div>
                          <label class="btn active">
                          <input type="radio" name="item_has_battery" [value]="1" formControlName="item_has_battery" checked/>
                          <i class="fa fa-circle-o notCheck"></i>
                          <i class="fa fa-check-circle-o selected"></i>
                          <span> มี</span>
                        </label>
                          <label class="btn">
                          <input type="radio" name="item_has_battery" [value]="0" formControlName="item_has_battery"/>
                          <i class="fa fa-circle-o notCheck"></i>
                          <i class="fa fa-check-circle-o selected"></i>
                          <span> ไม่มี</span>
                        </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="action text-right">
                <button type="button" name="previous" value="Previous" class="btn btn-primary btn-outlined button-previous" (click)="setTab(0,'previous')">
                  <i class="fa fa-arrow-circle-o-left mrx"></i>ย้อนกลับ
                </button>
                <button type="button" name="next" value="Next" class="btn btn-primary btn-outlined button-next" (click)="setTab(0,'next')"
                  [ngClass]="{'disabled': !productForm.valid}" [disabled]="!productForm.valid">
                  ถัดไป<i class="fa fa-arrow-circle-o-right mlx"></i>
                </button>
              </div>
            </form>
          </div>
          <div id="tab-3-detail" class="tab-pane fadeIn" [ngClass]="{'active': selectedTab === 3}">
            <form [formGroup]="causeForm" class="form-horizontal">
              <div class="form-body pal">
                <h3>อาการ</h3>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group broken">
                      <!--<label for="inputEmail" class="col-md-3 control-label">Email<span class='require'>*</span></label>-->
                      <div class="col-md-11 col-md-offset-1 brokenInput" *ngFor="let item of brokens; let i = index">
                        <div class="input-group">
                          <span class="input-group-addon">{{i+1}}</span>
                          <div class="input-icon right">
                            <input type="text" placeholder="อาการ" class="form-control" [(ngModel)]="brokens[i].message" [ngModelOptions]="{standalone: true}"
                            />
                            <i class="fa fa-times" (click)=deleteBrokens(i)></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-11 col-md-offset-1">
                        <button type="button" class="btn btn-green btn-outlined btn-block brokenAddBtn" (click)="addBrokens()"><i class="fa fa-plus"></i>&nbsp;&nbsp;เพิ่มอาการ</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="inputUsername" class="col-md-4 control-label">ราคาประเมิน <span class='require'>*</span></label>
                      <div class="col-md-8">
                        <input type="text" placeholder="00.00" class="inputUsername form-control" formControlName="estimate_price" />
                        <p class="text-danger" *ngIf="estimate_price.errors?.min">ราคาประเมินต้องมีค่ามากกว่า 0</p>
                        <p class="text-danger" *ngIf="estimate_price.errors?.number">กรุณากรอกตัวเลข</p>
                      </div>
                    </div>
                    <div class="form-group"><label for="inputDetail" class="col-md-4 control-label">หมายเหตุ</label>
                      <div class="col-md-8">
                        <textarea id="inputDetail" rows="3" class="form-control" formControlName="cause_remark"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-body pal">
                <h3>รายการซ่อม</h3>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group broken">
                      <div class="col-md-11 col-md-offset-1 brokenInput" *ngFor="let item of fixs; let i = index">
                        <div class="input-group">
                          <span class="input-group-addon">{{i+1}}</span>
                          <div class="input-icon right">
                            <input type="text" placeholder="รายการซ่อม" class="form-control" [(ngModel)]="fixs[i].message" [ngModelOptions]="{standalone: true}"
                            />
                            <i class="fa fa-times" (click)=deleteFixs(i)></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-11 col-md-offset-1">
                        <button type="button" class="btn btn-green btn-outlined btn-block brokenAddBtn" (click)="addFixs()"><i class="fa fa-plus"></i>&nbsp;&nbsp;เพิ่มรายการซ่อม</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="inputUsername" class="col-md-4 control-label">ราคาซ่อมจริง</label>
                      <div class="col-md-8">
                        <input type="text" placeholder="00.00" class="inputUsername form-control" formControlName="repair_price" />
                        <p class="text-danger" *ngIf="repair_price.errors?.min">ราคาซ่อมจริงต้องมีค่ามากกว่า 0</p>
                        <p class="text-danger" *ngIf="repair_price.errors?.number">กรุณากรอกตัวเลข</p>
                      </div>
                    </div>
                    <div class="form-group"><label for="inputDetail" class="col-md-4 control-label">หมายเหตุ</label>
                      <div class="col-md-8">
                        <textarea id="inputDetail" rows="3" class="form-control" formControlName="repair_remark"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-body pal">
                <h3>ข้อตกลง</h3>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group broken">
                      <!--<label for="inputEmail" class="col-md-3 control-label">Email<span class='require'>*</span></label>-->
                      <div class="col-md-11 col-md-offset-1 brokenInput" *ngFor="let item of agreements; let i = index">
                        <div class="input-group">
                          <span class="input-group-addon">{{i+1}}</span>
                          <div class="input-icon right">
                            <input type="text" placeholder="ข้อตกลง" class="form-control" [(ngModel)]="agreements[i].message" [ngModelOptions]="{standalone: true}"
                            />
                            <i class="fa fa-times" (click)=deleteAgreements(i)></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-11 col-md-offset-1">
                        <button type="button" class="btn btn-green btn-outlined btn-block brokenAddBtn" (click)="addAgreements()"><i class="fa fa-plus"></i>&nbsp;&nbsp;เพิ่มข้อตกลง</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group"><label for="inputDetail" class="col-md-4 control-label">หมายเหตุ</label>
                      <div class="col-md-8">
                        <textarea id="inputDetail" rows="3" class="form-control" formControlName="agreement_remark"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="action text-right">
                <button type="button" name="previous" value="Previous" class="btn btn-primary btn-outlined button-previous" (click)="setTab(0,'previous')">
                  <i class="fa fa-arrow-circle-o-left mrx"></i>ย้อนกลับ
                </button>
                <button type="button" name="next" value="Next" class="btn btn-primary btn-outlined button-next" (click)="setTab(0,'next')"
                  [ngClass]="{'disabled': !causeForm.valid}" [disabled]="!causeForm.valid">
                  ถัดไป<i class="fa fa-arrow-circle-o-right mlx"></i>
                </button>
              </div>
            </form>
          </div>
          <div id="tab-4-employee" class="tab-pane fadeIn" [ngClass]="{'active': selectedTab === 4}">
            <form [formGroup]="employeeForm" class="form-horizontal">
              <div class="form-body pal">
                <h3>ข้อมูลพนักงาน</h3>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="inputUsername" class="col-md-4 control-label">พนักงาน</label>
                      <div class="col-md-8">
                        <input type="text" placeholder="ชื่อ" class="inputUsername form-control" formControlName="staff_name" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="action text-right">
                <button type="button" name="previous" value="Previous" class="btn btn-primary btn-outlined button-previous" (click)="setTab(0,'previous')">
                  <i class="fa fa-arrow-circle-o-left mrx"></i>ย้อนกลับ
                </button>
                <button type="button" name="next" value="Next" class="btn btn-success btn-outlined button-next" (click)="saveData()" [ngClass]="{'disabled': !employeeForm.valid}"
                  [disabled]="!employeeForm.valid">
                  บันทึก<i class="fa fa-floppy-o mlx"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<template #customItemCustomerTemplate let-model="item" let-index="index">
  <div class="nameAutocomplete">
    <h5><strong>ชื่อ :: </strong> {{model.name}}</h5>
    <h5><strong>เบอร์ :: </strong> {{model.tel}}</h5>
  </div>
</template>

<template #customItemProductTemplate let-model="item" let-index="index">
  <div class="nameAutocomplete">
    <h5><strong>barcode :: </strong> {{model.code}}</h5>
    <h5><strong>ชื่อสินค้า :: </strong> {{model.name}}</h5>
    <h5><strong>ประเภท :: </strong> {{model.product_type.name}}</h5>
  </div>
</template>

<div class="modal fade" bsModal #editModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modalEditProduct">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">เพิ่มลูกค้า</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="customerForm" class="form-horizontal" (ngSubmit)="saveCustomer()">
        <div class="modal-body">
          <div class="form-body pal">
            <div class="form-group">
              <label for="name_customer" class="col-md-3 control-label">ชื่อ<span class='require'>*</span></label>
              <div class="col-md-5">
                <div class="input-icon right">
                  <input type="text" id="name_customer" name="name_customer" class="form-control" formControlName="name_customer" />
                  <p class="text-danger" *ngIf="name_customer.hasError('required') && name_customer.dirty">กรุณากรอกชื่อ</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="tel_customer" class="col-md-3 control-label">เบอร์ติดต่อ<span class='require'>*</span></label>
              <div class="col-md-5">
                <div class="input-icon right">
                  <input type="tel" id="tel_customer" name="tel_customer" class="form-control" formControlName="tel_customer" />
                  <p class="text-danger" *ngIf="tel_customer.hasError('required') && tel_customer.dirty">กรุณากรอกเบอร์ติดต่อ</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="editModal.hide()">ยกเลิก</button>
          <button type="submit" class="btn btn-success btn-square" [disabled]="!customerForm.valid">บันทึก</button>
        </div>
      </form>
    </div>
  </div>
</div>