<!-- title -->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
  <div class="page-header pull-left">
    <div class="page-title">{{Heading}}</div>
  </div>
  <ol class="breadcrumb page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>&nbsp;
      <a [routerLink]="['/dashboard']">Home</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
      <a [routerLink]="['/claim/fix/list']">การซ่อมสินค้า</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    </li>
    <li class="active">{{Heading}}</li>
  </ol>

  <div class="clearfix"></div>
</div>

<!-- content -->
<div class="page-content" id="addClaim">
  <div id="claimPrint-page" class="row">
    <div class="col-md-9">
      <div class="panel">
        <div id="print-section" *ngIf="data">
          <div class="panel-body">
            <div class="claimPrint-title">
              <h2>{{store.name}}</h2>
              <p class="mbn text-center">{{store.tel}}</p>
            </div>
            <table class="table table-claim-info">
              <tr>
                <td>
                  <address>
                    <strong>รหัสซ่อม:</strong><br/>{{data.code}}
                  </address>
                </td>
                <td>
                  <address>
                    <strong>วันที่รับซ่อม:</strong><br/>{{data.repair_date}}
                  </address>
                </td>
                <td>
                  <address><strong>ชื่อ - นามสกุล:</strong><br/>{{data.customer.name}}</address>
                </td>
                <td>
                  <address><strong>เบอร์:</strong><br/>{{data.tel}}</address>
                </td>
              </tr>
            </table>
            <hr/>
            <div class="table-responsive">
              <table class="table table-product">
                <tbody>
                  <tr>
                    <td colspan="2"><strong>ยี่ห้อ :</strong>&nbsp;&nbsp;{{data.item_brand}}</td>
                    <td colspan="2"><strong>รุ่น :</strong>&nbsp;&nbsp;{{data.item_generation}}</td>
                    <td colspan="2"><strong>สี :</strong>&nbsp;&nbsp;{{data.item_color}}</td>
                  </tr>
                  <tr>
                    <td colspan="6"><strong>IMEI :</strong>&nbsp;&nbsp;<span class="imei" *ngFor="let item of data.product_block">{{item}}</span></td>
                  </tr>
                  <tr class="borderDiv">
                    <td colspan="3" class="table-list">
                      <p><strong>ตำหนิตัวเครื่อง</strong></p>
                      <p>
                        {{data.item_blame}}
                      </p>
                    </td>
                    <td colspan="2">
                      <table class="table table-option">
                        <thead>
                          <tr>
                            <td></td>
                            <td><strong>มี</strong></td>
                            <td><strong>ไม่มี</strong></td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Simcard</td>
                            <td class="hasIcon"><i class="icon fa" [ngClass]="data.item_has_sim ? 'fa-check-circle-o':'fa-circle-o'"></i></td>
                            <td class="hasIcon"><i class="icon fa" [ngClass]="!data.item_has_sim ? 'fa-check-circle-o':'fa-circle-o'"></i></td>
                          </tr>
                          <tr>
                            <td>Memory</td>
                            <td class="hasIcon"><i class="icon fa" [ngClass]="data.item_has_mem ? 'fa-check-circle-o':'fa-circle-o'"></i></td>
                            <td class="hasIcon"><i class="icon fa" [ngClass]="!data.item_has_mem ? 'fa-check-circle-o':'fa-circle-o'"></i></td>
                          </tr>
                          <tr>
                            <td>Battery</td>
                            <td class="hasIcon"><i class="icon fa" [ngClass]="data.item_has_battery ? 'fa-check-circle-o':'fa-circle-o'"></i></td>
                            <td class="hasIcon"><i class="icon fa" [ngClass]="!data.item_has_battery ? 'fa-check-circle-o':'fa-circle-o'"></i></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr class="borderDiv">
                    <td colspan="3" class="table-list">
                      <p><strong>อาการ</strong></p>
                      <ol>
                        <li *ngFor="let cause of data.cause">{{cause ? cause.message : ''}}</li>
                      </ol>
                    </td>
                    <td colspan="3" class="cost">
                      <p><strong>ราคาประเมิน :</strong>&nbsp;&nbsp; {{ data.estimate_price || '0' | number : fractionSize}} บาท</p>
                      <p><strong>หมายเหตุ :</strong>&nbsp;&nbsp;</p>
                      <p class="textextra">{{data.cause_remark || '-'}}</p>
                    </td>
                  </tr>
                  <tr class="borderDiv">
                    <td colspan="3" class="table-list">
                      <p><strong>รายการซ่อม</strong></p>
                      <ol>
                        <li *ngFor="let repair of data.repair">{{repair ? repair.message : ''}}</li>
                      </ol>
                    </td>
                    <td colspan="3" class="cost">
                      <p><strong>ราคาซ่อมจริง :</strong>&nbsp;&nbsp; {{ data.repair_price || '0' | number : fractionSize}} บาท</p>
                      <p><strong>หมายเหตุ :</strong>&nbsp;&nbsp;</p>
                      <p class="textextra">{{data.repair_remark || '-'}}</p>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="6" class="table-list">
                      <p><strong>ข้อตกลง</strong></p>
                      <ol>
                        <li *ngFor="let agreement of data.agreement">{{ agreement ? agreement.message : ''}}</li>
                      </ol>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="6" class="cost">
                      <p><strong>หมายเหตุ :</strong>&nbsp;&nbsp;</p>
                      <p class="textextra">{{data.agreement_remark}}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <hr class="mbm" />
              <table class="table table-signature">
                <tbody>
                  <tr class="signatureHeader">
                    <td colspan="6">ลายเซ็นลูกค้า</td>
                    <td colspan="6">ลายเซ็นผู้รับเครื่อง</td>
                    <td colspan="6">ลายเซ็นช่างซ่อม</td>
                  </tr>
                  <tr class="signature">
                    <td></td>
                    <td colspan="4" class="borderShow"></td>
                    <td></td>
                    <td></td>
                    <td colspan="4" class="borderShow"></td>
                    <td></td>
                    <td></td>
                    <td colspan="4" class="borderShow"></td>
                    <td></td>
                  </tr>
                  <tr class="signatureDate">
                    <td colspan="2">
                      <p>วันที่</p>
                    </td>
                    <td colspan="3" class="borderShow"></td>
                    <td></td>
                    <td colspan="2">
                      <p>วันที่</p>
                    </td>
                    <td colspan="3" class="borderShow"></td>
                    <td></td>
                    <td colspan="2">
                      <p>วันที่</p>
                    </td>
                    <td colspan="3" class="borderShow"></td>
                    <td></td>
                  </tr>
                  <tr class="signatureSpace"></tr>
                  <tr class="signatureHeader">
                    <td colspan="6">ลายเซ็นผู้รับเครื่องซ่อม</td>
                    <td colspan="6">ลายเซ็นผู้ส่งเครื่องซ่อม</td>
                    <td colspan="6">วันที่ส่งเครื่องซ่อม</td>
                  </tr>
                  <tr class="signature">
                    <td></td>
                    <td colspan="4" class="borderShow"></td>
                    <td></td>
                    <td></td>
                    <td colspan="4" class="borderShow"></td>
                    <td></td>
                    <td></td>
                    <td colspan="4" class="borderShow"></td>
                    <td></td>
                  </tr>
                  <tr class="signatureDate">
                    <td colspan="2">
                      <p>วันที่</p>
                    </td>
                    <td colspan="3" class="borderShow"></td>
                    <td></td>
                    <td colspan="2">
                      <p>วันที่</p>
                    </td>
                    <td colspan="3" class="borderShow"></td>
                    <td></td>
                    <td colspan="6"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <button class="btn btn-success mrm" (click)="print()"><i class="fa fa-print"></i>&nbsp; Print
                            </button>
    </div>
  </div>
</div>