<!-- title -->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
  <div class="page-header pull-left">
    <div class="page-title">{{Heading}}</div>
  </div>
  <ol class="breadcrumb page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>&nbsp;
      <a [routerLink]="['/dashboard']">Home</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
      <a [routerLink]="['/claim/change/list']">รายการซ่อมสินค้า</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    </li>
    <li class="active">{{Heading}}</li>
  </ol>
</div>

<!-- content -->
<div class="page-content" id="change-info">
  <div id="changeInfoContent">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="row" *ngIf="!isLoading">
      <div class="col-md-6">
        <div class="portlet box portlet-primary information">
          <div class="portlet-header">
            <div class="caption">ข้อมูลทั่วไป</div>
            <div class="tools">
              <i class="fa fa-pencil" (click)="setEdit('info')"></i>
            </div>
          </div>
          <div class="portlet-body">
            <div class="row form-horizontal">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="code" class="col-md-3 control-label">
                  รหัสซ่อม <span *ngIf="!edit.info">:</span><span class='require' *ngIf="edit.info">*</span></label>
                  <div class="col-md-8">
                    <input type="text" placeholder="รหัสซ่อม" class="inputUsername form-control" name="code" id="code" [(ngModel)]="data.code"
                      [readonly]="!edit.info" />
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="repair_date" class="col-md-3 control-label">
                  วันที่รับซ่อม <span *ngIf="!edit.info">:</span><span class='require' *ngIf="edit.info">*</span></label>
                  <div class="col-md-8">
                    <div class="input-group" *ngIf="edit.info">
                      <input type="text" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" class="datepicker-default form-control" ngbDatepicker
                        #d="ngbDatepicker" (click)="d.toggle()" [(ngModel)]="data.dateFormat" />
                      <div class="input-group-addon" (click)="d.toggle()"><i class="fa fa-calendar"></i></div>

                      <!--<input type="text" name="repair_date" class="datepicker-default form-control" ngbDatepicker #date="ngbDatepicker" (click)="date.toggle()"
                        [(ngModel)]="data.dateFormat" />
                      <div class="input-group-addon" (click)="date.toggle()"><i class="fa fa-calendar"></i></div>-->
                    </div>
                    <input type="text" class="inputUsername form-control" name="repair_date" id="repair_date" [(ngModel)]="data.repair_date"
                      [readonly]="!edit.info" *ngIf="!edit.info" />
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="customerName" class="col-md-3 control-label">
                ชื่อลูกค้า <span *ngIf="!edit.info">:</span><span class='require' *ngIf="edit.info">*</span></label>
                  <div *ngIf="edit.info" class="col-md-8 inputTypeahead">
                    <div class="col-md-9 divInputAhead" id="addCustomerInput">
                      <input name="nameCustomer" placeholder="กรอกชื่อลูกค้า" [(ngModel)]="customerSelected.name" [typeahead]="customers" [typeaheadItemTemplate]="customItemCustomerTemplate"
                        [typeaheadOptionField]="'name'" (typeaheadNoResults)="changeTypeaheadNoResults($event)" (typeaheadOnSelect)="typeaheadOnSelect(0,$event)"
                        class="form-control" />
                      <div *ngIf="typeaheadLoading===true">
                        <i class="fa fa-refresh ng-hide"></i>
                      </div>
                    </div>
                    <div class="col-md-3 addCustomerBtn divButtonAhead">
                      <button type="button" class="btn btn-success btn-outlined btn-sm" (click)="openModal(addCustomer)">เพิ่ม</button>
                    </div>
                  </div>
                  <div class="col-md-8" *ngIf="!edit.info">
                    <input type="text" class="inputUsername form-control" name="customerName" id="customerName" [(ngModel)]="data.customer.name"
                      [readonly]="!edit.info" />
                  </div>
                </div>

                <div class="no-data col-md-8 col-md-offset-3" *ngIf="typeaheadNoResults===true">
                  <i class="fa fa-remove"></i> ไม่พบข้อมูลลูกค้า
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="tel" class="col-md-3 control-label">
                  เบอร์โทร <span *ngIf="!edit.info">:</span><span class='require' *ngIf="edit.info">*</span></label>
                  <div class="col-md-8">
                    <input type="text" placeholder="เบอร์โทร" class="inputUsername form-control" name="tel" id="tel" [(ngModel)]="data.tel" [readonly]="!edit.info"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-12 btnAction" *ngIf="edit.info">
                <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="cancleEdit()">ยกเลิก</button>
                <button type="button" class="btn btn-success btn-square" (click)="editData()">บันทึก</button>
              </div>
            </div>
          </div>
        </div>
        <div class="portlet box portlet-primary broken">
          <div class="portlet-header">
            <div class="caption">อาการ</div>
            <div class="tools">
              <i class="fa fa-pencil" (click)="setEdit('broken')"></i>
            </div>
          </div>
          <div class="portlet-body">
            <div class="row form-horizontal">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="estimate_price" class="col-md-3 control-label">
                  ราคาประเมิน <span *ngIf="!edit.broken">:</span></label>
                  <div class="col-md-8">
                    <input type="text" placeholder="ราคาประเมิน" class="inputUsername form-control" name="estimate_price" id="estimate_price"
                      [(ngModel)]="data.estimate_price" [readonly]="!edit.broken" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group broken">
                  <div class="col-md-12 brokenInput" *ngFor="let item of data.broken; let i = index">
                    <div class="input-group">
                      <span class="input-group-addon">{{i+1}}</span>
                      <input type="text" placeholder="อาการ" class="form-control" [(ngModel)]="data.broken[i].message" [readonly]="!edit.broken"
                      />
                    </div>
                  </div>
                  <div class="col-md-12" *ngIf="edit.broken">
                    <button type="button" class="btn btn-green btn-outlined btn-block brokenAddBtn" (click)="addBrokens()"><i class="fa fa-plus"></i>&nbsp;&nbsp;เพิ่มอาการ</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="extra">
              <div class="row form-horizontal">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="cause_remark" class="col-md-3 control-label">หมายเหตุ <span *ngIf="!edit.broken">:</span></label>
                    <div class="col-md-8">
                      <textarea id="extra" rows="3" class="form-control" [(ngModel)]="data.cause_remark" name="cause_remark" *ngIf="edit.broken"></textarea>
                      <p *ngIf="!edit.broken">{{data.cause_remark}}</p>
                    </div>
                  </div>
                  <div class="col-md-12 btnAction" *ngIf="edit.broken">
                    <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="cancleEdit()">ยกเลิก</button>
                    <button type="button" class="btn btn-success btn-square" (click)="editData()">บันทึก</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portlet box portlet-primary fix">
          <div class="portlet-header">
            <div class="caption">รายการซ่อม</div>
            <div class="tools">
              <i class="fa fa-pencil" (click)="setEdit('fix')"></i>
            </div>
          </div>
          <div class="portlet-body">
            <div class="row form-horizontal">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="repair_price" class="col-md-3 control-label">
                  ราคาซ่อมจริง <span *ngIf="!edit.fix">:</span></label>
                  <div class="col-md-8">
                    <input type="text" placeholder="ราคาซ่อมจริง" class="inputUsername form-control" name="repair_price" id="repair_price" [(ngModel)]="data.repair_price"
                      [readonly]="!edit.fix" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group fix">
                  <div class="col-md-12 brokenInput" *ngFor="let item of data.fix; let i = index">
                    <div class="input-group">
                      <span class="input-group-addon">{{i+1}}</span>
                      <input type="text" placeholder="รายการซ่อม" class="form-control" [(ngModel)]="data.fix[i].message" [readonly]="!edit.fix"
                      />
                    </div>
                  </div>
                  <div class="col-md-12" *ngIf="edit.fix">
                    <button type="button" class="btn btn-green btn-outlined btn-block fixAddBtn" (click)="addFixs()"><i class="fa fa-plus"></i>&nbsp;&nbsp;เพิ่มรายการซ่อม</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="extra">
              <div class="row form-horizontal">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="repair_remark" class="col-md-3 control-label">หมายเหตุ <span *ngIf="!edit.fix">:</span></label>
                    <div class="col-md-8">
                      <textarea id="repair_remark" rows="3" class="form-control" [(ngModel)]="data.repair_remark" name="repair_remark" *ngIf="edit.fix"></textarea>
                      <p *ngIf="!edit.fix">{{data.repair_remark}}</p>
                    </div>
                  </div>
                  <div class="col-md-12 btnAction" *ngIf="edit.fix">
                    <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="cancleEdit()">ยกเลิก</button>
                    <button type="button" class="btn btn-success btn-square" (click)="editData()">บันทึก</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="row">
          <div class="col-md-7">
            <div class="portlet box portlet-primary status">
              <div class="portlet-header">
                <div class="caption">สถานะ</div>
                <div class="tools">
                  <i class="fa fa-pencil" (click)="setEdit('status')"></i>
                </div>
              </div>
              <div class="portlet-body ">
                <div class="statusText" [ngSwitch]="data.status">
                  <h4 class="statusShow text-blue" *ngSwitchCase="1">รับเรื่อง</h4>
                  <h4 class="statusShow text-yellow" *ngSwitchCase="2">กำลังซ่อม</h4>
                  <h4 class="statusShow text-green" *ngSwitchCase="3">สำเร็จ</h4>
                  <h4 class="statusShow text-red" *ngSwitchCase="4">ข้อผิดพลาด</h4>
                </div>
                <div class="statusEdit" *ngIf="edit.status">
                  <div class="row form-horizontal">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="status" class="col-md-2 control-label">
                  สถานะ <span *ngIf="!edit.status">:</span></label>
                        <div class="col-md-6">
                          <select [(ngModel)]="data.status" class="selectCenter" name="status" style="width:100%">
                          <option *ngFor="let status of statusText" [value]="status.id">{{status.message}}</option>
                      </select>
                        </div>
                      </div>
                      <div class="col-md-12 btnAction">
                        <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="cancleEdit()">ยกเลิก</button>
                        <button type="button" class="btn btn-success btn-square" (click)="editData()">บันทึก</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="portlet box portlet-primary action">
              <div class="portlet-header">
                <div class="caption">Action</div>
              </div>
              <div class="portlet-body">
                <button type="button" class="btn btn-violet btn-outlined" (click)="openPagePrint()"><i class="fa fa-print"></i> พิมพ์ใบซ่อม</button>
                <button type="button" class="btn btn-danger btn-outlined"><i class="fa fa-trash"></i> ลบใบซ่อม</button>
              </div>
            </div>
          </div>
        </div>
        <div class="portlet box portlet-primary productOriginal">
          <div class="portlet-header">
            <div class="caption">สินค้าที่นำมาซ่อม</div>
            <div class="tools">
              <i class="fa fa-pencil" (click)="setEdit('product')"></i>
            </div>
          </div>
          <div class="portlet-body">
            <div class="row form-horizontal">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="product_imei" class="col-md-4 control-label">
                  IMEI <span *ngIf="!edit.product">:</span></label>
                  <div class="col-md-8">
                    <input type="text" placeholder="รหัสสินค้า" class="inputUsername form-control" name="product_imei" id="product_imei" [(ngModel)]="data.item_imei"
                      readonly />
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="product_brand" class="col-md-4 control-label">
                  ยี่ห้อ <span *ngIf="!edit.product">:</span><span class='require' *ngIf="edit.product">*</span></label>
                  <div class="col-md-8">
                    <input type="text" placeholder="ยี่ห้อ" class="inputUsername form-control" name="product_brand" id="product_brand" [(ngModel)]="data.item_brand"
                      [readonly]="!edit.product" />
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="product_generation" class="col-md-4 control-label">
                  รุ่น <span *ngIf="!edit.product">:</span><span class='require' *ngIf="edit.product">*</span></label>
                  <div class="col-md-8">
                    <input type="text" placeholder="รุ่น" class="inputUsername form-control" name="product_generation" id="product_generation"
                      [(ngModel)]="data.item_generation" [readonly]="!edit.product" />
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="product_color" class="col-md-4 control-label">
                  สี <span *ngIf="!edit.product">:</span><span class='require' *ngIf="edit.product">*</span></label>
                  <div class="col-md-8">
                    <input type="text" placeholder="สี" class="inputUsername form-control" name="product_color" id="product_color" [(ngModel)]="data.item_color"
                      [readonly]="!edit.product" />
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="product_blame" class="col-md-4 control-label">
                  ตำหนิตัวเครื่อง <span *ngIf="!edit.product">:</span><span class='require' *ngIf="edit.product">*</span></label>
                  <div class="col-md-8">
                    <textarea id="product_blame" rows="3" class="inputUsername form-control" [(ngModel)]="data.item_blame" name="product_blame"
                      *ngIf="edit.product"></textarea>
                    <p *ngIf="!edit.product">{{data.item_blame}}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <!--<form [formGroup]="productHasItem" class="form-horizontal">-->
                  <div class="form-group">
                    <label for="inputDetail" class="col-md-4 control-label">Sim card :<span class='require' *ngIf="edit.product">*</span></label>
                    <div class="col-md-8 radioButtonCustom">
                      <div *ngIf="edit.product">
                        <label class="btn active">
                          <input type="radio" name="item_has_sim" [value]="1" [(ngModel)]="data.item_has_sim" [checked]="data.item_has_sim === '1'" [ngModelOptions]="{standalone: true}"/>
                          <i class="fa fa-circle-o notCheck"></i>
                          <i class="fa fa-check-circle-o selected"></i>
                          <span> มี</span>
                        </label>
                        <label class="btn">
                          <input type="radio" name="item_has_sim" [value]="0" [(ngModel)]="data.item_has_sim" [checked]="data.item_has_sim === '0'" [ngModelOptions]="{standalone: true}"/>
                          <i class="fa fa-circle-o notCheck"></i>
                          <i class="fa fa-check-circle-o selected"></i>
                          <span> ไม่มี</span>
                        </label>
                      </div>
                      <div *ngIf="!edit.product">
                        <label class="btn active">
                          <span *ngIf="!edit.product"> 
                            <i class="fa fa-circle-o" *ngIf="data.item_has_sim === 0"></i>
                            <i class="fa fa-check-circle-o" *ngIf="data.item_has_sim === 1"></i>
                          </span>
                          <span> มี</span>
                        </label>
                        <label class="btn">
                          <span *ngIf="!edit.product"> 
                            <i class="fa fa-circle-o" *ngIf="data.item_has_sim === 1"></i>
                            <i class="fa fa-check-circle-o" *ngIf="data.item_has_sim === 0"></i>
                          </span>
                          <span> ไม่มี</span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="item_has_mem" class="col-md-4 control-label">Memory card :<span class='require' *ngIf="edit.product">*</span></label>
                    <div class="col-md-8 radioButtonCustom">
                      <div *ngIf="edit.product">
                        <label class="btn active">
                          <input type="radio" name="item_has_mem" [value]="1" [(ngModel)]="data.item_has_mem" [checked]="data.item_has_mem === '1'" [ngModelOptions]="{standalone: true}"/>
                          <i class="fa fa-circle-o notCheck"></i>
                          <i class="fa fa-check-circle-o selected"></i>
                          <span> มี</span>
                        </label>
                        <label class="btn">
                          <input type="radio" name="item_has_mem" [value]="0" [(ngModel)]="data.item_has_mem" [checked]="data.item_has_mem === '0'" [ngModelOptions]="{standalone: true}"/>
                          <i class="fa fa-circle-o notCheck"></i>
                          <i class="fa fa-check-circle-o selected"></i>
                          <span> ไม่มี</span>
                        </label>
                      </div>
                      <div *ngIf="!edit.product">
                        <label class="btn active">
                          <span *ngIf="!edit.product"> 
                            <i class="fa fa-circle-o" *ngIf="data.item_has_mem === 0"></i>
                            <i class="fa fa-check-circle-o" *ngIf="data.item_has_mem === 1"></i>
                          </span>
                          <span> มี</span>
                        </label>
                        <label class="btn">
                          <span *ngIf="!edit.product"> 
                            <i class="fa fa-circle-o" *ngIf="data.item_has_mem === 1"></i>
                            <i class="fa fa-check-circle-o" *ngIf="data.item_has_mem === 0"></i>
                          </span>
                          <span> ไม่มี</span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="item_has_battery" class="col-md-4 control-label">Battery :<span class='require' *ngIf="edit.product">*</span></label>
                    <div class="col-md-8 radioButtonCustom">
                      <div *ngIf="edit.product">
                        <label class="btn active">
                          <input type="radio" name="item_has_battery" [value]="1" [(ngModel)]="data.item_has_battery" [checked]="data.item_has_battery === '1'" [ngModelOptions]="{standalone: true}"/>
                          <i class="fa fa-circle-o notCheck"></i>
                          <i class="fa fa-check-circle-o selected"></i>
                          <span> มี</span>
                        </label>
                        <label class="btn">
                          <input type="radio" name="item_has_battery" [value]="0" [(ngModel)]="data.item_has_battery" [checked]="data.item_has_battery === '0'" [ngModelOptions]="{standalone: true}"/>
                          <i class="fa fa-circle-o notCheck"></i>
                          <i class="fa fa-check-circle-o selected"></i>
                          <span> ไม่มี</span>
                        </label>
                      </div>
                      <div *ngIf="!edit.product">
                        <label class="btn active">
                          <span *ngIf="!edit.product"> 
                            <i class="fa fa-circle-o" *ngIf="data.item_has_battery === 0"></i>
                            <i class="fa fa-check-circle-o" *ngIf="data.item_has_battery === 1"></i>
                          </span>
                          <span> มี</span>
                        </label>
                        <label class="btn">
                          <span *ngIf="!edit.product"> 
                            <i class="fa fa-circle-o" *ngIf="data.item_has_battery === 1"></i>
                            <i class="fa fa-check-circle-o" *ngIf="data.item_has_battery === 0"></i>
                          </span>
                          <span> ไม่มี</span>
                        </label>
                      </div>
                    </div>
                  </div>
                <!--</form>-->
              </div>
              <div class="col-md-12 btnAction" *ngIf="edit.product">
                <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="cancleEdit()">ยกเลิก</button>
                <button type="button" class="btn btn-success btn-square" (click)="editData()">บันทึก</button>
              </div>
            </div>
          </div>
        </div>
        <div class="portlet box portlet-primary agreement">
          <div class="portlet-header">
            <div class="caption">ข้อตกลง</div>
            <div class="tools">
              <i class="fa fa-pencil" (click)="setEdit('agreement')"></i>
            </div>
          </div>
          <div class="portlet-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group fix">
                  <div class="col-md-12 brokenInput" *ngFor="let item of data.agreement; let i = index">
                    <div class="input-group">
                      <span class="input-group-addon">{{i+1}}</span>
                      <input type="text" placeholder="ข้อตกลง" class="form-control" [(ngModel)]="data.agreement[i].message" [readonly]="!edit.agreement"
                      />
                    </div>
                  </div>
                  <div class="col-md-12" *ngIf="edit.agreement">
                    <button type="button" class="btn btn-green btn-outlined btn-block agreementAddBtn" (click)="addAgreements()"><i class="fa fa-plus"></i>&nbsp;&nbsp;เพิ่มข้อตกลง</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="extra">
              <div class="row form-horizontal">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="agreement_remark" class="col-md-3 control-label">หมายเหตุ <span *ngIf="!edit.agreement">:</span></label>
                    <div class="col-md-8">
                      <textarea id="agreement_remark" rows="3" class="form-control" [(ngModel)]="data.agreement_remark" name="agreement_remark"
                        *ngIf="edit.agreement"></textarea>
                      <p *ngIf="!edit.agreement">{{data.agreement_remark}}</p>
                    </div>
                  </div>
                  <div class="col-md-12 btnAction" *ngIf="edit.agreement">
                    <button type="button" class="btn btn-danger btn-outlined btn-square" (click)="cancleEdit()">ยกเลิก</button>
                    <button type="button" class="btn btn-success btn-square" (click)="editData()">บันทึก</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<template #customItemCustomerTemplate let-model="item" let-index="index">
  <div class="nameAutocomplete">
    <h5><strong>ชื่อ :: </strong> {{model.name}}</h5>
    <h5><strong>เบอร์ :: </strong> {{model.tel}}</h5>
  </div>
</template>

<template #customItemProductTemplate let-model="item" let-index="index">
  <div class="nameAutocomplete">
    <h5><strong>barcode :: </strong> {{model.barcode}}</h5>
    <h5><strong>ชื่อสินค้า :: </strong> {{model.name}}</h5>
    <h5><strong>ประเภท :: </strong> {{model.type}}</h5>
  </div>
</template>