<!-- title -->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
  <div class="page-header pull-left">
    <div class="page-title">{{Heading}}</div>
  </div>
  <ol class="breadcrumb page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>&nbsp;
      <a [routerLink]="['/dashboard']">Home</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
      <a [routerLink]="['/product/manage/list']">รายการสินค้า</a>&nbsp;&nbsp;
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    </li>
    <li class="active">{{Heading}}</li>
  </ol>

  <div class="clearfix"></div>
</div>

<!-- content -->
<div class="page-content" id="barcodePrint">
  <div id="barcodePrint-page" class="row">
    <div class="col-md-8">
      <div class="panel">
        <div id="print-section">
          <div class="panel-body">
            <div class="row ">
              <div *ngFor="let item of barcodeSelect">
                <div class="eachBarcode col-md-3" *ngFor="let i of item.quantity | arrayNumber">
                  <!--<img class="col-md-12" src="{{item.barcode && 'http://www.pion.co.th/images/Knowledges/Barcode/barcode01.jpg'}}" />-->
                  <img class="col-md-12" src="{{item.barcode}}" />
                  <p>{{item.code}}</p>
                  <p>{{item.name}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="col-md-12">
          <div class="panel barcodeForm">
            <div class="panel-heading">เลือกจำนวน barcode
            </div>
            <div class="panel-body">
              <form action="#" class="form-horizontal">
                <div class="list-group">
                  <div class="list-group-item" *ngFor="let item of barcodeSelect; let i = index;">
                    <i class="fa fa-close" (click)="removeItem(i)"></i>
                    <h5 class="list-group-item-heading">{{item.name}}</h5>
                    <div class="list-group-item-text">
                      <input name="'barcodeCount' + i" type="number" [(ngModel)]="item.quantity" placeholder="จำนวน" class="form-control" />
                    </div>
                  </div>
                </div>
              </form>
              <div class="row actionBtn">
                <!--<div class="col-md-4">-->
                <!--<button class="btn btn-info btn-outlined mrm"><i class="fa fa-refresh"></i>&nbsp; โหลดใหม่</button>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <button class="btn btn-success btn-outlined mrm" (click)="print()"><i class="fa fa-print"></i>&nbsp; พิมพ์</button>
                <button class="btn btn-success btn-outlined mrm" (click)="printFormat()"><i class="fa fa-print"></i>&nbsp; พิมพ์ตาม format</button>
                <!--</div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>