#barcodePrint {
    #print-section {
        .panel-body {
            .row {
                margin: 0px;
                .eachBarcode {
                    border: 1px solid;
                    text-align: center;
                    margin-left: -1px;
                    margin-bottom: -1px;
                    width: 20%;
                    padding: 10px 15px 5px 15px;;
                    img {
                        padding: 0px;
                        height: 25px;
                        margin-bottom: 5px;
                    }
                    p {
                        font-size: x-small;
                        color: black;
                        margin: 0px;
                        line-height: 10px;
                    }
                }
            }
        }
    }
    .barcodeForm {
        .panel-body {
            padding: 0px;
            .list-group {
                box-shadow: none;
                .list-group-item {
                    .fa-close {
                        position: absolute;
                        right: 5px;
                        top: 5px;
                    }
                    border: none;
                    border-bottom: 1px solid #e5e5e5;
                    margin-bottom: 0px;
                }
            }
            .actionBtn {
                margin: 10px 0px;
                text-align: center;
            }
        }
    }
}